{"openapi":"3.1.0","info":{"title":"MACO APP - erforderliche ERP Schnittstellen | MACO APP - needed ERP interfaces","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"Übersicht der erforderlichen BO4E- und Prozessschnittstellen, die die MACO APP für die Ausführung der Marktprozesse benötigt. | Overview of the necessary BO4E and process interfaces that the MACO APP requires to execute market processes.\n\n<details>\n<summary>Changelog</summary>\n\n- **Version 1.1.1** - *04. Oktober 2024* - _Autor: DAS_\n  - Anpassung der default Parameter : parameter1 = LokationsId / parameter2 = LokationsTyp / parameter3 = Parameter3 - gueltigAb - stichtag\n\n- **Version 1.1.0** - *26. September 2024* - _Autor: Tu Quy Nguyen_\n  - refactor openapi document\n\n- **Version 1.0.5** - *18. September 2024* - _Autor: DAS_\n  - Update Default Command auf SAP_ statt NOCODB_\n  - Update Default Beispiel MaloId auf 74018657187\n\n\n- **Version 1.0.4** - *13. September 2024* - _Autor: Tu Quy Nguyen_\n  - Update Formatierungen\n\n\n- **Version 1.0.3** - *28. August 2024* - _Autor: Tu Quy Nguyen_\n  - Aktualisierung Parameter LESEN Schnittstellen\n\n\n- **Version 1.0.2** - *20. August 2024* - _Autor: Tu Quy Nguyen_\n  - Schema ergänzt für START_N_BILA_REL_AEND_VON_NB, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_MESSWERTUEBERMITTLUNG, START_MALOIDENT, START_LIEFERENDE, START_KUENDIGUNG\n\n\n- **Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n  - Hinzufügen von mehrsprachigen Beschreibungen und Changelog.\n  - Anpassung der Schema-Beschreibungen in Deutsch und Englisch.\n\n\n- **Version 1.0** - *01. August 2024* - _Autor: DAS_\n  - Initiale Version der API-Dokumentation.\n\n</details>\n","version":"1.1.1"},"servers":[{"url":"https://api.macoapp.de","description":"Mock-Umgebung | Mock environment"}],"tags":[{"name":"AKTUALISIEREN | UPDATE","description":"Aktualisierung bestehender Geschäftsobjekte | \nUpdating existing business objects\n","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"ERSTELLEN | CREATE","description":"Erstellen von Geschäftsobjekten | Creating business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"EVENTDATEN | EVENT DATA","description":"Lesen von Eventdaten im ERP System | Reading event data in the ERP system"},{"name":"LESEN | READ","description":"Lesender Zugriff auf Geschäftsobjekte | Reading access to business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"LÖSCHEN | DELETE","description":"Löschen von Geschäftsobjekten | Deleting business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"PROZESSDATEN | PROCESSING DATA","description":"Auslösen von Prozessen im ERP System | \nTriggering processes in the ERP system\n"}],"security":[],"paths":{"/AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS":{"post":{"description":"Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1)  zum Zeitpunkt (Parameter2) | Updating the service provider's communication data (Parameter1)  at time (Parameter2)","operationId":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","parameters":[{"name":"command","in":"query","description":"Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)","schema":{"type":"string","default":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","example":"NOCODB_AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Vertrag","type":"object","properties":{"boTyp":{"default":"VERTRAG","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"sparte":{"title":"Sparte","type":"string","enum":["STROM","GAS","FERNWAERME","NAHWAERME","WASSER","ABWASSER"]},"vertragsart":{"type":"string"},"vertragsnummer":{"type":"string"},"beschreibung":{"type":"string"},"lokationsId":{"type":"string"},"lokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vertragsstatus":{"title":"Vertragstatus","type":"string","enum":["IN_ARBEIT","UEBERMITTELT","ANGENOMMEN","AKTIV","ABGELEHNT","WIDERRUFEN","STORNIERT","GEKUENDIGT","BEENDET"]},"vertragsbeginn":{"type":"string","format":"date-time"},"vertragsende":{"type":"string","format":"date-time"},"gemeinderabatt":{"type":"integer"},"vertragskonditionen":{"title":"Vertragskonditionen","type":"object","properties":{"netznutzungszahler":{"title":"Netznutzungszahler","type":"string","enum":["KUNDE","LIEFERANT"]},"netznutzungsvertrag":{"title":"Netznutzungsvertrag","type":"string","enum":["KUNDEN_NB","LIEFERANTEN_NB"]},"netznutzungsabrechnung":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"beinhaltetSingulaerGenutzteBetriebsmittel":{"type":"boolean"},"netznutzungsabrechnungsgrundlage":{"title":"Netznutzungsabrechnungsgrundlage","type":"string","enum":["LIEFERSCHEIN","ABWEICHENDE_GRUNDLAGE"]},"netznutzungsabrechnungsvariante":{"title":"Netznutzungsabrechnungsvariante","type":"string","enum":["ARBEITSPREIS_GRUNDPREIS","ARBEITSPREIS_LEISTUNGSPREIS"]},"haushaltskunde":{"type":"boolean"},"abrechnungUeberNna":{"type":"boolean"},"gemeinderabatt":{"title":"Gemeinderabatt","type":"object","properties":{"wert":{"type":"number","format":"float"},"einheit":{"type":"string"},"typ":{"type":"string"},"bemessungsgrundlage":{"type":"number","format":"float"}}},"startAbrechnungsjahr":{"type":"string","format":"date-time"},"naechstenetznutzungsabrechnung":{"type":"string"},"abrechnungsintervall":{"type":"integer"},"netznutzungsabrechnungIntervall":{"type":"integer"},"geplanteTurnusablesung":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"beauftragungMsb":{"title":"BeauftragungMsb","type":"string","enum":["VERTRAG_AN_MSB","VERTRAGSBEENDIGUNG_MSB"]},"kuendigungsfrist":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"vertragslaufzeit":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"kuendigungstermin":{"type":"string"},"abschlagszyklus":{"description":"In diesen Zyklen werden Abschläge gestellt. Alternativ kann auch die Anzahl in den Konditionen angeben werden.","title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"anzahl_abschlaege":{"type":"number","format":"float","description":"Anzahl der vereinbarten Abschläge pro Jahr, z.B. 12"},"beschreibung":{"type":"string","description":"Freitext zur Beschreibung der Konditionen"},"vertragsverlaengerung":{"description":"Falls der Vertrag nicht gekündigt wird, verlängert er sich automatisch um die hier angegebene Zeit","title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}}}},"korrespondenzpartner":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]},"abrechnungUeberNna":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["DATEN","ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"vertragspartner1":{"type":"array","items":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]}},"vertragspartner2":{"type":"array","items":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]}},"enFG":{"type":"array","items":{"title":"EnFG","type":"object","properties":{"grundlageVerringerungUmlagen":{"title":"GrundlageVerringerungUmlagen","type":"string","enum":["ERFUELLT_VORAUSSETZUNG_NACH_ENFG","ERFUELLT_NICHT_VORAUSSETZUNG_NACH_ENFG","KEINE_ANGABE"]},"grund":{"type":"array","items":{"title":"GrundlageVerringerungUmlagenGrund","type":"string","enum":["ENFG_STROMSPEICHER_UND_VERLUSTENERGIE","ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN","ENFG_UMLAGEERHEBUNG_BEI_ANLAGEN_ZUR_VERSTROMUNG_VON_KUPPELGASEN","ENFG_HERSTELLUNG_VON_GRUENEN_WASSERSTOFF","ENFG_STROMKOSTENINTENSIVE_UNTERNEHMEN","ENFG_HERSTELLUNG_VON_WASSERSTOFF_IN_STROMKOSTENINTENSIVEN_UNTERNEHMEN","ENFG_SCHIENENBAHNEN","ENFG_ELEKTRISCHE_BETRIEBENE_BUSSEN_IM_LINIENVERKEHR","ENFG_LANDSTROMANLAGEN"]}}}}}},"required":["boTyp","versionStruktur"]}}},"description":"Erfolgreiches Lesen des Energieliefervertrages | Successful reading of energy delivery contract"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS":{"post":{"description":"Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1) zum Zeitpunkt (Parameter2) | Updating the communication data of the service provider (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","example":"NOCODB_AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS"}},{"name":"parameter1","description":"ILN Nummer | ILN number","in":"query","required":true,"schema":{"type":"string","example":"9903790000002"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"]},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"]}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"title":"Kommunikationsdaten","type":"object","properties":{"boTyp":{"default":"KOMMUNIKATIONSDATEN","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"gueltigkeit":{"type":"string","format":"date-time"},"kommunikationsDatenBlattInaktiv":{"type":"boolean"},"marktteilnehmer":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"]},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"]},"kommunikationsangaben":{"type":"array","items":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"]},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"]}}},"required":["boTyp","versionStruktur"]}}},"description":"Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful updating of communication data"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_LOKATIONSBUENDEL_BASIS":{"post":{"description":"Ändern eines Lokationsbündels mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a location bundle using location ID (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","example":"NOCODB_AKTUALISIEREN_LOKATIONSBUENDEL_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}},{"description":"Datum (Gültig ab) | Date (Valid from)","in":"query","name":"parameter3","required":true,"schema":{"example":"2024-06-28T12:18:00Z","format":"date-time","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$","type":"string"}},{"description":"Datum (Gültig bis) | Date (Valid until)","in":"query","name":"parameter4","required":true,"schema":{"example":"2024-06-28T12:18:00Z","format":"date-time","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Lokationsbuendel","type":"object","properties":{"boTyp":{"default":"LOKATIONSBUENDEL","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"lokationsbuendelstrukturId":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"},"standardisierteLokationsbuendelstruktur":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["DATEN","ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"zuordnungObjectcode":{"type":"array","items":{"title":"ZuordnungObjectcode","type":"object","properties":{"referenzLokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"referenzLokationsId":{"type":"string"},"vorgelagerteLokationTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vorgelagerteLokationId":{"type":"string"},"objectcode":{"type":"array","items":{"title":"Objectcode","type":"object","properties":{"objectcode":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"}}}},"referenzMarktlokationTechnischeRessource":{"type":"array","items":{"type":"string"}}}}}},"required":["boTyp","versionStruktur"]}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"title":"Lokationsbuendel","type":"object","properties":{"boTyp":{"default":"LOKATIONSBUENDEL","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"lokationsbuendelstrukturId":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"},"standardisierteLokationsbuendelstruktur":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["DATEN","ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"zuordnungObjectcode":{"type":"array","items":{"title":"ZuordnungObjectcode","type":"object","properties":{"referenzLokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"referenzLokationsId":{"type":"string"},"vorgelagerteLokationTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vorgelagerteLokationId":{"type":"string"},"objectcode":{"type":"array","items":{"title":"Objectcode","type":"object","properties":{"objectcode":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"}}}},"referenzMarktlokationTechnischeRessource":{"type":"array","items":{"type":"string"}}}}}},"required":["boTyp","versionStruktur"]}}},"description":"Erfolgreiches Aktualisieren des Lokationsbündels | Successful updating of the location bundle"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_MARKTLOKATION_BASIS":{"post":{"description":"Ändern einer MaLo mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a MaLo using location ID (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_MARKTLOKATION_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_MARKTLOKATION_BASIS","example":"NOCODB_AKTUALISIEREN_MARKTLOKATION_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Marktlokation","type":"object","properties":{"boTyp":{"default":"MARKTLOKATION","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"marktlokationsId":{"type":"string"},"sparte":{"type":"string"},"energierichtung":{"title":"Energierichtung","type":"string","enum":["AUSSP","EINSP"]},"bilanzierungsmethode":{"title":"Bilanzierungsmethode","type":"string","enum":["RLM","SLP","TLP_GEMEINSAM","TLP_GETRENNT","PAUSCHAL","IMS"]},"verbrauchsart":{"title":"Verbrauchsart","type":"string","enum":["KL","W","EMOB","SB","SW","WK"]},"unterbrechbar":{"type":"boolean"},"netzebene":{"title":"Netzebene","type":"string","enum":["NSP","MSP","HSP","HSS","MSP_NSP_UMSP","HSP_MSP_UMSP","HSS_HSP_UMSP","HD","MD","ND"]},"umspannung":{"title":"Netzebene","type":"string","enum":["NSP","MSP","HSP","HSS","MSP_NSP_UMSP","HSP_MSP_UMSP","HSS_HSP_UMSP","HD","MD","ND"]},"netzbetreiberCodeNr":{"type":"string"},"gebietTyp":{"title":"Gebiettyp","type":"string","enum":["REGELZONE","MARKTGEBIET","BILANZIERUNGSGEBIET","VERTEILNETZ","TRANSPORTNETZ","REGIONALNETZ","AREALNETZ","GRUNDVERSORGUNGSGEBIET","VERSORGUNGSGEBIET"]},"netzgebietNr":{"type":"string"},"bilanzierungsgebiet":{"type":"string"},"grundversorgerCodeNr":{"type":"string"},"gasqualitaet":{"title":"Gasqualitaet","type":"string","enum":["H_GAS","L_GAS"]},"endkunde":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]},"lokationsadresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"katasterinformation":{"title":"Katasteradresse","type":"object","properties":{"gemarkung_flur":{"type":"string"},"flurstueck":{"type":"string"}}},"regelzone":{"type":"string"},"marktgebiet":{"type":"string"},"zeitreihentyp":{"title":"Zeitreihentyp","type":"string","enum":["EGS","LGS","NZR","SES","SLS","TES","TLS","SLS_TLS","SES_TES"]},"messtechnischeEinordnung":{"title":"MesstechnischeEinordnung","type":"string","enum":["IMS","KME_MME","KEINE_MESSUNG"]},"sperrstatus":{"title":"Sperrstatus","type":"string","enum":["ENTSPERRT","GESPERRT"]},"referenzMarktlokationsId":{"type":"string"},"versorgungsart":{"title":"Versorgungsart","type":"string","enum":["ERSATZVERSORGUNG","GRUNDVERSORGUNG","ERSATZBELIEFERUNG"]},"eigentuemer":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]},"hausverwalter":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"]},"verguetungEmpfaenger":{"title":"VerguetungEmpfaenger","type":"string","enum":["KUNDE","LIEFERANT"]},"statusErzeugendeMalo":{"title":"StatusErzeugendeMarktlokation","type":"string","enum":["EINSPEISEVERGUETUNG_PARAGRAPH_37","GEFOERDERTE_DIREKTVERMARKTUNG","SONSTIGE_DIREKTVERMARKTUNG","VERMARKTUNG_OHNE_GESETZL_VERGUETUNG","KWKG_VERGUETUNG","EINSPEISEVERGUETUNG_PARAGRAPH_38_AUSFALLVERGUETUNG"]},"fernsteuerbarkeit":{"title":"Fernsteuerbarkeit","type":"string","enum":["TECHNISCH_NICHT_FERNSTEUERBAR","TECHNISCH_FERNSTEUERBAR","DURCH_LF_FERNSTEUERBAR"]},"foerderungsLand":{"type":"string"},"redispatch":{"type":"boolean"},"zukuenftigerMeldepunkt":{"type":"boolean"},"lokationszuordnung":{"title":"Lokationszuordnung","type":"string","enum":["UNVERAENDERT","BEGINNT","ENDET"]},"konfigurationsprodukt":{"type":"string"},"leistungskurvendefinition":{"type":"string"},"produktdatenRelevanteRolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"beteiligterMarktpartner":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"]},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"]},"modulNetzentgelte":{"title":"ModulNetzentgelte","type":"string","enum":["PAUSCHALE_NETZGELDREDUZIERUNG_MODUL_1","PROZENTUALE_REDUZIERUNG_ARBEITSPREIS_MODUL_2","ANREIZMODUL_ZEITVARIABLES_NETZENTGELT_MODUL_3"]},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["DATEN","ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"marktrollen":{"type":"array","items":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"]},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"]}},"zaehlwerke":{"type":"array","items":{"title":"Zaehlwerk","type":"object","properties":{"zaehlwerkId":{"type":"string"},"bezeichnung":{"type":"string"},"richtung":{"title":"Energierichtung","type":"string","enum":["AUSSP","EINSP"]},"obisKennzahl":{"type":"string"},"wandlerfaktor":{"type":"number","format":"float"},"einheit":{"title":"Mengeneinheit","type":"string","enum":["W","WH","KW","KWH","KVARH","MW","MWH","STUECK","KUBIKMETER","STUNDE","TAG","MONAT","JAHR","PROZENT","ANZAHL","VAR","KVAR","VARH","KWHK","Z16","KWT"]},"schwachlastfaehig":{"title":"Schwachlastfaehig","type":"string","enum":["SCHWACHLASTFAEHIG","NICHT_SCHWACHLASTFAEHIG"]},"verbrauchsart":{"title":"Verbrauchsart","type":"string","enum":["KL","W","EMOB","SB","SW","WK"]},"unterbrechbarkeit":{"title":"Unterbrechbarkeit","type":"string","enum":["UV","NUV"]},"waermenutzung":{"title":"Waermenutzung","type":"string","enum":["SPEICHERHEIZUNG","WAERMEPUMPE","DIREKTHEIZUNG","WAERMEPUMPE_WAERME_KAELTE","WAERMEPUMPE_KAELTE","WAERMEPUMPE_WAERME"]},"konzessionsabgabe":{"title":"Konzessionsabgabe","type":"object","properties":{"satz":{"title":"AbgabeArt","type":"string","enum":["KAS","SA","SAS","TA","TAS","TK","TKS","TS","TSS"]},"kosten":{"type":"number","format":"float"},"kategorie":{"type":"string"}}},"steuerbefreit":{"type":"boolean"},"vorkommastelle":{"type":"integer"},"nachkommastelle":{"type":"integer"},"abrechnungsrelevant":{"type":"boolean"},"anzahlAblesungen":{"type":"integer"},"zaehlzeiten":{"title":"Zaehlzeitregister","type":"object","properties":{"register":{"type":"string"},"zaehlzeitDefinition":{"type":"string"},"schwachlastfaehig":{"title":"Schwachlastfaehig","type":"string","enum":["SCHWACHLASTFAEHIG","NICHT_SCHWACHLASTFAEHIG"]}}},"konfiguration":{"type":"string"},"messprodukt":{"type":"string"},"wertegranularitaet":{"title":"Wertegranularitaet","type":"string","enum":["JAEHRLICH","HALBJAEHRLICH","QUARTALSWEISE","MONATLICH"]},"notwendigkeitZweiteMessung":{"title":"NotwendigkeitZweiteMessung","type":"string","enum":["VORHANDEN","NICHT_VORHANDEN"]},"werteuebermittlungVerwendungszweck":{"title":"WerteuebermittlungVerwendungszweck","type":"string","enum":["VORHANDEN","NICHT_VORHANDEN"]},"artE
[...]
