{"openapi":"3.1.0","info":{"title":"MACO APP - erforderliche ERP Schnittstellen | MACO APP - needed ERP interfaces","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"Übersicht der erforderlichen BO4E- und Prozessschnittstellen, die die MACO APP für die Ausführung der Marktprozesse benötigt. | Overview of the necessary BO4E and process interfaces that the MACO APP requires to execute market processes.\n\n<details>\n<summary>Changelog</summary>\n\n- **Version 1.1.4** - *14. November 2024* - _Autor: DAS_\n  - AKTUALISIEREN_MDOC_BASIS ergänzt\n\n- **Version 1.1.3** - *12. November 2024* - _Autor: DAS_\n  - LESEN_BILANZIERUNG_BASIS ergänzt\n\n- **Version 1.1.2** - *24. Oktober 2024* - _Autor: DAS_\n  - LESEN_BRECHNUNGSFORMEL_BASIS ergänzt\n\n- **Version 1.1.1** - *04. Oktober 2024* - _Autor: DAS_\n  - Anpassung der default Parameter : parameter1 = LokationsId / parameter2 = LokationsTyp / parameter3 = Parameter3 - gueltigAb - stichtag\n\n- **Version 1.1.0** - *26. September 2024* - _Autor: Tu Quy Nguyen_\n  - refactor openapi document\n\n- **Version 1.0.5** - *18. September 2024* - _Autor: DAS_\n  - Update Default Command auf SAP_ statt NOCODB_\n  - Update Default Beispiel MaloId auf 74018657187\n\n\n- **Version 1.0.4** - *13. September 2024* - _Autor: Tu Quy Nguyen_\n  - Update Formatierungen\n\n\n- **Version 1.0.3** - *28. August 2024* - _Autor: Tu Quy Nguyen_\n  - Aktualisierung Parameter LESEN Schnittstellen\n\n\n- **Version 1.0.2** - *20. August 2024* - _Autor: Tu Quy Nguyen_\n  - Schema ergänzt für START_N_BILA_REL_AEND_VON_NB, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_MESSWERTUEBERMITTLUNG, START_MALOIDENT, START_LIEFERENDE, START_KUENDIGUNG\n\n\n- **Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n  - Hinzufügen von mehrsprachigen Beschreibungen und Changelog.\n  - Anpassung der Schema-Beschreibungen in Deutsch und Englisch.\n\n\n- **Version 1.0** - *01. August 2024* - _Autor: DAS_\n  - Initiale Version der API-Dokumentation.\n\n</details>\n","version":"1.1.4"},"servers":[{"url":"https://api.macoapp.de","description":"Mock-Umgebung | Mock environment"}],"tags":[{"name":"AKTUALISIEREN | UPDATE","description":"Aktualisierung bestehender Geschäftsobjekte | \nUpdating existing business objects\n","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"ERSTELLEN | CREATE","description":"Erstellen von Geschäftsobjekten | Creating business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"EVENTDATEN | EVENT DATA","description":"Lesen von Eventdaten im ERP System | Reading event data in the ERP system"},{"name":"LESEN | READ","description":"Lesender Zugriff auf Geschäftsobjekte | Reading access to business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"LÖSCHEN | DELETE","description":"Löschen von Geschäftsobjekten | Deleting business objects","externalDocs":{"description":"BO4E JSON Schema","url":"https://github.com/conuti-gmbh/bo4e-schema"}},{"name":"PROZESSDATEN | PROCESSING DATA","description":"Auslösen von Prozessen im ERP System | \nTriggering processes in the ERP system\n"}],"security":[],"paths":{"/AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS":{"post":{"description":"Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1)  zum Zeitpunkt (Parameter2) | Updating the service provider's communication data (Parameter1)  at time (Parameter2)","operationId":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","parameters":[{"name":"command","in":"query","description":"Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)","schema":{"type":"string","default":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","example":"NOCODB_AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"title":"Vertrag","type":"object","properties":{"boTyp":{"default":"VERTRAG","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"sparte":{"title":"Sparte","type":"string","enum":["STROM","GAS","FERNWAERME","NAHWAERME","WASSER","ABWASSER"]},"vertragsart":{"type":"string"},"vertragsnummer":{"type":"string"},"beschreibung":{"type":"string"},"lokationsId":{"type":"string"},"lokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vertragsstatus":{"title":"Vertragstatus","type":"string","enum":["IN_ARBEIT","UEBERMITTELT","ANGENOMMEN","AKTIV","ABGELEHNT","WIDERRUFEN","STORNIERT","GEKUENDIGT","BEENDET"]},"vertragsbeginn":{"type":"string","format":"date-time"},"vertragsende":{"type":"string","format":"date-time"},"gemeinderabatt":{"type":"integer"},"vertragskonditionen":{"title":"Vertragskonditionen","type":"object","properties":{"netznutzungszahler":{"title":"Netznutzungszahler","type":"string","enum":["KUNDE","LIEFERANT"]},"netznutzungsvertrag":{"title":"Netznutzungsvertrag","type":"string","enum":["KUNDEN_NB","LIEFERANTEN_NB"]},"netznutzungsabrechnung":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"beinhaltetSingulaerGenutzteBetriebsmittel":{"type":"boolean"},"netznutzungsabrechnungsgrundlage":{"title":"Netznutzungsabrechnungsgrundlage","type":"string","enum":["LIEFERSCHEIN","ABWEICHENDE_GRUNDLAGE"]},"netznutzungsabrechnungsvariante":{"title":"Netznutzungsabrechnungsvariante","type":"string","enum":["ARBEITSPREIS_GRUNDPREIS","ARBEITSPREIS_LEISTUNGSPREIS"]},"haushaltskunde":{"type":"boolean"},"abrechnungUeberNna":{"type":"boolean"},"gemeinderabatt":{"title":"Gemeinderabatt","type":"object","properties":{"wert":{"type":"number","format":"float"},"einheit":{"type":"string"},"typ":{"type":"string"},"bemessungsgrundlage":{"type":"number","format":"float"}}},"startAbrechnungsjahr":{"type":"string","format":"date-time"},"naechstenetznutzungsabrechnung":{"type":"string"},"abrechnungsintervall":{"type":"integer"},"netznutzungsabrechnungIntervall":{"type":"integer"},"geplanteTurnusablesung":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"beauftragungMsb":{"title":"BeauftragungMsb","type":"string","enum":["VERTRAG_AN_MSB","VERTRAGSBEENDIGUNG_MSB"]},"kuendigungsfrist":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"vertragslaufzeit":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"kuendigungstermin":{"type":"string"},"abschlagszyklus":{"description":"In diesen Zyklen werden Abschläge gestellt. Alternativ kann auch die Anzahl in den Konditionen angeben werden.","title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"anzahl_abschlaege":{"type":"number","format":"float","description":"Anzahl der vereinbarten Abschläge pro Jahr, z.B. 12"},"beschreibung":{"type":"string","description":"Freitext zur Beschreibung der Konditionen"},"vertragsverlaengerung":{"description":"Falls der Vertrag nicht gekündigt wird, verlängert er sich automatisch um die hier angegebene Zeit","title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}}}},"korrespondenzpartner":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Dr.","name1":"Schumacher","name2":"Ilias","name3":"dolor amet aliqua velit veniam","name4":"eiusmod ex","umsatzsteuerId":"DE011100001","glaeubigerId":"162922","emailAdresse":"Tyler.Munch@hotmail.com","website":"https://brandneu-malaria.name/","gewerbekennzeichnung":true,"hrnummer":"328848","amtsgericht":"Hamm","partneradresse":{"postleitzahl":"36306","ort":"Alt Domenic","strasse":"Freiheitstr.","hausnummer":"88","postfach":"sint aliquip ullamco","adresszusatz":"laborum deserunt magna","coErgaenzung":"amet in ea consequat","landescode":"TL","ortsteil":"Chantalscheid","zusatzInformation":{"zusatz1":"exercitation officia aute","zusatz2":"officia ea in occaecat","zusatz3":"Ut laborum sunt commodo fugiat","zusatz4":"cupidatat elit aute esse ad","zusatz5":"est cupidatat proident ipsum"}},"externeKundenummerLieferant":"654678","externeReferenzen":[{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"6864910032"}],"geschaeftspartnerrolle":["ABLESEKARTENEMPFAENGER"],"kontaktweg":["TELEFONAT"]}},"abrechnungUeberNna":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"vertragspartner1":{"type":"array","items":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Dr.","name1":"Schumacher","name2":"Ilias","name3":"dolor amet aliqua velit veniam","name4":"eiusmod ex","umsatzsteuerId":"DE011100001","glaeubigerId":"162922","emailAdresse":"Tyler.Munch@hotmail.com","website":"https://brandneu-malaria.name/","gewerbekennzeichnung":true,"hrnummer":"328848","amtsgericht":"Hamm","partneradresse":{"postleitzahl":"36306","ort":"Alt Domenic","strasse":"Freiheitstr.","hausnummer":"88","postfach":"sint aliquip ullamco","adresszusatz":"laborum deserunt magna","coErgaenzung":"amet in ea consequat","landescode":"TL","ortsteil":"Chantalscheid","zusatzInformation":{"zusatz1":"exercitation officia aute","zusatz2":"officia ea in occaecat","zusatz3":"Ut laborum sunt commodo fugiat","zusatz4":"cupidatat elit aute esse ad","zusatz5":"est cupidatat proident ipsum"}},"externeKundenummerLieferant":"654678","externeReferenzen":[{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"6864910032"}],"geschaeftspartnerrolle":["ABLESEKARTENEMPFAENGER"],"kontaktweg":["TELEFONAT"]}}},"vertragspartner2":{"type":"array","items":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Dr.","name1":"Schumacher","name2":"Ilias","name3":"dolor amet aliqua velit veniam","name4":"eiusmod ex","umsatzsteuerId":"DE011100001","glaeubigerId":"162922","emailAdresse":"Tyler.Munch@hotmail.com","website":"https://brandneu-malaria.name/","gewerbekennzeichnung":true,"hrnummer":"328848","amtsgericht":"Hamm","partneradresse":{"postleitzahl":"36306","ort":"Alt Domenic","strasse":"Freiheitstr.","hausnummer":"88","postfach":"sint aliquip ullamco","adresszusatz":"laborum deserunt magna","coErgaenzung":"amet in ea consequat","landescode":"TL","ortsteil":"Chantalscheid","zusatzInformation":{"zusatz1":"exercitation officia aute","zusatz2":"officia ea in occaecat","zusatz3":"Ut laborum sunt commodo fugiat","zusatz4":"cupidatat elit aute esse ad","zusatz5":"est cupidatat proident ipsum"}},"externeKundenummerLieferant":"654678","externeReferenzen":[{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"6864910032"}],"geschaeftspartnerrolle":["ABLESEKARTENEMPFAENGER"],"kontaktweg":["TELEFONAT"]}}},"enFG":{"type":"array","items":{"title":"EnFG","type":"object","properties":{"grundlageVerringerungUmlagen":{"title":"GrundlageVerringerungUmlagen","type":"string","enum":["ERFUELLT_VORAUSSETZUNG_NACH_ENFG","ERFUELLT_NICHT_VORAUSSETZUNG_NACH_ENFG","KEINE_ANGABE"]},"grund":{"type":"array","items":{"title":"GrundlageVerringerungUmlagenGrund","type":"string","enum":["ENFG_STROMSPEICHER_UND_VERLUSTENERGIE","ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN","ENFG_UMLAGEERHEBUNG_BEI_ANLAGEN_ZUR_VERSTROMUNG_VON_KUPPELGASEN","ENFG_HERSTELLUNG_VON_GRUENEN_WASSERSTOFF","ENFG_STROMKOSTENINTENSIVE_UNTERNEHMEN","ENFG_HERSTELLUNG_VON_WASSERSTOFF_IN_STROMKOSTENINTENSIVEN_UNTERNEHMEN","ENFG_SCHIENENBAHNEN","ENFG_ELEKTRISCHE_BETRIEBENE_BUSSEN_IM_LINIENVERKEHR","ENFG_LANDSTROMANLAGEN"]}}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"VERTRAG","versionStruktur":"1","sparte":"FERNWAERME","vertragsart":"ut sit adipisicing ut irure","vertragsnummer":"nulla elit aute aliqua","beschreibung":"est sint fugiat in ex","lokationsId":"10745341945","lokationsTyp":"TECHNISCHE_RESSOURCE","vertragsstatus":"STORNIERT","vertragsbeginn":"1895-07-25T02:29:04.0Z","vertragsende":"1928-03-27T02:47:01.0Z","gemeinderabatt":13,"vertragskonditionen":{"netznutzungszahler":"LIEFERANT","netznutzungsvertrag":"KUNDEN_NB","netznutzungsabrechnung":{"zeiteinheit":"TAG","dauer":2,"startdatum":"1967-12-19T17:19:50.0Z","enddatum":"1917-12-17T20:25:30.0Z","einheit":"WOCHE","ableseZeitraum":"321116","abrechnungsZeitraum":"169660","zeitraumText":"in eu","zeitraumId":8},"beinhaltetSingulaerGenutzteBetriebsmittel":false,"netznutzungsabrechnungsgrundlage":"ABWEICHENDE_GRUNDLAGE","netznutzungsabrechnungsvariante":"ARBEITSPREIS_LEISTUNGSPREIS","haushaltskunde":false,"abrechnungUeberNna":true,"gemeinderabatt":{"wert":12,"einheit":"reprehenderit dolore Duis laborum occaecat","typ":"qui occaecat","bemessungsgrundlage":15},"startAbrechnungsjahr":"1940-11-29T08:44:15.0Z","naechstenetznutzungsabrechnung":"6706","abrechnungsintervall":2,"netznutzungsabrechnungIntervall":2,"geplanteTurnusablesung":{"zeiteinheit":"SEKUNDE","dauer":5,"startdatum":"1942-04-16T17:55:17.0Z","enddatum":"1950-03-19T10:31:36.0Z","einheit":"SEKUNDE","ableseZeitraum":"229829","abrechnungsZeitraum":"849853","zeitraumText":"aliquip ullamco reprehenderit amet","zeitraumId":4},"beauftragungMsb":"VERTRAGSBEENDIGUNG_MSB","kuendigungsfrist":{"zeiteinheit":"VIERTEL_STUNDE","dauer":9,"startdatum":"1950-10-29T01:33:57.0Z","enddatum":"1903-02-21T03:47:39.0Z","einheit":"MONAT","ableseZeitraum":"470766","abrechnungsZeitraum":"537442","zeitraumText":"cillum","zeitraumId":9},"vertragslaufzeit":{"zeiteinheit":"QUARTAL","dauer":7,"startdatum":"1950-05-03T13:19:08.0Z","enddatum":"1943-09-14T06:51:20.0Z","einheit":"QUARTAL","ableseZeitraum":"183426","abrechnungsZeitraum":"567649","zeitraumText":"reprehenderit","zeitraumId":6},"kuendigungstermin":"laborum dolore laboris commodo ad","abschlagszyklus":{"zeiteinheit":"MINUTE","dauer":5,"startdatum":"1908-03-30T01:10:43.0Z","enddatum":"1923-10-18T17:33:06.0Z","einheit":"QUARTAL","ableseZeitraum":"255992","abrechnungsZeitraum":"264097","zeitraumText":"dolor","zeitraumId":5},"anzahl_abschlaege":3,"beschreibung":"mollit esse quis velit","vertragsverlaengerung":{"zeiteinheit":"HALBJAHR","dauer":9,"startdatum":"1958-03-06T01:17:36.0Z","enddatum":"1935-12-31T01:53:16.0Z","einheit":"SEKUNDE","ableseZeitraum":"959782","abrechnungsZeitraum":"373074","zeitraumText":"velit","zeitraumId":7}},"korrespondenzpartner":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Prof. Dr.","name1":"Thieke","name2":"Mads","name3":"enim","name4":"irure consequat officia deserunt","umsatzsteuerId":"DE100000000","glaeubigerId":"724304","emailAdresse":"Pit_Burger60@hotmail.com","website":"https://genugsam-meter.ch","gewerbekennzeichnung":false,"hrnummer":"706232","amtsgericht":"Wiegelmanndorf","partneradresse":{"postleitzahl":"05908","ort":"West Tara","strasse":"Auestr.","hausnummer":"761","postfach":"Duis aliqua et","adresszusatz":"ullamco in aute","coErgaenzung":"quis dolor reprehenderit Ut in","landescode":"AQ","ortsteil":"Peine","zusatzInformation":{"zusatz1":"ut","zusatz2":"cillum labore reprehenderit","zusatz3":"ipsum anim exercitation deserunt adipisicing","zusatz4":"eiusmod","zusatz5":"officia enim ullamco"}},"externeKundenummerLieferant":"489245","externeReferenzen":[{"exRefName":"Kundennummer beim Lieferanten","exRefWert":"3601167408"}],"geschaeftspartnerrolle":["KUNDE"],"kontaktweg":["FAX"]},"abrechnungUeberNna":true,"datenqualitaet":"DIFFERENZ_ERWARTETE_DATEN","gueltigkeitszeitraum":{"zeiteinheit":"VIERTEL_STUNDE","dauer":8,"startdatum":"1941-04-07T03:20:08.0Z","enddatum":"1936-09-24T21:17:57.0Z","einheit":"VIERTEL_STUNDE","ableseZeitraum":"313571","abrechnungsZeitraum":"218446","zeitraumText":"velit voluptate veniam","zeitraumId":3},"vertragspartner1":[{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Herr","name1":"Diedrich","name2":"Olivia","name3":"exercitation quis ut culpa","name4":"aliqua et cupidatat consectetur","umsatzsteuerId":"DE100001011","glaeubigerId":"224734","emailAdresse":"Bjorn_Lamos4@gmail.com","website":"https://belebend-bewusstsein.info/","gewerbekennzeichnung":false,"hrnummer":"216479","amtsgericht":"Hannover","partneradresse":{"postleitzahl":"39377","ort":"West Isa","strasse":"Allensteiner Str.","hausnummer":"3","postfach":"Lorem","adresszusatz":"adipisicing Lorem dolor","coErgaenzung":"dolor proident est","landescode":"UG","ortsteil":"Potsdam","zusatzInformation":{"zusatz1":"nisi eu Lorem do magna","zusatz2":"sunt sit dolore ex culpa","zusatz3":"labore","zusatz4":"id est commodo","zusatz5":"voluptate"}},"externeKundenummerLieferant":"735976","externeReferenzen":[{"exRefName":"Kundennummer beim Lieferanten","exRefWert":"7876613370"}],"geschaeftspartnerrolle":["KUNDE"],"kontaktweg":["E_MAIL"]}],"vertragspartner2":[{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Prof. Dr.","name1":"Hess","name2":"Tyler","name3":"aliqua adipisicing ex","name4":"ex occaecat eu ut","umsatzsteuerId":"DE000100001","glaeubigerId":"219095","emailAdresse":"Michael.Seigel24@yahoo.com","website":"https://hervorstechend-sikhreligion.com/","gewerbekennzeichnung":false,"hrnummer":"991891","amtsgericht":"Schmidtchenburg","partneradresse":{"postleitzahl":"07965","ort":"Nord Aliceland","strasse":"Vincent-van-Gogh-Str.","hausnummer":"48a","postfach":"aliqua sit","adresszusatz":"sint minim qui","coErgaenzung":"elit ut sint non laboris","landescode":"BD","ortsteil":"Maikburg","zusatzInformation":{"zusatz1":"esse","zusatz2":"incididunt amet occaecat esse culpa","zusatz3":"proident","zusatz4":"nostrud","zusatz5":"Excepteur Duis amet ut in"}},"externeKundenummerLieferant":"945804","externeReferenzen":[{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"2969725103"}],"geschaeftspartnerrolle":["HAUSVERWALTER"],"kontaktweg":["FAX"]}],"enFG":[{"grundlageVerringerungUmlagen":"KEINE_ANGABE","grund":["ENFG_SCHIENENBAHNEN"]}]}}}},"description":"Erfolgreiches Lesen des Energieliefervertrages | Successful reading of energy delivery contract"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS":{"post":{"description":"Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1) zum Zeitpunkt (Parameter2) | Updating the communication data of the service provider (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","example":"NOCODB_AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS"}},{"name":"parameter1","description":"ILN Nummer | ILN number","in":"query","required":true,"schema":{"type":"string","example":"9903790000002"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Herzenberg","eMailAdresse":"Julie.Jung@gmail.com","rufnummern":[{"nummerntyp":"FAX_DURCHWAHL","rufnummer":"+49-235-4839677"}]}},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","geschaeftspartnerrolle":"INTERESSENT","anrede":"Prof. Dr.","name1":"Linden","name2":"Meike","name3":"adipisicing Excepteur labore minim dolor","name4":"Duis quis cupidatat anim deserunt","partneradresse":{"postleitzahl":"59929","ort":"Nord Iljaburg","strasse":"Saarstr.","hausnummer":"62","postfach":"aliquip consequat dolor","adresszusatz":"reprehenderit incididunt sed","coErgaenzung":"deserunt amet","landescode":"AX","ortsteil":"Rostock","zusatzInformation":{"zusatz1":"Duis et laboris voluptate quis","zusatz2":"occaecat sunt officia nisi","zusatz3":"cupidatat","zusatz4":"enim mollit ea reprehenderit","zusatz5":"ut"}},"gewerbekennzeichnung":false,"externeKundenummerLieferant":"tempor et est","marktrolle":"BKO","rollencodenummer":"205590902","rollencodetyp":"DVGW","umsatzsteuerId":"DE111001010","steuernummer":"550540345","ansprechpartner":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Beh","eMailAdresse":"Abdullah78@yahoo.com","rufnummern":[{"nummerntyp":"FAX_ZENTRALE","rufnummer":"+49-970-4417426"}]},"makoadresse":"ut deserunt id adipisicing","downloadlinkZertifikat":"https://gewichtig-jugendliche.de","amtsgericht":"Fulda","hrnummer":"873340","website":"https://vortrefflich-kupfer.name","faxnummer":"(0258) 707471054","kommunikationsrolle":"BEWEGUNGSDATEN","weiterverpflichtet":false,"kommunikationsparameter":{"zieladresse":{"zieladresse1":"qui id","zieladresse2":"esse ex","zieladresse3":"exercitation commodo esse adipisicing","zieladresse4":"sed","zieladresse5":"mollit nisi"},"zertifikatsAussteller":{"zertifikatsAussteller1":"sed id sint","zertifikatsAussteller2":"nisi","zertifikatsAussteller3":"adipisicing magna proident dolore","zertifikatsAussteller4":"veniam esse","zertifikatsAussteller5":"officia nulla Excepteur"},"zertifikatsNutzer":{"zertifikatsNutzer1":"ex","zertifikatsNutzer2":"laborum","zertifikatsNutzer3":"tempor","zertifikatsNutzer4":"nulla non","zertifikatsNutzer5":"cillum exercitation elit enim"}},"messstellenbetreiberEigenschaft":"GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","bankverbindung":[{"verwendungszweck":"BV_ZAHLUNG_NNA","iban":"FR206810086534F1P0362508087","kontoinhaber":"Dr. Constantin Schlicht","bic":"JAMTBEW6","kreditinstitut":"Savoia UG"}],"erreichbarkeit":[{"verfuegbarkeit":"MONTAG","zeit":"exercitation ex reprehenderit tempor Duis"}],"ipAdresse":"2e4b:5b4c:f79c:2cee:b9b6:6536:decd:df1f","ipRange":{"untereGrenze":"8499:2b5d:8ac9:2aaa:b65d:a827:d65b:b5be","obereGrenze":"aaca:e2ec:1cf1:f0db:6ed5:ec6d:73ac:c3be"}}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"title":"Kommunikationsdaten","type":"object","properties":{"boTyp":{"default":"KOMMUNIKATIONSDATEN","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"gueltigkeit":{"type":"string","format":"date-time"},"kommunikationsDatenBlattInaktiv":{"type":"boolean"},"marktteilnehmer":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Herzenberg","eMailAdresse":"Julie.Jung@gmail.com","rufnummern":[{"nummerntyp":"FAX_DURCHWAHL","rufnummer":"+49-235-4839677"}]}},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","geschaeftspartnerrolle":"INTERESSENT","anrede":"Prof. Dr.","name1":"Linden","name2":"Meike","name3":"adipisicing Excepteur labore minim dolor","name4":"Duis quis cupidatat anim deserunt","partneradresse":{"postleitzahl":"59929","ort":"Nord Iljaburg","strasse":"Saarstr.","hausnummer":"62","postfach":"aliquip consequat dolor","adresszusatz":"reprehenderit incididunt sed","coErgaenzung":"deserunt amet","landescode":"AX","ortsteil":"Rostock","zusatzInformation":{"zusatz1":"Duis et laboris voluptate quis","zusatz2":"occaecat sunt officia nisi","zusatz3":"cupidatat","zusatz4":"enim mollit ea reprehenderit","zusatz5":"ut"}},"gewerbekennzeichnung":false,"externeKundenummerLieferant":"tempor et est","marktrolle":"BKO","rollencodenummer":"205590902","rollencodetyp":"DVGW","umsatzsteuerId":"DE111001010","steuernummer":"550540345","ansprechpartner":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Beh","eMailAdresse":"Abdullah78@yahoo.com","rufnummern":[{"nummerntyp":"FAX_ZENTRALE","rufnummer":"+49-970-4417426"}]},"makoadresse":"ut deserunt id adipisicing","downloadlinkZertifikat":"https://gewichtig-jugendliche.de","amtsgericht":"Fulda","hrnummer":"873340","website":"https://vortrefflich-kupfer.name","faxnummer":"(0258) 707471054","kommunikationsrolle":"BEWEGUNGSDATEN","weiterverpflichtet":false,"kommunikationsparameter":{"zieladresse":{"zieladresse1":"qui id","zieladresse2":"esse ex","zieladresse3":"exercitation commodo esse adipisicing","zieladresse4":"sed","zieladresse5":"mollit nisi"},"zertifikatsAussteller":{"zertifikatsAussteller1":"sed id sint","zertifikatsAussteller2":"nisi","zertifikatsAussteller3":"adipisicing magna proident dolore","zertifikatsAussteller4":"veniam esse","zertifikatsAussteller5":"officia nulla Excepteur"},"zertifikatsNutzer":{"zertifikatsNutzer1":"ex","zertifikatsNutzer2":"laborum","zertifikatsNutzer3":"tempor","zertifikatsNutzer4":"nulla non","zertifikatsNutzer5":"cillum exercitation elit enim"}},"messstellenbetreiberEigenschaft":"GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","bankverbindung":[{"verwendungszweck":"BV_ZAHLUNG_NNA","iban":"FR206810086534F1P0362508087","kontoinhaber":"Dr. Constantin Schlicht","bic":"JAMTBEW6","kreditinstitut":"Savoia UG"}],"erreichbarkeit":[{"verfuegbarkeit":"MONTAG","zeit":"exercitation ex reprehenderit tempor Duis"}],"ipAdresse":"2e4b:5b4c:f79c:2cee:b9b6:6536:decd:df1f","ipRange":{"untereGrenze":"8499:2b5d:8ac9:2aaa:b65d:a827:d65b:b5be","obereGrenze":"aaca:e2ec:1cf1:f0db:6ed5:ec6d:73ac:c3be"}}},"kommunikationsangaben":{"type":"array","items":{"title":"Marktteilnehmer","type":"object","properties":{"boTyp":{"default":"MARKTTEILNEHMER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"geschaeftspartnerrolle":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"gewerbekennzeichnung":{"type":"boolean"},"externeKundenummerLieferant":{"type":"string"},"marktrolle":{"title":"Marktrolle","type":"string","enum":["NB","LF","MSB","MSBA","GMSB","MDL","DL","BKV","BKO","UENB","KUNDE-SELBST-NN","MGV","EIV","RB","KUNDE","INTERESSENT","KN","UBA","BIKO","ESA"]},"rollencodenummer":{"type":"string"},"rollencodetyp":{"title":"Rollencodetyp","type":"string","enum":["BDEW","GS1","GLN","DVGW"]},"umsatzsteuerId":{"type":"string"},"steuernummer":{"type":"string"},"ansprechpartner":{"title":"Ansprechpartner","type":"object","properties":{"boTyp":{"default":"ANSPRECHPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"nachname":{"type":"string"},"eMailAdresse":{"type":"string"},"rufnummern":{"type":"array","items":{"title":"Rufnummer","type":"object","properties":{"nummerntyp":{"title":"Rufnummernart","type":"string","enum":["RUF_ZENTRALE","FAX_ZENTRALE","SAMMELRUF","SAMMELFAX","ABTEILUNGRUF","ABTEILUNGFAX","RUF_DURCHWAHL","FAX_DURCHWAHL","MOBIL_NUMMER"]},"rufnummer":{"type":"string"}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Herzenberg","eMailAdresse":"Julie.Jung@gmail.com","rufnummern":[{"nummerntyp":"FAX_DURCHWAHL","rufnummer":"+49-235-4839677"}]}},"makoadresse":{"type":"string"},"downloadlinkZertifikat":{"type":"string"},"amtsgericht":{"type":"string"},"hrnummer":{"type":"string"},"website":{"type":"string"},"faxnummer":{"type":"string"},"kommunikationsrolle":{"title":"Kommunikationsrolle","type":"string","enum":["DATENAUSTAUSCH","RAHMENVERTRAEGE","KUENDIGUNGSPROZESSE","WECHSELPROZESSE","STAMMDATENPROZESSE","EINSPEISEPROZESSE","ABRECHNUNGSPROZESSE","MMMA_PROZESSE","BEWEGUNGSDATEN","ENT_SPERR_PROZESSE","BILANZIERUNGSPROZESSE","NETZANSCHLUSS_ANLAGEN"]},"weiterverpflichtet":{"type":"boolean"},"kommunikationsparameter":{"title":"Kommunikationsparameter","type":"object","properties":{"zieladresse":{"title":"Zieladresse","type":"object","properties":{"zieladresse1":{"type":"string"},"zieladresse2":{"type":"string"},"zieladresse3":{"type":"string"},"zieladresse4":{"type":"string"},"zieladresse5":{"type":"string"}}},"zertifikatsAussteller":{"title":"ZertifikatsAussteller","type":"object","properties":{"zertifikatsAussteller1":{"type":"string"},"zertifikatsAussteller2":{"type":"string"},"zertifikatsAussteller3":{"type":"string"},"zertifikatsAussteller4":{"type":"string"},"zertifikatsAussteller5":{"type":"string"}}},"zertifikatsNutzer":{"title":"ZertifikatsNutzer","type":"object","properties":{"zertifikatsNutzer1":{"type":"string"},"zertifikatsNutzer2":{"type":"string"},"zertifikatsNutzer3":{"type":"string"},"zertifikatsNutzer4":{"type":"string"},"zertifikatsNutzer5":{"type":"string"}}}}},"messstellenbetreiberEigenschaft":{"title":"MSBEigenschaft","type":"string","enum":["GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","WETTBEWERBLICHER_MESSSTELLENBETREIBER","AUFFANGMESSSTELLENBETREIBER"]},"bankverbindung":{"type":"array","items":{"title":"Bankverbindung","type":"object","properties":{"verwendungszweck":{"title":"BankverbindungVerwendungszweck","type":"string","enum":["BV_ZAHLUNG_NNA","BV_ZAHLUNG_MMMA","BV_ZAHLUNG_MSB_ABRECHNNUNG","BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG","BV_SONSTIGE"]},"iban":{"type":"string"},"kontoinhaber":{"type":"string"},"bic":{"type":"string"},"kreditinstitut":{"type":"string"}}}},"erreichbarkeit":{"type":"array","items":{"title":"Erreichbarkeit","type":"object","properties":{"verfuegbarkeit":{"title":"Verfuegbarkeit","type":"string","enum":["MONTAG","DIENSTAG","MITTWOCH","DONNERSTAG","FREITAG","PAUSE"]},"zeit":{"type":"string"}}}},"ipAdresse":{"type":"string"},"ipRange":{"title":"IpRange","type":"object","properties":{"untereGrenze":{"type":"string"},"obereGrenze":{"type":"string"}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","geschaeftspartnerrolle":"INTERESSENT","anrede":"Prof. Dr.","name1":"Linden","name2":"Meike","name3":"adipisicing Excepteur labore minim dolor","name4":"Duis quis cupidatat anim deserunt","partneradresse":{"postleitzahl":"59929","ort":"Nord Iljaburg","strasse":"Saarstr.","hausnummer":"62","postfach":"aliquip consequat dolor","adresszusatz":"reprehenderit incididunt sed","coErgaenzung":"deserunt amet","landescode":"AX","ortsteil":"Rostock","zusatzInformation":{"zusatz1":"Duis et laboris voluptate quis","zusatz2":"occaecat sunt officia nisi","zusatz3":"cupidatat","zusatz4":"enim mollit ea reprehenderit","zusatz5":"ut"}},"gewerbekennzeichnung":false,"externeKundenummerLieferant":"tempor et est","marktrolle":"BKO","rollencodenummer":"205590902","rollencodetyp":"DVGW","umsatzsteuerId":"DE111001010","steuernummer":"550540345","ansprechpartner":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Beh","eMailAdresse":"Abdullah78@yahoo.com","rufnummern":[{"nummerntyp":"FAX_ZENTRALE","rufnummer":"+49-970-4417426"}]},"makoadresse":"ut deserunt id adipisicing","downloadlinkZertifikat":"https://gewichtig-jugendliche.de","amtsgericht":"Fulda","hrnummer":"873340","website":"https://vortrefflich-kupfer.name","faxnummer":"(0258) 707471054","kommunikationsrolle":"BEWEGUNGSDATEN","weiterverpflichtet":false,"kommunikationsparameter":{"zieladresse":{"zieladresse1":"qui id","zieladresse2":"esse ex","zieladresse3":"exercitation commodo esse adipisicing","zieladresse4":"sed","zieladresse5":"mollit nisi"},"zertifikatsAussteller":{"zertifikatsAussteller1":"sed id sint","zertifikatsAussteller2":"nisi","zertifikatsAussteller3":"adipisicing magna proident dolore","zertifikatsAussteller4":"veniam esse","zertifikatsAussteller5":"officia nulla Excepteur"},"zertifikatsNutzer":{"zertifikatsNutzer1":"ex","zertifikatsNutzer2":"laborum","zertifikatsNutzer3":"tempor","zertifikatsNutzer4":"nulla non","zertifikatsNutzer5":"cillum exercitation elit enim"}},"messstellenbetreiberEigenschaft":"GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","bankverbindung":[{"verwendungszweck":"BV_ZAHLUNG_NNA","iban":"FR206810086534F1P0362508087","kontoinhaber":"Dr. Constantin Schlicht","bic":"JAMTBEW6","kreditinstitut":"Savoia UG"}],"erreichbarkeit":[{"verfuegbarkeit":"MONTAG","zeit":"exercitation ex reprehenderit tempor Duis"}],"ipAdresse":"2e4b:5b4c:f79c:2cee:b9b6:6536:decd:df1f","ipRange":{"untereGrenze":"8499:2b5d:8ac9:2aaa:b65d:a827:d65b:b5be","obereGrenze":"aaca:e2ec:1cf1:f0db:6ed5:ec6d:73ac:c3be"}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"KOMMUNIKATIONSDATEN","versionStruktur":"1","gueltigkeit":"1908-06-19T07:30:28.0Z","kommunikationsDatenBlattInaktiv":false,"marktteilnehmer":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","geschaeftspartnerrolle":"LIEFERANT","anrede":"Frau","name1":"Östringer","name2":"Steven","name3":"consectetur","name4":"cupidatat eu aliquip","partneradresse":{"postleitzahl":"21043","ort":"Unna","strasse":"Leimbacher Hof","hausnummer":"470","postfach":"qui fugiat","adresszusatz":"consectetur et","coErgaenzung":"in cupidatat elit officia","landescode":"VA","ortsteil":"Neu Isabelleburg","zusatzInformation":{"zusatz1":"eu","zusatz2":"mollit cupidatat exercitation","zusatz3":"occaecat quis minim laboris","zusatz4":"laborum in pariatur cupidatat","zusatz5":"Lorem officia Duis cillum"}},"gewerbekennzeichnung":false,"externeKundenummerLieferant":"tempor officia nisi","marktrolle":"BKO","rollencodenummer":"263861356","rollencodetyp":"GLN","umsatzsteuerId":"DE010100000","steuernummer":"547551489","ansprechpartner":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Stube","eMailAdresse":"Thalia65@yahoo.com","rufnummern":[{"nummerntyp":"ABTEILUNGFAX","rufnummer":"+49-2079-54045862"}]},"makoadresse":"sed proident Duis adipisicing aliquip","downloadlinkZertifikat":"https://wohltuend-kino.ch","amtsgericht":"West Nisascheid","hrnummer":"745389","website":"https://majestatisch-insekt.com","faxnummer":"+49-8884-34403574","kommunikationsrolle":"WECHSELPROZESSE","weiterverpflichtet":false,"kommunikationsparameter":{"zieladresse":{"zieladresse1":"tempor non ullamco","zieladresse2":"velit nulla officia","zieladresse3":"laboris sint velit et ipsum","zieladresse4":"laboris aute laborum aliqua enim","zieladresse5":"id in adipisicing sed"},"zertifikatsAussteller":{"zertifikatsAussteller1":"fugiat ipsum esse","zertifikatsAussteller2":"commodo in dolor","zertifikatsAussteller3":"tempor velit fugiat","zertifikatsAussteller4":"veniam amet do","zertifikatsAussteller5":"elit consequat enim"},"zertifikatsNutzer":{"zertifikatsNutzer1":"anim aliquip consectetur esse fugiat","zertifikatsNutzer2":"voluptate deserunt Lorem laboris","zertifikatsNutzer3":"eu nisi esse ad fugiat","zertifikatsNutzer4":"officia nisi","zertifikatsNutzer5":"fugiat aliqua nisi adipisicing"}},"messstellenbetreiberEigenschaft":"WETTBEWERBLICHER_MESSSTELLENBETREIBER","bankverbindung":[{"verwendungszweck":"BV_ZAHLUNG_NNA","iban":"AL1940790365522X42C362874N7O","kontoinhaber":"Peter Borsch","bic":"GXZCCXCOXXX","kreditinstitut":"Jasinski, Fuhlbrügge und Scholz"}],"erreichbarkeit":[{"verfuegbarkeit":"DIENSTAG","zeit":"eu in Ut"}],"ipAdresse":"6f11:9415:fae0:5c25:6894:660b:7a95:afbf","ipRange":{"untereGrenze":"9369:ad0d:0ae3:4deb:8152:6ceb:7c46:b3ba","obereGrenze":"235.170.218.39"}},"kommunikationsangaben":[{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","geschaeftspartnerrolle":"INTERESSENT","anrede":"Frau","name1":"Faulhaber","name2":"Alia","name3":"consectetur qui ut proident dolor","name4":"ullamco","partneradresse":{"postleitzahl":"61448","ort":"Neumünster","strasse":"Karl-Friedrich-Goerdeler-Str.","hausnummer":"64a","postfach":"velit officia cillum","adresszusatz":"in deserunt dolore dolor","coErgaenzung":"adipisicing","landescode":"SN","ortsteil":"Bad Angeliquescheid","zusatzInformation":{"zusatz1":"non do aute","zusatz2":"et mollit pariatur","zusatz3":"mollit Excepteur","zusatz4":"Ut laborum tempor nulla pariatur","zusatz5":"proident"}},"gewerbekennzeichnung":false,"externeKundenummerLieferant":"consectetur consequat magna","marktrolle":"KN","rollencodenummer":"425135886","rollencodetyp":"BDEW","umsatzsteuerId":"DE000000010","steuernummer":"741102803","ansprechpartner":{"boTyp":"ANSPRECHPARTNER","versionStruktur":"1","nachname":"Lenfers","eMailAdresse":"Xenia.Caspers@gmail.com","rufnummern":[{"nummerntyp":"SAMMELRUF","rufnummer":"(04104) 9017096"}]},"makoadresse":"fugiat dolor in","downloadlinkZertifikat":"https://exzessiv-kilogramm.name/","amtsgericht":"Bühlerburg","hrnummer":"296305","website":"https://poetisch-sache.net","faxnummer":"+49-021-9975225","kommunikationsrolle":"BILANZIERUNGSPROZESSE","weiterverpflichtet":false,"kommunikationsparameter":{"zieladresse":{"zieladresse1":"nisi dolor","zieladresse2":"voluptate in commodo veniam","zieladresse3":"pariatur in est nostrud Lorem","zieladresse4":"aliqua sint velit cupidatat elit","zieladresse5":"laborum sint"},"zertifikatsAussteller":{"zertifikatsAussteller1":"consectetur pariatur ad labore","zertifikatsAussteller2":"nulla mollit occaecat incididunt pariatur","zertifikatsAussteller3":"deserunt","zertifikatsAussteller4":"ipsum quis in commodo","zertifikatsAussteller5":"anim magna culpa"},"zertifikatsNutzer":{"zertifikatsNutzer1":"et nulla sed","zertifikatsNutzer2":"Ut laborum","zertifikatsNutzer3":"do","zertifikatsNutzer4":"dolore aliqua","zertifikatsNutzer5":"officia Duis qui do occaecat"}},"messstellenbetreiberEigenschaft":"GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER","bankverbindung":[{"verwendungszweck":"BV_ZAHLUNG_MSB_ABRECHNNUNG","iban":"AZ05ZPHV74030080582360800016","kontoinhaber":"Laureen Oppong","bic":"UAPQVE4ZXXX","kreditinstitut":"Kahlert-Schimmer"}],"erreichbarkeit":[{"verfuegbarkeit":"MONTAG","zeit":"reprehenderit cillum"}],"ipAdresse":"dce6:56f7:e6fc:e581:dc05:ba6e:eefb:2af8","ipRange":{"untereGrenze":"207.105.8.181","obereGrenze":"218.54.11.234"}}]}}}},"description":"Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful updating of communication data"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_KOMMUNIKATIONSDATEN_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_LOKATIONSBUENDEL_BASIS":{"post":{"description":"Ändern eines Lokationsbündels mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a location bundle using location ID (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","example":"NOCODB_AKTUALISIEREN_LOKATIONSBUENDEL_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}},{"description":"Datum (Gültig ab) | Date (Valid from)","in":"query","name":"parameter3","required":true,"schema":{"example":"2024-06-28T12:18:00Z","format":"date-time","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$","type":"string"}},{"description":"Datum (Gültig bis) | Date (Valid until)","in":"query","name":"parameter4","required":true,"schema":{"example":"2024-06-28T12:18:00Z","format":"date-time","pattern":"^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Lokationsbuendel","type":"object","properties":{"boTyp":{"default":"LOKATIONSBUENDEL","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"lokationsbuendelstrukturId":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"},"standardisierteLokationsbuendelstruktur":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"zuordnungObjectcode":{"type":"array","items":{"title":"ZuordnungObjectcode","type":"object","properties":{"referenzLokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"referenzLokationsId":{"type":"string"},"vorgelagerteLokationTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vorgelagerteLokationId":{"type":"string"},"objectcode":{"type":"array","items":{"title":"Objectcode","type":"object","properties":{"objectcode":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"}}}},"referenzMarktlokationTechnischeRessource":{"type":"array","items":{"type":"string"}}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"LOKATIONSBUENDEL","versionStruktur":"1","lokationsbuendelstrukturId":"93715456522","lokationsbuendelNummer":20248209,"standardisierteLokationsbuendelstruktur":false,"datenqualitaet":"GUELTIGE_DATEN","gueltigkeitszeitraum":{"zeiteinheit":"SEKUNDE","dauer":2,"startdatum":"1954-07-10T14:16:49.0Z","enddatum":"1946-08-29T16:11:04.0Z","einheit":"JAHR","ableseZeitraum":"637015","abrechnungsZeitraum":"935333","zeitraumText":"velit","zeitraumId":9},"zuordnungObjectcode":[{"referenzLokationsTyp":"NELO","referenzLokationsId":"33473227261","vorgelagerteLokationTyp":"NELO","vorgelagerteLokationId":"43215940245","objectcode":[{"objectcode":"CODE_001100","lokationsbuendelNummer":1}],"referenzMarktlokationTechnischeRessource":["08531982527"]}]}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"title":"Lokationsbuendel","type":"object","properties":{"boTyp":{"default":"LOKATIONSBUENDEL","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"lokationsbuendelstrukturId":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"},"standardisierteLokationsbuendelstruktur":{"type":"boolean"},"datenqualitaet":{"title":"Datenqualitaet","type":"string","enum":["ERWARTETE_DATEN","IM_SYSTEM_VORHANDENE_DATEN","INFORMATIVE_DATEN","GUELTIGE_DATEN","KEINE_DATEN","IM_SYSTEM_KEINE_DATEN_VORHANDEN","KEINE_DATEN_ERWARTET","DIFFERENZ_DATEN","DIFFERENZ_ERWARTETE_DATEN","DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN"]},"gueltigkeitszeitraum":{"title":"Zeitraum","type":"object","properties":{"zeiteinheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"dauer":{"type":"integer"},"startdatum":{"type":"string","format":"date-time"},"enddatum":{"type":"string","format":"date-time"},"einheit":{"title":"Zeiteinheit","type":"string","enum":["SEKUNDE","MINUTE","STUNDE","VIERTEL_STUNDE","TAG","WOCHE","MONAT","QUARTAL","HALBJAHR","JAHR"]},"ableseZeitraum":{"type":"string"},"abrechnungsZeitraum":{"type":"string"},"zeitraumText":{"type":"string"},"zeitraumId":{"type":"integer"}}},"zuordnungObjectcode":{"type":"array","items":{"title":"ZuordnungObjectcode","type":"object","properties":{"referenzLokationsTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"referenzLokationsId":{"type":"string"},"vorgelagerteLokationTyp":{"title":"Lokationstyp","type":"string","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE"]},"vorgelagerteLokationId":{"type":"string"},"objectcode":{"type":"array","items":{"title":"Objectcode","type":"object","properties":{"objectcode":{"type":"string"},"lokationsbuendelNummer":{"type":"integer"}}}},"referenzMarktlokationTechnischeRessource":{"type":"array","items":{"type":"string"}}}}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"LOKATIONSBUENDEL","versionStruktur":"1","lokationsbuendelstrukturId":"93715456522","lokationsbuendelNummer":20248209,"standardisierteLokationsbuendelstruktur":false,"datenqualitaet":"GUELTIGE_DATEN","gueltigkeitszeitraum":{"zeiteinheit":"SEKUNDE","dauer":2,"startdatum":"1954-07-10T14:16:49.0Z","enddatum":"1946-08-29T16:11:04.0Z","einheit":"JAHR","ableseZeitraum":"637015","abrechnungsZeitraum":"935333","zeitraumText":"velit","zeitraumId":9},"zuordnungObjectcode":[{"referenzLokationsTyp":"NELO","referenzLokationsId":"33473227261","vorgelagerteLokationTyp":"NELO","vorgelagerteLokationId":"43215940245","objectcode":[{"objectcode":"CODE_001100","lokationsbuendelNummer":1}],"referenzMarktlokationTechnischeRessource":["08531982527"]}]}}}},"description":"Erfolgreiches Aktualisieren des Lokationsbündels | Successful updating of the location bundle"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"},"errors":{"type":"array","description":"Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket","items":{"type":"object","properties":{"code":{"type":"string","example":5432},"field":{"type":"string","example":"first_name"},"message":{"type":"string","example":"First name cannot have fancy characters"}}}}}}}},"description":"Fehlerhafte Anfrage | Bad Request"}},"summary":"AKTUALISIEREN_LOKATIONSBUENDEL_BASIS","tags":["AKTUALISIEREN | UPDATE"]}},"/AKTUALISIEREN_MARKTLOKATION_BASIS":{"post":{"description":"Ändern einer MaLo mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a MaLo using location ID (Parameter1) at the time (Parameter2)","operationId":"AKTUALISIEREN_MARKTLOKATION_BASIS","parameters":[{"name":"command","in":"query","required":true,"description":"Name der Operation | Name of the operation","schema":{"type":"string","default":"AKTUALISIEREN_MARKTLOKATION_BASIS","example":"NOCODB_AKTUALISIEREN_MARKTLOKATION_BASIS"}},{"name":"parameter1","description":"LokationsId | Location ID","in":"query","required":true,"schema":{"type":"string","example":"74018657187"}},{"description":"LokationsTyp | Location type","in":"query","name":"parameter2","required":true,"schema":{"example":"MALO","type":"string","default":"MALO","enum":["MALO","MELO","NELO","TECHNISCHE_RESSOURCE","STEUERBARE_RESOURCE","TRANCHE"]}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Marktlokation","type":"object","properties":{"boTyp":{"default":"MARKTLOKATION","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"marktlokationsId":{"type":"string"},"sparte":{"type":"string"},"energierichtung":{"title":"Energierichtung","type":"string","enum":["AUSSP","EINSP"]},"bilanzierungsmethode":{"title":"Bilanzierungsmethode","type":"string","enum":["RLM","SLP","TLP_GEMEINSAM","TLP_GETRENNT","PAUSCHAL","IMS"]},"verbrauchsart":{"title":"Verbrauchsart","type":"string","enum":["KL","W","EMOB","SB","SW","WK"]},"unterbrechbar":{"type":"boolean"},"netzebene":{"title":"Netzebene","type":"string","enum":["NSP","MSP","HSP","HSS","MSP_NSP_UMSP","HSP_MSP_UMSP","HSS_HSP_UMSP","HD","MD","ND"]},"umspannung":{"title":"Netzebene","type":"string","enum":["NSP","MSP","HSP","HSS","MSP_NSP_UMSP","HSP_MSP_UMSP","HSS_HSP_UMSP","HD","MD","ND"]},"netzbetreiberCodeNr":{"type":"string"},"gebietTyp":{"title":"Gebiettyp","type":"string","enum":["REGELZONE","MARKTGEBIET","BILANZIERUNGSGEBIET","VERTEILNETZ","TRANSPORTNETZ","REGIONALNETZ","AREALNETZ","GRUNDVERSORGUNGSGEBIET","VERSORGUNGSGEBIET"]},"netzgebietNr":{"type":"string"},"bilanzierungsgebiet":{"type":"string"},"grundversorgerCodeNr":{"type":"string"},"gasqualitaet":{"title":"Gasqualitaet","type":"string","enum":["H_GAS","L_GAS"]},"endkunde":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"externeKundenummerLieferant":{"type":"string"},"externeReferenzen":{"type":"array","items":{"title":"ExterneReferenz","type":"object","properties":{"exRefName":{"type":"string","enum":["Kundennummer beim Lieferanten","Kundennummer beim Altlieferanten"]},"exRefWert":{"type":"string"}}}},"geschaeftspartnerrolle":{"type":"array","items":{"title":"Geschaeftspartnerrolle","type":"string","enum":["KUNDE","LIEFERANT","DIENSTLEISTER","INTERESSENT","MARKTPARTNER","EIGENTUEMER","HAUSVERWALTER","KORRESPONDENZEMPFAENGER","ABLESEKARTENEMPFAENGER"]}},"kontaktweg":{"type":"array","items":{"title":"Kontaktart","type":"string","enum":["ANSCHREIBEN","TELEFONAT","FAX","E_MAIL","SMS"]}}},"required":["boTyp","versionStruktur"],"example":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Dr.","name1":"Schumacher","name2":"Ilias","name3":"dolor amet aliqua velit veniam","name4":"eiusmod ex","umsatzsteuerId":"DE011100001","glaeubigerId":"162922","emailAdresse":"Tyler.Munch@hotmail.com","website":"https://brandneu-malaria.name/","gewerbekennzeichnung":true,"hrnummer":"328848","amtsgericht":"Hamm","partneradresse":{"postleitzahl":"36306","ort":"Alt Domenic","strasse":"Freiheitstr.","hausnummer":"88","postfach":"sint aliquip ullamco","adresszusatz":"laborum deserunt magna","coErgaenzung":"amet in ea consequat","landescode":"TL","ortsteil":"Chantalscheid","zusatzInformation":{"zusatz1":"exercitation officia aute","zusatz2":"officia ea in occaecat","zusatz3":"Ut laborum sunt commodo fugiat","zusatz4":"cupidatat elit aute esse ad","zusatz5":"est cupidatat proident ipsum"}},"externeKundenummerLieferant":"654678","externeReferenzen":[{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"6864910032"}],"geschaeftspartnerrolle":["ABLESEKARTENEMPFAENGER"],"kontaktweg":["TELEFONAT"]}},"lokationsadresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NT","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SF","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UK","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","YT","YU","ZA","ZM","ZR","ZW"]},"ortsteil":{"type":"string"},"zusatzInformation":{"title":"AdresszusatzInformation","type":"object","properties":{"zusatz1":{"type":"string"},"zusatz2":{"type":"string"},"zusatz3":{"type":"string"},"zusatz4":{"type":"string"},"zusatz5":{"type":"string"}}}}},"katasterinformation":{"title":"Katasteradresse","type":"object","properties":{"gemarkung_flur":{"type":"string"},"flurstueck":{"type":"string"},"flurstueckNummer":{"type":"string"}}},"regelzone":{"type":"string"},"marktgebiet":{"type":"string"},"zeitreihentyp":{"title":"Zeitreihentyp","type":"string","enum":["EGS","LGS","NZR","SES","SLS","TES","TLS","SLS_TLS","SES_TES"]},"messtechnischeEinordnung":{"title":"MesstechnischeEinordnung","type":"string","enum":["IMS","KME_MME","KEINE_MESSUNG"]},"sperrstatus":{"title":"Sperrstatus","type":"string","enum":["ENTSPERRT","GESPERRT"]},"referenzMarktlokationsId":{"type":"string"},"versorgungsart":{"title":"Versorgungsart","type":"string","enum":["ERSATZVERSORGUNG","GRUNDVERSORGUNG","ERSATZBELIEFERUNG"]},"eigentuemer":{"title":"Geschaeftspartner","type":"object","properties":{"boTyp":{"default":"GESCHAEFTSPARTNER","title":"BOTyp","type":"string","description":"Typ des BO","enum":["ANSPRECHPARTNER","AVIS","ENERGIEMENGE","GESCHAEFTSOBJEKT","GESCHAEFTSPARTNER","MARKTLOKATION","MARKTTEILNEHMER","MESSLOKATION","ZAEHLER","KOSTEN","TARIF","PREISBLATT","PREISBLATTNETZNUTZUNG","PREISBLATTMESSUNG","PREISBLATTUMLAGEN","PREISBLATTDIENSTLEISTUNG","PREISBLATTKONZESSIONSABGABE","ZEITREIHE","LASTGANG","HANDELSUNSTIMMIGKEIT","ANFRAGE","AUFTRAG","STATUSMITTEILUNG","BERECHNUNGSFORMEL","RECHNUNG","BILANZIERUNG","NETZNUTZUNGSVERTRAG","MESSSTELLENBETRIEBSVERTRAG","ENERGIELIEFERVERTRAG","SPERRAUFTRAG","ANGEBOT","TRANCHE","KOMMUNIKATIONSDATEN","ZAEHLZEITDEFINITION","SCHALTZEITDEFINITION","LEISTUNGSKURVENDEFINITION","NETZLOKATION","STEUERBARE_RESSOURCE","TECHNISCHE_RESSOURCE","AD_HOC_STEUERKANAL","LOKATIONSBUENDEL","WERTE_NACH_TYP2","REKLAMATION","STATUSBERICHT","VERTRAG","BILANZKREIS","VERWENDUNGSZEITRAUM","TARIFINFO"]},"versionStruktur":{"type":"string","default":"1"},"anrede":{"type":"string"},"name1":{"type":"string"},"name2":{"type":"string"},"name3":{"type":"string"},"name4":{"type":"string"},"umsatzsteuerId":{"type":"string"},"glaeubigerId":{"type":"string"},"emailAdresse":{"type":"string"},"website":{"type":"string"},"gewerbekennzeichnung":{"type":"boolean"},"hrnummer":{"type":"string"},"amtsgericht":{"type":"string"},"partneradresse":{"title":"Adresse","type":"object","properties":{"postleitzahl":{"type":"string"},"ort":{"type":"string"},"strasse":{"type":"string"},"hausnummer":{"type":"string"},"postfach":{"type":"string"},"adresszusatz":{"type":"string"},"coErgaenzung":{"type":"string"},"landescode":{"title":"Landescode","type":"string","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BU","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CS","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","
[...]
