{
  "openapi": "3.1.0",
  "info": {
    "title": "Trigger Event API",
    "description": "API zum Auslösen von ausgehenden Prozessen in der MACO APP | API for triggering outbound maco processes in the MACO APP\n\n<details>\n<summary>Changelog</summary>\n\n- **Version 1.0.2** - *04. Oktober 2024* - _Autor: DAS_\n  - Update START_LIEFERBEGINN und START_LIEFERENDE\n\n**Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n\n- Erweiterung der API um zusätzliche Schemas und Beispiele.\n- Hinzugefügte Schemas: `START_LIEFERBEGINN_STROM`, `START_LIEFERBEGINN_GAS`, `START_ABR_NN`, `START_DEFINITION_SCHALTZEIT`, `START_DEFINITION_LEISTUNGSKURVE`, `START_DEFINITION_ZAEHLZEIT`, `START_KUENDIGUNG`.\n\n**Version 1.0.0** - *01. August 2024* - _Autor: DAS_\n\n- Initiale Veröffentlichung der API mit dem `START_SPERRAUFTRAG`-Schema.\n\n</details>\n",
    "version": "1.0.2",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.macoapp.de",
      "description": "Fake Env"
    }
  ],
  "tags": [
    {
      "name": "SLIM EVENTS",
      "description": "Trigger Event mit Angabe vom Typ und einer BelegId, mit der Daten im ERP nachgelesen werden können. | Trigger event with specification of the type and a document ID where data can be read in the backend."
    },
    {
      "name": "SAP EVENTS",
      "description": "Trigger Events aus dem CONVISTA SAP Adapter."
    },
    {
      "name": "EXTENDED EVENTS",
      "description": "Trigger Events, die alle notwendigen Informationen enthalten, ohne Daten nachlesen zu müssen. | Trigger events that contain all necessary information.\n*Die erweiterten Events dokumentieren welche Parameter ein Event eines bestimmten Type enthalten kann und mindestens muss* | *The extended events document which parameters an event of a certain type can and at least must contain.*\n"
    },
    {
      "name": "LIEFERANT",
      "description": "Trigger Events aus dem Backend in der Rolle Lieferant"
    }
  ],
  "paths": {
    "/START_LIEFERBEGINN": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_LIEFERBEGINN",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Lieferbeginn | Schema for the delivery start",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  },
                  "empfaenger": {
                    "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                    "example": "9903790000002",
                    "type": "string"
                  },
                  "absender": {
                    "description": "Rollencodenummer des Absenders | Role code number of the sender",
                    "example": "9800044300007",
                    "type": "string"
                  },
                  "marktlokationsId": {
                    "description": "Marktlokations-ID | Market location ID",
                    "example": "50074561188",
                    "type": "string"
                  },
                  "transaktionsgrund": {
                    "description": "Transaktionsgrund | transaction reason",
                    "example": "Z02",
                    "default": "Z02",
                    "type": "string"
                  },
                  "transaktionsgrundergaenzung": {
                    "description": "Transaktionsgrundergänzung | transaction reason addition",
                    "example": "E03",
                    "default": "E03",
                    "type": "string"
                  },
                  "transaktionsgrundergaenzungBefristeteAnmeldung": {
                    "description": "Transaktionsgrundergänzung | transaction reason addition",
                    "example": "E03",
                    "default": "E03",
                    "type": "string"
                  },
                  "sparte": {
                    "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                    "example": "STROM",
                    "type": "string"
                  },
                  "energierichtung": {
                    "description": "Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP",
                    "example": "AUSSP",
                    "type": "string"
                  },
                  "bilanzkreis": {
                    "description": "bilanzkreis",
                    "example": "bilanzkreis",
                    "type": "string"
                  },
                  "vertragsbeginn": {
                    "description": "Beginn des Vertrags | Start of the contract",
                    "example": "2024-10-31T23:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  },
                  "vertragsende": {
                    "description": "Ende des Vertrags | End of the contract",
                    "example": "2024-06-01T04:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  },
                  "haushaltskunde": {
                    "description": "Haushaltskunde",
                    "example": true,
                    "type": "boolean"
                  },
                  "gewerbekennzeichnung": {
                    "description": "Gewerbekennzeichnung",
                    "example": true,
                    "type": "boolean"
                  },
                  "verguetungEmpfaenger": {
                    "description": "VerguetungEmpfaenger",
                    "example": "VerguetungEmpfaenger",
                    "type": "string"
                  },
                  "bildungTranchengroesse": {
                    "description": "bildungTranchengroesse",
                    "example": "bildungTranchengroesse",
                    "type": "string"
                  },
                  "wert": {
                    "description": "wert",
                    "example": "wert",
                    "type": "string"
                  },
                  "einheit": {
                    "description": "einheit",
                    "example": "einheit",
                    "type": "string"
                  },
                  "anrede": {
                    "description": "anrede",
                    "example": "HERR",
                    "type": "string"
                  },
                  "name1": {
                    "description": "name1",
                    "example": "name1",
                    "type": "string"
                  },
                  "name2": {
                    "description": "name2",
                    "example": "name2",
                    "type": "string"
                  },
                  "postleitzahl": {
                    "description": "postleitzahl",
                    "example": "76229",
                    "type": "string"
                  },
                  "ort": {
                    "description": "ort",
                    "example": "Karlsruhe",
                    "type": "string"
                  },
                  "strasse": {
                    "description": "strasse",
                    "example": "Greschbachstraße",
                    "type": "string"
                  },
                  "hausnummer": {
                    "description": "hausnummer",
                    "example": "5",
                    "type": "string"
                  },
                  "ortsteil": {
                    "description": "ortsteil",
                    "example": "Ausbau",
                    "type": "string"
                  },
                  "landescode": {
                    "description": "landescode",
                    "example": "DE",
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_LIEFERBEGINN",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_LIEFERENDE": {
      "post": {
        "deprecated": false,
        "description": "Versand vom Lieferende aus dem Backend | trigger delivery end",
        "operationId": "START_LIEFERENDE",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Lieferende | Schema for end of delivery",
                "properties": {
                  "eventName": {
                    "default": "START_LIEFERENDE",
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  },
                  "absender": {
                    "description": "Rollencodenummer des Absenders | Role code number of the sender",
                    "example": "9800044300007",
                    "type": "string"
                  },
                  "empfaenger": {
                    "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                    "example": "9903790000002",
                    "type": "string"
                  },
                  "vertragsende": {
                    "description": "Ende des Vertrags | End of the contract",
                    "example": "2024-06-01T04:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  },
                  "marktlokationsId": {
                    "description": "Marktlokations-ID | Market location ID",
                    "example": "50074561188",
                    "type": "string"
                  },
                  "sparte": {
                    "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                    "example": "STROM",
                    "type": "string"
                  },
                  "transaktionsgrund": {
                    "description": "Transaktionsgrund | transaction reason",
                    "example": "Z02",
                    "default": "Z02",
                    "type": "string"
                  },
                  "transaktionsgrundergaenzung": {
                    "description": "Transaktionsgrundergänzung | transaction reason addition",
                    "example": "E03",
                    "default": "E03",
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName",
                  "absender",
                  "empfaenger",
                  "vertragsende",
                  "marktlokationsId",
                  "sparte",
                  "transaktionsgrund",
                  "transaktionsgrundergaenzung"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_LIEFERENDE",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/AENDERUNG_AD": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "AENDERUNG_AD",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Änderung | Schema for the update of object",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "AENDERUNG_AD",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_ENERGIEMENGE": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_ENERGIEMENGE",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Energiemenge | Schema for the Energiemenge",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_ENERGIEMENGE",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_KUENDIGUNG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_KUENDIGUNG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "START_KUENDIGUNG",
                "description": "Schema für die Kündigung eines Vertrags | Schema for the termination of a contract",
                "properties": {
                  "absender": {
                    "description": "Rollencodenummer des Absenders | Role code number of the sender",
                    "example": "9800044300007",
                    "type": "string"
                  },
                  "empfaenger": {
                    "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                    "example": "9903790000002",
                    "type": "string"
                  },
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  },
                  "marktlokationsId": {
                    "description": "Marktlokations-ID | Market location ID",
                    "example": "50074561188",
                    "type": "string"
                  },
                  "sparte": {
                    "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                    "example": "STROM",
                    "type": "string"
                  },
                  "vertragsart": {
                    "description": "Art des Vertrags | Type of contract",
                    "example": "ENERGIELIEFERVERTRAG",
                    "type": "string"
                  },
                  "vertragsende": {
                    "description": "Ende des Vertrags | End of the contract",
                    "example": "2024-06-01T04:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName",
                  "marktlokationsId",
                  "sparte",
                  "vertragsart",
                  "vertragsende",
                  "empfaenger",
                  "absender"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_KUENDIGUNG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_LASTGANG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_LASTGANG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Lastgang | Schema for the lastgang",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_LASTGANG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_NACHRICHTENEINGANG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_NACHRICHTENEINGANG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Nachrichteingang | Schema for the inbound message",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_NACHRICHTENEINGANG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_PARTIN": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_PARTIN",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für partin | Schema for the partin",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_PARTIN",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_MALOIDENT": {
      "post": {
        "deprecated": false,
        "description": "Versand einer MaloIdent Anfrage via API-Webdienst",
        "operationId": "START_MALOIDENT",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "START_MALOIDENT_NUR_NAME": {
                  "summary": "Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit Name und Adresse",
                  "value": {
                    "eventName": "START_MALOIDENT",
                    "id": 12345678901,
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "energierichtung": "AUSSP",
                    "ausfuehrungsdatum": "2024-11-07T23:00:00Z",
                    "name1": "Becker",
                    "name2": "Michael",
                    "landescode": "DE",
                    "postleitzahl": "77746",
                    "ort": "Schutterwald",
                    "strasse": "Ahornweg",
                    "hausnummer": "5"
                  }
                },
                "START_MALOIDENT_NAME_ZAHLER": {
                  "summary": "Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit Name, Adresse und Zaehlernummer",
                  "value": {
                    "eventName": "START_MALOIDENT",
                    "id": 12345678901,
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "energierichtung": "AUSSP",
                    "ausfuehrungsdatum": "2024-11-07T23:00:00Z",
                    "zaehlernummern": [
                      "1760136806"
                    ],
                    "name1": "Becker",
                    "name2": "Michael",
                    "landescode": "DE",
                    "postleitzahl": "77746",
                    "ort": "Schutterwald",
                    "strasse": "Ahornweg",
                    "hausnummer": "5"
                  }
                },
                "START_MALOIDENT": {
                  "summary": "Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit allen Feldern gefüllt",
                  "value": {
                    "eventName": "START_MALOIDENT",
                    "id": 12345678901,
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "energierichtung": "AUSSP",
                    "ausfuehrungsdatum": "2024-11-07T23:00:00Z",
                    "marktlokationsId": "57685676748",
                    "tranchenIds": [
                      "57685676742"
                    ],
                    "meloIds": [
                      "DE00014545768S0000000000000003054"
                    ],
                    "zaehlernummern": [
                      "1SM-8465929523"
                    ],
                    "exRefName": "V567345345",
                    "name1": "Becker",
                    "name2": "Michael",
                    "anrede": "Prof.Dr.",
                    "landescode": "DE",
                    "postleitzahl": "12117",
                    "ort": "Berlin",
                    "strasse": "Reinhardtstraße",
                    "hausnummer": "32",
                    "adresszusatz": "Ausbau",
                    "gemarkungFlur": "Musterstadt",
                    "flurstueck": "123",
                    "flurstueckNummer": "456",
                    "breitengrad": "52.5200",
                    "laengengrad": "13.4050",
                    "ostwert": "123456",
                    "nordwert": "654321",
                    "zone": "UTMZone31",
                    "hochwert": "1234567",
                    "rechtswert": "7654321"
                  }
                }
              },
              "schema": {
                "description": "Schema Versand einer MaloIdent Anfrage via API-Webdienst",
                "type": "object",
                "properties": {
                  "eventName": {
                    "type": "string",
                    "enum": [
                      "START_MALOIDENT"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  },
                  "empfaenger": {
                    "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                    "example": "9903790000002",
                    "type": "string"
                  },
                  "absender": {
                    "description": "Rollencodenummer des Absenders | Role code number of the sender",
                    "example": "9800044300007",
                    "type": "string"
                  },
                  "energierichtung": {
                    "description": "Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP",
                    "example": "AUSSP",
                    "type": "string"
                  },
                  "ausfuehrungsdatum": {
                    "type": "string",
                    "pattern": "20(\\\\d{2}(\\\\-(0[13578]|1[02])\\\\-(0[1-9]|[12]\\\\d|3[01])|\\\\-02\\\\-(0[1-9]|1\\\\d|2[0-8])|\\\\-(0[469]|11)\\\\-(0[1-9]|[12]\\\\d|30))|([02468][048]|[13579][26])\\\\-02\\\\-(29))T([01]\\\\d|2[0-3]):[0-5]\\\\d:[0-5]\\\\dZ",
                    "description": "Zeitpunkt zu dem die Identifikation stattfinden soll. Dieser Zeitpunkt muss ein Tagesbeginn 00:00 Uhr gesetzlicher deutscher Zeit sein.",
                    "example": "2023-08-02T22:00:00Z"
                  },
                  "marktlokationsId": {
                    "type": "string",
                    "pattern": "\\d{11}",
                    "description": "Identifiziert die Marktlokation mittels einer eindeutigen ID",
                    "example": "57685676748"
                  },
                  "tranchenIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "\\d{11}"
                    },
                    "description": "Identifiziert die Tranche mittels einer eindeutigen ID",
                    "example": [
                      "57685676742"
                    ]
                  },
                  "meloIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "DE\\\\d{11}[A-Z,\\\\d]{20}"
                    },
                    "description": "Identifiziert die Messlokation mittels einer eindeutigen ID",
                    "example": [
                      "DE00014545768S0000000000000003054"
                    ]
                  },
                  "zaehlernummern": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Identifiziert das Gerät der Messlokation mittels Gerätenummer",
                    "example": [
                      "1SM-8465929523"
                    ]
                  },
                  "exRefName": {
                    "type": "string",
                    "description": "Zur Angabe der Kundennummer des Kunden beim bisherigen Lieferanten (LFA)",
                    "example": "V567345345"
                  },
                  "name1": {
                    "type": "string",
                    "description": "Angabe des Namen des Kunden",
                    "example": "Becker"
                  },
                  "name2": {
                    "type": "string",
                    "description": "Angabe des Vornamen des Kunden",
                    "example": "Michael"
                  },
                  "anrede": {
                    "type": "string",
                    "description": "Angabe des Titels der natürlichen Person",
                    "example": "Prof.Dr."
                  },
                  "landescode": {
                    "type": "string",
                    "pattern": "[A-Z]{2}",
                    "description": "Angabe des Ländercodes nach ISO-3166-1 Alpha-2",
                    "example": "DE"
                  },
                  "postleitzahl": {
                    "type": "string",
                    "description": "Angabe der Postleitzahl der Marktlokationsadresse",
                    "example": "12117"
                  },
                  "ort": {
                    "type": "string",
                    "description": "Angabe des Ortes der Marktlokationsadresse",
                    "example": "Berlin"
                  },
                  "strasse": {
                    "type": "string",
                    "description": "Angabe der Straße der Marktlokationsadresse",
                    "example": "Reinhardtstraße"
                  },
                  "hausnummer": {
                    "type": "string",
                    "description": "Angabe der Hausnummer der Marktlokationsadresse",
                    "example": "32"
                  },
                  "adresszusatz": {
                    "type": "string",
                    "description": "Angabe des Ortsteils",
                    "example": "Ausbau"
                  },
                  "gemarkungFlur": {
                    "type": "string",
                    "description": "Angabe des Gemarkungsnamens (des Flurstücks) der Marktlokationsadresse",
                    "example": "Musterstadt"
                  },
                  "flurstueck": {
                    "type": "string",
                    "description": "Angabe der Flurnummer (des Flurstücks) der Marktlokationsadresse",
                    "example": "123"
                  },
                  "flurstueckNummer": {
                    "type": "string",
                    "description": "Angabe der Flurstücksnummer (des Flurstücks) der Marktlokationsadresse",
                    "example": "456"
                  },
                  "breitengrad": {
                    "type": "string",
                    "description": "Angabe der Breite (Breitengrad) nach WGS84. 46 <= X <= 59. °N",
                    "example": "52.5200"
                  },
                  "laengengrad": {
                    "type": "string",
                    "description": "Angabe der Länge (Längengrad) nach WGS84. 4 <= X <= 18. °O",
                    "example": "13.4050"
                  },
                  "ostwert": {
                    "type": "string",
                    "description": "Angabe des UTM Ostwert nach WGS84. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen",
                    "example": "123456"
                  },
                  "nordwert": {
                    "type": "string",
                    "description": "Angabe des UTM Nordwert nach WGS84. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen",
                    "example": "654321"
                  },
                  "zone": {
                    "type": "string",
                    "enum": [
                      "UTMZone31",
                      "UTMZone32",
                      "UTMZone33"
                    ],
                    "description": "UTM-Zone",
                    "example": "UTMZone31"
                  },
                  "hochwert": {
                    "type": "string",
                    "description": "Gauß-Krüger Hochwert. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen.",
                    "example": "1234567"
                  },
                  "rechtswert": {
                    "type": "string",
                    "description": "Gauß-Krüger Rechtswert. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen.",
                    "example": "7654321"
                  }
                },
                "required": [
                  "id",
                  "eventName",
                  "empfaenger",
                  "absender",
                  "energierichtung",
                  "ausfuehrungsdatum"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "AENDERUNG_AD",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_ZAEHLERSTAND": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_ZAEHLERSTAND",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Zaehlerstand | Schema for the Zaehlerstand",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_ABR_NN",
                    "type": "string",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ]
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000409,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    }
                  }
                }
              }
            },
            "description": "Fehler | Fail"
          }
        },
        "security": [],
        "summary": "START_ZAEHLERSTAND",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/inbound[EXTENDED]": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "inbound",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "START_ABR_NN": {
                  "summary": "Beispiel für einen START_ABR_NN Event | Example for a START_ABR_NN event",
                  "value": {
                    "absender": "9900321000005",
                    "artikelId": "1-02-0-001",
                    "empfaenger": "9903790000002",
                    "eventName": "START_ABR_NN",
                    "id": 110000000409,
                    "marktlokationsId": "50074561188",
                    "sparte": "STROM",
                    "vertragsbeginn": "2024-10-31T23:00:00Z"
                  }
                },
                "START_DEFINITION_LEISTUNGSKURVE": {
                  "summary": "Beispiel für einen START_DEFINITION_LEISTUNGSKURVE Event | Example for a START_DEFINITION_LEISTUNGSKURVE event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "ABC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_LEISTUNGSKURVE",
                    "id": 110000000405,
                    "obererSchwellwert": 50
                  }
                },
                "START_DEFINITION_SCHALTZEIT": {
                  "summary": "Beispiel für einen START_DEFINITION_SCHALTZEIT Event | Example for a START_DEFINITION_SCHALTZEIT event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "AC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_SCHALTZEIT",
                    "haeufigkeit": "JAEHRLICH",
                    "id": 110000000406,
                    "schalthandlung": "LEISTUNG_AN"
                  }
                },
                "START_DEFINITION_ZAEHLZEIT": {
                  "summary": "Beispiel für einen START_DEFINITION_ZAEHLZEIT Event | Example for a START_DEFINITION_ZAEHLZEIT event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "ABC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_ZAEHLZEIT",
                    "haeufigkeit": "JAEHRLICH",
                    "id": 110000000404
                  }
                },
                "START_KUENDIGUNG": {
                  "summary": "Beispiel für einen START_KUENDIGUNG Event | Example for a START_KUENDIGUNG event",
                  "value": {
                    "eventName": "START_KUENDIGUNG",
                    "id": 110000000500
                  }
                },
                "START_LIEFERBEGINN_GAS": {
                  "summary": "Beispiel für einen START_LIEFERBEGINN_GAS Event | Example for a START_LIEFERBEGINN_GAS event",
                  "value": {
                    "absender": "9800044300007",
                    "empfaenger": "9870013800007",
                    "eventName": "START_LIEFERBEGINN",
                    "id": 110000000611,
                    "marktlokationsId": "50074561188",
                    "sparte": "GAS",
                    "vertragsbeginn": "2024-06-01T04:00:00Z"
                  }
                },
                "START_LIEFERBEGINN_STROM": {
                  "summary": "START_LIEFERBEGINN (Strom) Lieferbeginn in Sparte Strom auslösen | Trigger start of delivery in the electricity division",
                  "value": {
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "energierichtung": "AUSSP",
                    "eventName": "START_LIEFERBEGINN",
                    "id": 110000000408,
                    "marktlokationsId": "50074561188",
                    "sparte": "STROM",
                    "vertragsbeginn": "2024-09-30T22:00:00Z"
                  }
                },
                "START_SPERRAUFTRAG": {
                  "summary": "START_SPERRAUFTRAG Versand Sperrauftrag auslösen | Trigger shipping blocking order",
                  "value": {
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "eventName": "START_SPERRAUFTRAG",
                    "id": "STARTSPERRAUFTRAG1",
                    "marktlokationsId": "50000083216",
                    "sparte": "STROM"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "title": "START_SPERRAUFTRAG",
                    "description": "Schema zum Sperren einer Marktlokation | Schema for locking a market location",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9800044300007",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_ABR_NN",
                        "type": "string",
                        "enum": [
                          "START_LIEFERBEGINN",
                          "START_ABR_NN",
                          "START_DEFINITION_SCHALTZEIT",
                          "START_DEFINITION_LEISTUNGSKURVE",
                          "START_DEFINITION_ZÄHLZEIT",
                          "START_KUENDIGUNG",
                          "START_ERHEBUNG_MESSWERTE",
                          "START_AEND_MALO_STRUKTUR_LF",
                          "START_AEND_NNA_MALO",
                          "START_AEND_ABR_BLINDARBEIT",
                          "START_AEND_PROGNOSEGRUNDLAGE",
                          "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                          "START_N_BILA_REL_AEND_VON_NB",
                          "START_N_BILA_REL_AEND_VON_LF",
                          "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                          "START_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                          "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                          "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                          "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                          "START_BESTELLUNG_KONFIGURATION",
                          "START_VERSAND_STORNO_MSCONS",
                          "START_VERSAND_LIEFERSCHEIN",
                          "START_VERSAND_COMDIS",
                          "START_LIEFERENDE",
                          "START_UEBERSICHT_ZAEHLZEITDEF",
                          "START_UEBERSICHT_SCHALTZEITDEF",
                          "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                          "START_ANFRAGE_STAMMDATEN_MALO",
                          "START_ANFRAGE_MESSWERTE",
                          "START_ANFRAGE_STAMMDATEN_TRANCHE",
                          "START_EOG",
                          "START_VERSAND_BEENDIGUNG_AGV",
                          "START_VERSAND_ANF_STORNO",
                          "START_PREISBLATT",
                          "START_LIEFERBEGINN",
                          "START_AUFTRAGSSTATUS",
                          "START_ANFRAGE_STAMMDATENAENDERUNG",
                          "START_UEBERM_DEFINITION"
                        ]
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000409,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "eventName",
                      "marktlokationsId",
                      "sparte",
                      "absender",
                      "empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "title": "START_LIEFERBEGINN_STROM",
                    "description": "Schema zum Starten des Lieferbeginns für Strom | Schema for starting the delivery of electricity",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9800044300007",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "energierichtung": {
                        "description": "Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP",
                        "example": "AUSSP",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_ABR_NN",
                        "type": "string",
                        "enum": [
                          "START_LIEFERBEGINN",
                          "START_ABR_NN",
                          "START_DEFINITION_SCHALTZEIT",
                          "START_DEFINITION_LEISTUNGSKURVE",
                          "START_DEFINITION_ZÄHLZEIT",
                          "START_KUENDIGUNG",
                          "START_ERHEBUNG_MESSWERTE",
                          "START_AEND_MALO_STRUKTUR_LF",
                          "START_AEND_NNA_MALO",
                          "START_AEND_ABR_BLINDARBEIT",
                          "START_AEND_PROGNOSEGRUNDLAGE",
                          "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                          "START_N_BILA_REL_AEND_VON_NB",
                          "START_N_BILA_REL_AEND_VON_LF",
                          "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                          "START_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                          "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                          "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                          "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                          "START_BESTELLUNG_KONFIGURATION",
                          "START_VERSAND_STORNO_MSCONS",
                          "START_VERSAND_LIEFERSCHEIN",
                          "START_VERSAND_COMDIS",
                          "START_LIEFERENDE",
                          "START_UEBERSICHT_ZAEHLZEITDEF",
                          "START_UEBERSICHT_SCHALTZEITDEF",
                          "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                          "START_ANFRAGE_STAMMDATEN_MALO",
                          "START_ANFRAGE_MESSWERTE",
                          "START_ANFRAGE_STAMMDATEN_TRANCHE",
                          "START_EOG",
                          "START_VERSAND_BEENDIGUNG_AGV",
                          "START_VERSAND_ANF_STORNO",
                          "START_PREISBLATT",
                          "START_LIEFERBEGINN",
                          "START_AUFTRAGSSTATUS",
                          "START_ANFRAGE_STAMMDATENAENDERUNG",
                          "START_UEBERM_DEFINITION"
                        ]
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000409,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-10-31T23:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "eventName",
                      "marktlokationsId",
                      "sparte",
                      "energierichtung",
                      "vertragsbeginn",
                      "absender",
                      "empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "title": "START_LIEFERBEGINN_STROM",
                    "description": "Schema zum Starten des Lieferbeginns für Gas | Schema for starting the delivery of gas",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9800044300007",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_ABR_NN",
                        "type": "string",
                        "enum": [
                          "START_LIEFERBEGINN",
                          "START_ABR_NN",
                          "START_DEFINITION_SCHALTZEIT",
                          "START_DEFINITION_LEISTUNGSKURVE",
                          "START_DEFINITION_ZÄHLZEIT",
                          "START_KUENDIGUNG",
                          "START_ERHEBUNG_MESSWERTE",
                          "START_AEND_MALO_STRUKTUR_LF",
                          "START_AEND_NNA_MALO",
                          "START_AEND_ABR_BLINDARBEIT",
                          "START_AEND_PROGNOSEGRUNDLAGE",
                          "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                          "START_N_BILA_REL_AEND_VON_NB",
                          "START_N_BILA_REL_AEND_VON_LF",
                          "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                          "START_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                          "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                          "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                          "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                          "START_BESTELLUNG_KONFIGURATION",
                          "START_VERSAND_STORNO_MSCONS",
                          "START_VERSAND_LIEFERSCHEIN",
                          "START_VERSAND_COMDIS",
                          "START_LIEFERENDE",
                          "START_UEBERSICHT_ZAEHLZEITDEF",
                          "START_UEBERSICHT_SCHALTZEITDEF",
                          "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                          "START_ANFRAGE_STAMMDATEN_MALO",
                          "START_ANFRAGE_MESSWERTE",
                          "START_ANFRAGE_STAMMDATEN_TRANCHE",
                          "START_EOG",
                          "START_VERSAND_BEENDIGUNG_AGV",
                          "START_VERSAND_ANF_STORNO",
                          "START_PREISBLATT",
                          "START_LIEFERBEGINN",
                          "START_AUFTRAGSSTATUS",
                          "START_ANFRAGE_STAMMDATENAENDERUNG",
                          "START_UEBERM_DEFINITION"
                        ]
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000409,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-10-31T23:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "eventName",
                      "marktlokationsId",
                      "sparte",
                      "vertragsbeginn",
                      "absender",
                      "empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "title": "START_ABR_NN",
                    "description": "Schema zum Starten der Netznutzungsabrechnung | Schema for starting network usage billing",
                    "properties": {
                      "adsender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9900321000005",
                        "type": "string"
                      },
                      "artikelId": {
                        "description": "sssssss Artikel-ID | Article ID",
                        "example": "1-02-0-001",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_ABR_NN",
                        "type": "string",
                        "enum": [
                          "START_LIEFERBEGINN",
                          "START_ABR_NN",
                          "START_DEFINITION_SCHALTZEIT",
                          "START_DEFINITION_LEISTUNGSKURVE",
                          "START_DEFINITION_ZÄHLZEIT",
                          "START_KUENDIGUNG",
                          "START_ERHEBUNG_MESSWERTE",
                          "START_AEND_MALO_STRUKTUR_LF",
                          "START_AEND_NNA_MALO",
                          "START_AEND_ABR_BLINDARBEIT",
                          "START_AEND_PROGNOSEGRUNDLAGE",
                          "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                          "START_N_BILA_REL_AEND_VON_NB",
                          "START_N_BILA_REL_AEND_VON_LF",
                          "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                          "START_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_LF",
                          "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                          "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                          "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                          "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                          "START_BESTELLUNG_KONFIGURATION",
                          "START_VERSAND_STORNO_MSCONS",
                          "START_VERSAND_LIEFERSCHEIN",
                          "START_VERSAND_COMDIS",
                          "START_LIEFERENDE",
                          "START_UEBERSICHT_ZAEHLZEITDEF",
                          "START_UEBERSICHT_SCHALTZEITDEF",
                          "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                          "START_ANFRAGE_STAMMDATEN_MALO",
                          "START_ANFRAGE_MESSWERTE",
                          "START_ANFRAGE_STAMMDATEN_TRANCHE",
                          "START_EOG",
                          "START_VERSAND_BEENDIGUNG_AGV",
                          "START_VERSAND_ANF_STORNO",
                          "START_PREISBLATT",
                          "START_LIEFERBEGINN",
                          "START_AUFTRAGSSTATUS",
                          "START_ANFRAGE_STAMMDATENAENDERUNG",
                          "START_UEBERM_DEFINITION"
                        ]
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000409,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-10-31T23:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "eventName",
                      "marktlokationsId",
                      "sparte",
                      "artikelId",
                      "vertragsbeginn",
                      "absender",
                      "empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "title": "START_DEFINITION_SCHALTZEIT",
                    "description": "Schema zur Definition von Schaltzeiten | Schema for defining switching times",
                    "properties": {
                      "beginndatum": {
                        "description": "Beginndatum der Leistungskurve | Start date of the performance curve",
[...]
