{
  "openapi": "3.1.0",
  "info": {
    "title": "Trigger Event API",
    "description": "API zum Auslösen von ausgehenden Prozessen in der MACO APP | API for triggering outbound maco processes in the MACO APP\n\n<details>\n<summary>Changelog</summary>\n\n**Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n\n- Erweiterung der API um zusätzliche Schemas und Beispiele.\n- Hinzugefügte Schemas: `START_LIEFERBEGINN_STROM`, `START_LIEFERBEGINN_GAS`, `START_ABR_NN`, `START_DEFINITION_SCHALTZEIT`, `START_DEFINITION_LEISTUNGSKURVE`, `START_DEFINITION_ZAEHLZEIT`, `START_KUENDIGUNG`.\n\n**Version 1.0.0** - *01. August 2024* - _Autor: DAS_\n\n- Initiale Veröffentlichung der API mit dem `START_SPERRAUFTRAG`-Schema.\n\n</details>\n",
    "version": "1.0.1",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.macoapp.de",
      "description": "Fake Env"
    }
  ],
  "tags": [
    {
      "name": "SLIM EVENTS",
      "description": "Trigger Event mit Angabe vom Typ und einer BelegId, mit der Daten im ERP nachgelesen werden können. | Trigger event with specification of the type and a document ID where data can be read in the backend."
    },
    {
      "name": "EXTENDED EVENTS",
      "description": "Trigger Events, die alle notwendigen Informationen enthalten, ohne Daten nachlesen zu müssen. | Trigger events that contain all necessary information.\n*Die erweiterten Events dokumentieren welche Parameter ein Event eines bestimmten Type enthalten kann und mindestens muss* | *The extended events document which parameters an event of a certain type can and at least must contain.*\n"
    }
  ],
  "paths": {
    "/AENDERUNG_AD": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "AENDERUNG_AD",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Änderung | Schema for the update of object",
                "properties": {
                  "eventName": {
                    "default": "AENDERUNG_AD",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event AENDERUNG_AD_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "AENDERUNG_AD",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_ENERGIEMENGE": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_ENERGIEMENGE",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Energiemenge | Schema for the Energiemenge",
                "properties": {
                  "eventName": {
                    "default": "START_ENERGIEMENGE",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_ENERGIEMENGE_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_ENERGIEMENGE",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_KUENDIGUNG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_KUENDIGUNG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für die Kündigung eines Vertrags | Schema for the termination of a contract",
                "properties": {
                  "absender": {
                    "description": "Rollencodenummer des Absenders | Role code number of the sender",
                    "example": "9800044300007",
                    "type": "string"
                  },
                  "empfaenger": {
                    "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                    "example": "9870013800007",
                    "type": "string"
                  },
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "example": "START_KUENDIGUNG",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": 110000000605,
                    "type": "string"
                  },
                  "marktlokationsId": {
                    "description": "Marktlokations-ID | Market location ID",
                    "example": "50074561188",
                    "type": "string"
                  },
                  "sparte": {
                    "description": "Sparte, z.B. Gas | Sector, e.g., gas",
                    "example": "GAS",
                    "type": "string"
                  },
                  "vertragsart": {
                    "description": "Art des Vertrags | Type of contract",
                    "example": "ENERGIELIEFERVERTRAG",
                    "type": "string"
                  },
                  "vertragsende": {
                    "description": "Ende des Vertrags | End of the contract",
                    "example": "2024-06-01T04:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName, marktlokationsId, sparte, vertragsart, vertragsende, empfaenger, absender"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_KUENDIGUNG_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_KUENDIGUNG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_LASTGANG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_LASTGANG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Lastgang | Schema for the lastgang",
                "properties": {
                  "eventName": {
                    "default": "START_LASTGANG",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_LASTGANG_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_LASTGANG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_LIEFERBEGINN": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_LIEFERBEGINN",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Lieferbeginn | Schema for the delivery start",
                "properties": {
                  "eventName": {
                    "default": "START_LIEFERBEGINN",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_LIEFERBEGINN_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_LIEFERBEGINN",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_NACHRICHTENEINGANG": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_NACHRICHTENEINGANG",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Nachrichteingang | Schema for the inbound message",
                "properties": {
                  "eventName": {
                    "default": "START_NACHRICHTENEINGANG",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_NACHRICHTENEINGANG_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_NACHRICHTENEINGANG",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_PARTIN": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_PARTIN",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für partin | Schema for the partin",
                "properties": {
                  "eventName": {
                    "default": "START_PARTIN",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_PARTIN_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_PARTIN",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/START_ZAEHLERSTAND": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "START_ZAEHLERSTAND",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema für Zaehlerstand | Schema for the Zaehlerstand",
                "properties": {
                  "eventName": {
                    "default": "START_ZAEHLERSTAND",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000605",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_ZAEHLERSTAND_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "START_ZAEHLERSTAND",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    },
    "/inbound[EXTENDED]": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "inbound",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "START_ABR_NN": {
                  "value": {
                    "absender": "9900321000005",
                    "artikelId": "1-02-0-001",
                    "empfaenger": "9903790000002",
                    "eventName": "START_ABR_NN",
                    "id": 110000000409,
                    "marktlokationsId": "50074561188",
                    "sparte": "STROM",
                    "vertragsbeginn": "2024-10-31T23:00:00Z"
                  }
                },
                "START_DEFINITION_LEISTUNGSKURVE": {
                  "summary": "Beispiel für einen START_DEFINITION_LEISTUNGSKURVE Event | Example for a START_DEFINITION_LEISTUNGSKURVE event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "ABC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_LEISTUNGSKURVE",
                    "id": 110000000405,
                    "obererSchwellwert": 50
                  }
                },
                "START_DEFINITION_SCHALTZEIT": {
                  "summary": "Beispiel für einen START_DEFINITION_SCHALTZEIT Event | Example for a START_DEFINITION_SCHALTZEIT event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "AC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_SCHALTZEIT",
                    "haeufigkeit": "JAEHRLICH",
                    "id": 110000000406,
                    "schalthandlung": "LEISTUNG_AN"
                  }
                },
                "START_DEFINITION_ZAEHLZEIT": {
                  "summary": "Beispiel für einen START_DEFINITION_ZAEHLZEIT Event | Example for a START_DEFINITION_ZAEHLZEIT event",
                  "value": {
                    "beginndatum": "2024-06-30T22:00:00Z",
                    "code": "ABC",
                    "endedatum": "2024-08-30T22:00:00Z",
                    "eventName": "START_DEFINITION_ZAEHLZEIT",
                    "haeufigkeit": "JAEHRLICH",
                    "id": 110000000404
                  }
                },
                "START_KUENDIGUNG": {
                  "summary": "Beispiel für einen START_KUENDIGUNG Event | Example for a START_KUENDIGUNG event",
                  "value": {
                    "eventName": "START_KUENDIGUNG",
                    "id": 110000000500
                  }
                },
                "START_LIEFERBEGINN_GAS": {
                  "summary": "Beispiel für einen START_LIEFERBEGINN_GAS Event | Example for a START_LIEFERBEGINN_GAS event",
                  "value": {
                    "absender": "9800044300007",
                    "empfaenger": "9870013800007",
                    "eventName": "START_LIEFERBEGINN",
                    "id": 110000000611,
                    "marktlokationsId": "50074561188",
                    "sparte": "GAS",
                    "vertragsbeginn": "2024-06-01T04:00:00Z"
                  }
                },
                "START_LIEFERBEGINN_STROM": {
                  "summary": "START_LIEFERBEGINN (Strom) Lieferbeginn in Sparte Strom auslösen | Trigger start of delivery in the electricity division",
                  "value": {
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "energierichtung": "AUSSP",
                    "eventName": "START_LIEFERBEGINN",
                    "id": 110000000408,
                    "marktlokationsId": "50074561188",
                    "sparte": "STROM",
                    "vertragsbeginn": "2024-09-30T22:00:00Z"
                  }
                },
                "START_SPERRAUFTRAG": {
                  "summary": "START_SPERRAUFTRAG Versand Sperrauftrag auslösen | Trigger shipping blocking order",
                  "value": {
                    "absender": "9903790000002",
                    "empfaenger": "9900321000005",
                    "eventName": "START_SPERRAUFTRAG",
                    "id": "STARTSPERRAUFTRAG1",
                    "marktlokationsId": "50000083216",
                    "sparte": "STROM"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "description": "Schema zum Sperren einer Marktlokation | Schema for locking a market location",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9900321000005",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "enum": [
                          "START_SPERRAUFTRAG"
                        ],
                        "example": "START_SPERRAUFTRAG",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": "STARTSPERRAUFTRAG1",
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50000083216",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom oder Gas | Sector, e.g., electricity or gas",
                        "example": "STROM",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, marktlokationsId, sparte, absender, empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zum Starten des Lieferbeginns für Strom | Schema for starting the delivery of electricity",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9900321000005",
                        "type": "string"
                      },
                      "energierichtung": {
                        "description": "Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP",
                        "example": "AUSSP",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_LIEFERBEGINN",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000408,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-09-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, marktlokationsId, sparte, energierichtung, vertragsbeginn, absender, empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zum Starten des Lieferbeginns für Gas | Schema for starting the delivery of gas",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9800044300007",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9870013800007",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_LIEFERBEGINN",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000611,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Gas | Sector, e.g., gas",
                        "example": "GAS",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-06-01T04:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, marktlokationsId, sparte, vertragsbeginn, absender, empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zum Starten der Netznutzungsabrechnung | Schema for starting network usage billing",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9900321000005",
                        "type": "string"
                      },
                      "artikelId": {
                        "description": "Artikel-ID | Article ID",
                        "example": "1-02-0-001",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9903790000002",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_ABR_NN",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000409,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Strom | Sector, e.g., electricity",
                        "example": "STROM",
                        "type": "string"
                      },
                      "vertragsbeginn": {
                        "description": "Beginn des Vertrags | Start of the contract",
                        "example": "2024-10-31T23:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, marktlokationsId, sparte, artikelId, vertragsbeginn, absender, empfaenger"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zur Definition von Schaltzeiten | Schema for defining switching times",
                    "properties": {
                      "beginndatum": {
                        "description": "Beginndatum der Schaltzeit | Start date of the switching time",
                        "example": "2024-06-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "code": {
                        "description": "Code für die Schaltzeit | Code for the switching time",
                        "example": "AC",
                        "type": "string"
                      },
                      "endedatum": {
                        "description": "Enddatum der Schaltzeit | End date of the switching time",
                        "example": "2024-08-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_DEFINITION_SCHALTZEIT",
                        "type": "string"
                      },
                      "haeufigkeit": {
                        "description": "Häufigkeit der Schaltzeit | Frequency of the switching time",
                        "example": "JAEHRLICH",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000406,
                        "type": "string"
                      },
                      "schalthandlung": {
                        "description": "Art der Schalthandlung | Type of switching action",
                        "example": "LEISTUNG_AN",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, code, beginndatum, endedatum, haeufigkeit, schalthandlung"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zur Definition der Leistungskurve | Schema for defining the performance curve",
                    "properties": {
                      "beginndatum": {
                        "description": "Beginndatum der Leistungskurve | Start date of the performance curve",
                        "example": "2024-06-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "code": {
                        "description": "Code für die Leistungskurve | Code for the performance curve",
                        "example": "ABC",
                        "type": "string"
                      },
                      "endedatum": {
                        "description": "Enddatum der Leistungskurve | End date of the performance curve",
                        "example": "2024-08-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_DEFINITION_LEISTUNGSKURVE",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000405,
                        "type": "string"
                      },
                      "obererSchwellwert": {
                        "description": "Oberer Schwellwert für die Leistungskurve | Upper threshold for the performance curve",
                        "example": 50,
                        "type": "number"
                      }
                    },
                    "required": [
                      "id, eventName, code, beginndatum, endedatum, obererSchwellwert"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema zur Definition der Zählzeit | Schema for defining the metering time",
                    "properties": {
                      "beginndatum": {
                        "description": "Beginndatum der Zählzeit | Start date of the metering time",
                        "example": "2024-06-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "code": {
                        "description": "Code für die Zählzeit | Code for the metering time",
                        "example": "ABC",
                        "type": "string"
                      },
                      "endedatum": {
                        "description": "Enddatum der Zählzeit | End date of the metering time",
                        "example": "2024-08-30T22:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_DEFINITION_ZAEHLZEIT",
                        "type": "string"
                      },
                      "haeufigkeit": {
                        "description": "Häufigkeit der Zählzeit | Frequency of the metering time",
                        "example": "JAEHRLICH",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000404,
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, code, beginndatum, endedatum, haeufigkeit"
                    ],
                    "type": "object"
                  },
                  {
                    "description": "Schema für die Kündigung eines Vertrags | Schema for the termination of a contract",
                    "properties": {
                      "absender": {
                        "description": "Rollencodenummer des Absenders | Role code number of the sender",
                        "example": "9800044300007",
                        "type": "string"
                      },
                      "empfaenger": {
                        "description": "Rollencodenummer des Empfängers | Role code number of the recipient",
                        "example": "9870013800007",
                        "type": "string"
                      },
                      "eventName": {
                        "description": "Name des Events | Name of the event",
                        "example": "START_KUENDIGUNG",
                        "type": "string"
                      },
                      "id": {
                        "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                        "example": 110000000605,
                        "type": "string"
                      },
                      "marktlokationsId": {
                        "description": "Marktlokations-ID | Market location ID",
                        "example": "50074561188",
                        "type": "string"
                      },
                      "sparte": {
                        "description": "Sparte, z.B. Gas | Sector, e.g., gas",
                        "example": "GAS",
                        "type": "string"
                      },
                      "vertragsart": {
                        "description": "Art des Vertrags | Type of contract",
                        "example": "ENERGIELIEFERVERTRAG",
                        "type": "string"
                      },
                      "vertragsende": {
                        "description": "Ende des Vertrags | End of the contract",
                        "example": "2024-06-01T04:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id, eventName, marktlokationsId, sparte, vertragsart, vertragsende, empfaenger, absender"
                    ],
                    "type": "object"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call",
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_LIEFERBEGINN_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ]
                }
              }
            },
            "description": "Erfolg | Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "Error identifier",
                      "example": "400"
                    },
                    "message": {
                      "type": "string",
                      "description": "Technische Meldung | Technische Meldung",
                      "example": "Validation Failed"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": 5432
                          },
                          "field": {
                            "type": "string",
                            "example": "first_name"
                          },
                          "message": {
                            "type": "string",
                            "example": "First name cannot have fancy characters"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "Trigger Events",
        "tags": [
          "EXTENDED EVENTS"
        ]
      }
    },
    "/inbound[SLIM]": {
      "post": {
        "deprecated": false,
        "description": "Erhalte Event vom Backend | Receive Event From Backend",
        "operationId": "inboundSlim",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Generisches Schema für Events, die eine BelegID erfordern | Generic schema for events that require a DocumentID",
                "properties": {
                  "eventName": {
                    "description": "Name des Events | Name of the event",
                    "enum": [
                      "START_LIEFERBEGINN",
                      "START_ABR_NN",
                      "START_DEFINITION_SCHALTZEIT",
                      "START_DEFINITION_LEISTUNGSKURVE",
                      "START_DEFINITION_ZÄHLZEIT",
                      "START_KUENDIGUNG",
                      "START_ERHEBUNG_MESSWERTE",
                      "START_AEND_MALO_STRUKTUR_LF",
                      "START_AEND_NNA_MALO",
                      "START_AEND_ABR_BLINDARBEIT",
                      "START_AEND_PROGNOSEGRUNDLAGE",
                      "START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK",
                      "START_N_BILA_REL_AEND_VON_NB",
                      "START_N_BILA_REL_AEND_VON_LF",
                      "START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF",
                      "START_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_LF",
                      "START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK",
                      "START_ANFR_AN_MSB_MIT_ABHAENGIGK",
                      "START_BESTELLUNG_ZAEHLZEITDEFINITION",
                      "START_BESTELLUNG_ANGEBOT_KONFIGURATION",
                      "START_BESTELLUNG_KONFIGURATION",
                      "START_VERSAND_STORNO_MSCONS",
                      "START_VERSAND_LIEFERSCHEIN",
                      "START_VERSAND_COMDIS",
                      "START_LIEFERENDE",
                      "START_UEBERSICHT_ZAEHLZEITDEF",
                      "START_UEBERSICHT_SCHALTZEITDEF",
                      "START_UEBERSICHT_LEISTUNGSKURVENDEF",
                      "START_ANFRAGE_STAMMDATEN_MALO",
                      "START_ANFRAGE_MESSWERTE",
                      "START_ANFRAGE_STAMMDATEN_TRANCHE",
                      "START_EOG",
                      "START_VERSAND_BEENDIGUNG_AGV",
                      "START_VERSAND_ANF_STORNO",
                      "START_PREISBLATT",
                      "START_LIEFERBEGINN",
                      "START_AUFTRAGSSTATUS",
                      "START_ANFRAGE_STAMMDATENAENDERUNG",
                      "START_UEBERM_DEFINITION"
                    ],
                    "example": "START_LIEFERBEGINN",
                    "type": "string"
                  },
                  "id": {
                    "description": "BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend",
                    "example": "110000000500",
                    "type": "string"
                  }
                },
                "required": [
                  "id, eventName"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "businessKey": {
                      "description": "Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process",
                      "format": "uuid",
                      "type": "string"
                    },
                    "message": {
                      "description": "Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event",
                      "example": "received event START_LIEFERBEGINN_STROM with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107",
                      "type": "string"
                    }
                  },
                  "required": [
                    "businessKey",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Erfolg | Success"
          }
        },
        "security": [],
        "summary": "Trigger Events",
        "tags": [
          "SLIM EVENTS"
        ]
      }
    }
  }
}
