<<<<<<< HEAD
{"openapi":"3.1.0","info":{"title":"Trigger Event API","description":"API zum Auslösen von ausgehenden Prozessen in der MACO APP | API for triggering outbound maco processes in the MACO APP\n\n<details>\n<summary>Changelog</summary>\n\n- **Version 1.0.2** - *04. Oktober 2024* - _Autor: DAS_\n  - Update START_LIEFERBEGINN und START_LIEFERENDE\n\n**Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n\n- Erweiterung der API um zusätzliche Schemas und Beispiele.\n- Hinzugefügte Schemas: `START_LIEFERBEGINN_STROM`, `START_LIEFERBEGINN_GAS`, `START_ABR_NN`, `START_DEFINITION_SCHALTZEIT`, `START_DEFINITION_LEISTUNGSKURVE`, `START_DEFINITION_ZAEHLZEIT`, `START_KUENDIGUNG`.\n\n**Version 1.0.0** - *01. August 2024* - _Autor: DAS_\n\n- Initiale Veröffentlichung der API mit dem `START_SPERRAUFTRAG`-Schema.\n\n</details>\n","version":"1.0.2","license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://api.macoapp.de","description":"Fake Env"}],"tags":[{"name":"SLIM EVENTS","description":"Trigger Event mit Angabe vom Typ und einer BelegId, mit der Daten im ERP nachgelesen werden können. | Trigger event with specification of the type and a document ID where data can be read in the backend."},{"name":"SAP EVENTS","description":"Trigger Events aus dem CONVISTA SAP Adapter."},{"name":"EXTENDED EVENTS","description":"Trigger Events, die alle notwendigen Informationen enthalten, ohne Daten nachlesen zu müssen. | Trigger events that contain all necessary information.\n*Die erweiterten Events dokumentieren welche Parameter ein Event eines bestimmten Type enthalten kann und mindestens muss* | *The extended events document which parameters an event of a certain type can and at least must contain.*\n"},{"name":"LIEFERANT","description":"Trigger Events aus dem Backend in der Rolle Lieferant"}],"paths":{"/START_LIEFERBEGINN":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_LIEFERBEGINN","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Lieferbeginn | Schema for the delivery start","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"transaktionsgrund":{"description":"Transaktionsgrund | transaction reason","example":"Z02","default":"Z02","type":"string"},"transaktionsgrundergaenzung":{"description":"Transaktionsgrundergänzung | transaction reason addition","example":"E03","default":"E03","type":"string"},"transaktionsgrundergaenzungBefristeteAnmeldung":{"description":"Transaktionsgrundergänzung | transaction reason addition","example":"E03","default":"E03","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"energierichtung":{"description":"Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP","example":"AUSSP","type":"string"},"bilanzkreis":{"description":"bilanzkreis","example":"bilanzkreis","type":"string"},"vertragsbeginn":{"description":"Beginn des Vertrags | Start of the contract","example":"2024-10-31T23:00:00Z","format":"date-time","type":"string"},"vertragsende":{"description":"Ende des Vertrags | End of the contract","example":"2024-06-01T04:00:00Z","format":"date-time","type":"string"},"haushaltskunde":{"description":"Haushaltskunde","example":true,"type":"boolean"},"gewerbekennzeichnung":{"description":"Gewerbekennzeichnung","example":true,"type":"boolean"},"verguetungEmpfaenger":{"description":"VerguetungEmpfaenger","example":"VerguetungEmpfaenger","type":"string"},"bildungTranchengroesse":{"description":"bildungTranchengroesse","example":"bildungTranchengroesse","type":"string"},"wert":{"description":"wert","example":"wert","type":"string"},"einheit":{"description":"einheit","example":"einheit","type":"string"},"anrede":{"description":"anrede","example":"HERR","type":"string"},"name1":{"description":"name1","example":"name1","type":"string"},"name2":{"description":"name2","example":"name2","type":"string"},"postleitzahl":{"description":"postleitzahl","example":"76229","type":"string"},"ort":{"description":"ort","example":"Karlsruhe","type":"string"},"strasse":{"description":"strasse","example":"Greschbachstraße","type":"string"},"hausnummer":{"description":"hausnummer","example":"5","type":"string"},"ortsteil":{"description":"ortsteil","example":"Ausbau","type":"string"},"landescode":{"description":"landescode","example":"DE","type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_LIEFERBEGINN","tags":["SLIM EVENTS"]}},"/START_LIEFERENDE":{"post":{"deprecated":false,"description":"Versand vom Lieferende aus dem Backend | trigger delivery end","operationId":"START_LIEFERENDE","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Lieferende | Schema for end of delivery","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"],"default":"START_LIEFERENDE"},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"vertragsende":{"description":"Ende des Vertrags | End of the contract","example":"2024-06-01T04:00:00Z","format":"date-time","type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"transaktionsgrund":{"description":"Transaktionsgrund | transaction reason","example":"Z02","default":"Z02","type":"string"},"transaktionsgrundergaenzung":{"description":"Transaktionsgrundergänzung | transaction reason addition","example":"E03","default":"E03","type":"string"}},"required":["id","eventName","absender","empfaenger","vertragsende","marktlokationsId","sparte","transaktionsgrund","transaktionsgrundergaenzung"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_LIEFERENDE","tags":["SLIM EVENTS"]}},"/AENDERUNG_AD":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"AENDERUNG_AD","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Änderung | Schema for the update of object","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"AENDERUNG_AD","tags":["SLIM EVENTS"]}},"/START_ENERGIEMENGE":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_ENERGIEMENGE","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Energiemenge | Schema for the Energiemenge","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_ENERGIEMENGE","tags":["SLIM EVENTS"]}},"/START_KUENDIGUNG":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_KUENDIGUNG","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"title":"START_KUENDIGUNG","description":"Schema für die Kündigung eines Vertrags | Schema for the termination of a contract","properties":{"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"vertragsart":{"description":"Art des Vertrags | Type of contract","example":"ENERGIELIEFERVERTRAG","type":"string"},"vertragsende":{"description":"Ende des Vertrags | End of the contract","example":"2024-06-01T04:00:00Z","format":"date-time","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","vertragsart","vertragsende","empfaenger","absender"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_KUENDIGUNG","tags":["SLIM EVENTS"]}},"/START_LASTGANG":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_LASTGANG","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Lastgang | Schema for the lastgang","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_LASTGANG","tags":["SLIM EVENTS"]}},"/START_NACHRICHTENEINGANG":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_NACHRICHTENEINGANG","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Nachrichteingang | Schema for the inbound message","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_NACHRICHTENEINGANG","tags":["SLIM EVENTS"]}},"/START_PARTIN":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_PARTIN","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für partin | Schema for the partin","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_PARTIN","tags":["SLIM EVENTS"]}},"/START_MALOIDENT":{"post":{"deprecated":false,"description":"Versand einer MaloIdent Anfrage via API-Webdienst","operationId":"START_MALOIDENT","parameters":[],"requestBody":{"content":{"application/json":{"examples":{"START_MALOIDENT_NUR_NAME":{"summary":"Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit Name und Adresse","value":{"eventName":"START_MALOIDENT","id":12345678901,"absender":"9903790000002","empfaenger":"9900321000005","energierichtung":"AUSSP","ausfuehrungsdatum":"2024-11-07T23:00:00Z","name1":"Becker","name2":"Michael","landescode":"DE","postleitzahl":"77746","ort":"Schutterwald","strasse":"Ahornweg","hausnummer":"5"}},"START_MALOIDENT_NAME_ZAHLER":{"summary":"Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit Name, Adresse und Zaehlernummer","value":{"eventName":"START_MALOIDENT","id":12345678901,"absender":"9903790000002","empfaenger":"9900321000005","energierichtung":"AUSSP","ausfuehrungsdatum":"2024-11-07T23:00:00Z","zaehlernummern":["1760136806"],"name1":"Becker","name2":"Michael","landescode":"DE","postleitzahl":"77746","ort":"Schutterwald","strasse":"Ahornweg","hausnummer":"5"}},"START_MALOIDENT":{"summary":"Beispiel Versand einer MaloIdent Anfrage via API-Webdienst mit allen Feldern gefüllt","value":{"eventName":"START_MALOIDENT","id":12345678901,"absender":"9903790000002","empfaenger":"9900321000005","energierichtung":"AUSSP","ausfuehrungsdatum":"2024-11-07T23:00:00Z","marktlokationsId":"57685676748","tranchenIds":["57685676742"],"meloIds":["DE00014545768S0000000000000003054"],"zaehlernummern":["1SM-8465929523"],"exRefName":"V567345345","name1":"Becker","name2":"Michael","anrede":"Prof.Dr.","landescode":"DE","postleitzahl":"12117","ort":"Berlin","strasse":"Reinhardtstraße","hausnummer":"32","adresszusatz":"Ausbau","gemarkungFlur":"Musterstadt","flurstueck":"123","flurstueckNummer":"456","breitengrad":"52.5200","laengengrad":"13.4050","ostwert":"123456","nordwert":"654321","zone":"UTMZone31","hochwert":"1234567","rechtswert":"7654321"}}},"schema":{"description":"Schema Versand einer MaloIdent Anfrage via API-Webdienst","type":"object","properties":{"eventName":{"type":"string","enum":["START_MALOIDENT"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"energierichtung":{"description":"Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP","example":"AUSSP","type":"string"},"ausfuehrungsdatum":{"type":"string","pattern":"20(\\\\d{2}(\\\\-(0[13578]|1[02])\\\\-(0[1-9]|[12]\\\\d|3[01])|\\\\-02\\\\-(0[1-9]|1\\\\d|2[0-8])|\\\\-(0[469]|11)\\\\-(0[1-9]|[12]\\\\d|30))|([02468][048]|[13579][26])\\\\-02\\\\-(29))T([01]\\\\d|2[0-3]):[0-5]\\\\d:[0-5]\\\\dZ","description":"Zeitpunkt zu dem die Identifikation stattfinden soll. Dieser Zeitpunkt muss ein Tagesbeginn 00:00 Uhr gesetzlicher deutscher Zeit sein.","example":"2023-08-02T22:00:00Z"},"marktlokationsId":{"type":"string","pattern":"\\d{11}","description":"Identifiziert die Marktlokation mittels einer eindeutigen ID","example":"57685676748"},"tranchenIds":{"type":"array","items":{"type":"string","pattern":"\\d{11}"},"description":"Identifiziert die Tranche mittels einer eindeutigen ID","example":["57685676742"]},"meloIds":{"type":"array","items":{"type":"string","pattern":"DE\\\\d{11}[A-Z,\\\\d]{20}"},"description":"Identifiziert die Messlokation mittels einer eindeutigen ID","example":["DE00014545768S0000000000000003054"]},"zaehlernummern":{"type":"array","items":{"type":"string"},"description":"Identifiziert das Gerät der Messlokation mittels Gerätenummer","example":["1SM-8465929523"]},"exRefName":{"type":"string","description":"Zur Angabe der Kundennummer des Kunden beim bisherigen Lieferanten (LFA)","example":"V567345345"},"name1":{"type":"string","description":"Angabe des Namen des Kunden","example":"Becker"},"name2":{"type":"string","description":"Angabe des Vornamen des Kunden","example":"Michael"},"anrede":{"type":"string","description":"Angabe des Titels der natürlichen Person","example":"Prof.Dr."},"landescode":{"type":"string","pattern":"[A-Z]{2}","description":"Angabe des Ländercodes nach ISO-3166-1 Alpha-2","example":"DE"},"postleitzahl":{"type":"string","description":"Angabe der Postleitzahl der Marktlokationsadresse","example":"12117"},"ort":{"type":"string","description":"Angabe des Ortes der Marktlokationsadresse","example":"Berlin"},"strasse":{"type":"string","description":"Angabe der Straße der Marktlokationsadresse","example":"Reinhardtstraße"},"hausnummer":{"type":"string","description":"Angabe der Hausnummer der Marktlokationsadresse","example":"32"},"adresszusatz":{"type":"string","description":"Angabe des Ortsteils","example":"Ausbau"},"gemarkungFlur":{"type":"string","description":"Angabe des Gemarkungsnamens (des Flurstücks) der Marktlokationsadresse","example":"Musterstadt"},"flurstueck":{"type":"string","description":"Angabe der Flurnummer (des Flurstücks) der Marktlokationsadresse","example":"123"},"flurstueckNummer":{"type":"string","description":"Angabe der Flurstücksnummer (des Flurstücks) der Marktlokationsadresse","example":"456"},"breitengrad":{"type":"string","description":"Angabe der Breite (Breitengrad) nach WGS84. 46 <= X <= 59. °N","example":"52.5200"},"laengengrad":{"type":"string","description":"Angabe der Länge (Längengrad) nach WGS84. 4 <= X <= 18. °O","example":"13.4050"},"ostwert":{"type":"string","description":"Angabe des UTM Ostwert nach WGS84. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen","example":"123456"},"nordwert":{"type":"string","description":"Angabe des UTM Nordwert nach WGS84. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen","example":"654321"},"zone":{"type":"string","enum":["UTMZone31","UTMZone32","UTMZone33"],"description":"UTM-Zone","example":"UTMZone31"},"hochwert":{"type":"string","description":"Gauß-Krüger Hochwert. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen.","example":"1234567"},"rechtswert":{"type":"string","description":"Gauß-Krüger Rechtswert. Umgerechneter Wert muss Min/Max für Länge/Breite entsprechen.","example":"7654321"}},"required":["id","eventName","empfaenger","absender","energierichtung","ausfuehrungsdatum"]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"AENDERUNG_AD","tags":["SLIM EVENTS"]}},"/START_ZAEHLERSTAND":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"START_ZAEHLERSTAND","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Schema für Zaehlerstand | Schema for the Zaehlerstand","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_ZAEHLERSTAND","tags":["SLIM EVENTS"]}},"/inbound[EXTENDED]":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"inbound","parameters":[],"requestBody":{"content":{"application/json":{"examples":{"START_ABR_NN":{"summary":"Beispiel für einen START_ABR_NN Event | Example for a START_ABR_NN event","value":{"absender":"9900321000005","artikelId":"1-02-0-001","empfaenger":"9903790000002","eventName":"START_ABR_NN","id":110000000409,"marktlokationsId":"50074561188","sparte":"STROM","vertragsbeginn":"2024-10-31T23:00:00Z"}},"START_DEFINITION_LEISTUNGSKURVE":{"summary":"Beispiel für einen START_DEFINITION_LEISTUNGSKURVE Event | Example for a START_DEFINITION_LEISTUNGSKURVE event","value":{"beginndatum":"2024-06-30T22:00:00Z","code":"ABC","endedatum":"2024-08-30T22:00:00Z","eventName":"START_DEFINITION_LEISTUNGSKURVE","id":110000000405,"obererSchwellwert":50}},"START_DEFINITION_SCHALTZEIT":{"summary":"Beispiel für einen START_DEFINITION_SCHALTZEIT Event | Example for a START_DEFINITION_SCHALTZEIT event","value":{"beginndatum":"2024-06-30T22:00:00Z","code":"AC","endedatum":"2024-08-30T22:00:00Z","eventName":"START_DEFINITION_SCHALTZEIT","haeufigkeit":"JAEHRLICH","id":110000000406,"schalthandlung":"LEISTUNG_AN"}},"START_DEFINITION_ZAEHLZEIT":{"summary":"Beispiel für einen START_DEFINITION_ZAEHLZEIT Event | Example for a START_DEFINITION_ZAEHLZEIT event","value":{"beginndatum":"2024-06-30T22:00:00Z","code":"ABC","endedatum":"2024-08-30T22:00:00Z","eventName":"START_DEFINITION_ZAEHLZEIT","haeufigkeit":"JAEHRLICH","id":110000000404}},"START_KUENDIGUNG":{"summary":"Beispiel für einen START_KUENDIGUNG Event | Example for a START_KUENDIGUNG event","value":{"eventName":"START_KUENDIGUNG","id":110000000500}},"START_LIEFERBEGINN_GAS":{"summary":"Beispiel für einen START_LIEFERBEGINN_GAS Event | Example for a START_LIEFERBEGINN_GAS event","value":{"absender":"9800044300007","empfaenger":"9870013800007","eventName":"START_LIEFERBEGINN","id":110000000611,"marktlokationsId":"50074561188","sparte":"GAS","vertragsbeginn":"2024-06-01T04:00:00Z"}},"START_LIEFERBEGINN_STROM":{"summary":"START_LIEFERBEGINN (Strom) Lieferbeginn in Sparte Strom auslösen | Trigger start of delivery in the electricity division","value":{"absender":"9903790000002","empfaenger":"9900321000005","energierichtung":"AUSSP","eventName":"START_LIEFERBEGINN","id":110000000408,"marktlokationsId":"50074561188","sparte":"STROM","vertragsbeginn":"2024-09-30T22:00:00Z"}},"START_SPERRAUFTRAG":{"summary":"START_SPERRAUFTRAG Versand Sperrauftrag auslösen | Trigger shipping blocking order","value":{"absender":"9903790000002","empfaenger":"9900321000005","eventName":"START_SPERRAUFTRAG","id":"STARTSPERRAUFTRAG1","marktlokationsId":"50000083216","sparte":"STROM"}}},"schema":{"oneOf":[{"title":"START_SPERRAUFTRAG","description":"Schema zum Sperren einer Marktlokation | Schema for locking a market location","properties":{"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","absender","empfaenger"],"type":"object"},{"title":"START_LIEFERBEGINN_STROM","description":"Schema zum Starten des Lieferbeginns für Strom | Schema for starting the delivery of electricity","properties":{"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"energierichtung":{"description":"Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP","example":"AUSSP","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"vertragsbeginn":{"description":"Beginn des Vertrags | Start of the contract","example":"2024-10-31T23:00:00Z","format":"date-time","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","energierichtung","vertragsbeginn","absender","empfaenger"],"type":"object"},{"title":"START_LIEFERBEGINN_STROM","description":"Schema zum Starten des Lieferbeginns für Gas | Schema for starting the delivery of gas","properties":{"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"vertragsbeginn":{"description":"Beginn des Vertrags | Start of the contract","example":"2024-10-31T23:00:00Z","format":"date-time","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","vertragsbeginn","absender","empfaenger"],"type":"object"},{"title":"START_ABR_NN","description":"Schema zum Starten der Netznutzungsabrechnung | Schema for starting network usage billing","properties":{"adsender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9900321000005","type":"string"},"artikelId":{"description":"sssssss Artikel-ID | Article ID","example":"1-02-0-001","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"vertragsbeginn":{"description":"Beginn des Vertrags | Start of the contract","example":"2024-10-31T23:00:00Z","format":"date-time","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","artikelId","vertragsbeginn","absender","empfaenger"],"type":"object"},{"title":"START_DEFINITION_SCHALTZEIT","description":"Schema zur Definition von Schaltzeiten | Schema for defining switching times","properties":{"beginndatum":{"description":"Beginndatum der Leistungskurve | Start date of the performance curve","example":"2024-06-30T22:00:00Z","format":"date-time","type":"string"},"code":{"description":"Code für die Leistungskurve | Code for the performance curve","example":"ABC","type":"string"},"endedatum":{"description":"Enddatum der Leistungskurve | End date of the performance curve","example":"2024-08-30T22:00:00Z","format":"date-time","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"haeufigkeit":{"description":"Häufigkeit der Zählzeit | Frequency of the metering time","example":"JAEHRLICH","type":"string"},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"schalthandlung":{"description":"Art der Schalthandlung | Type of switching action","example":"LEISTUNG_AN","type":"string"}},"required":["id","eventName","code","beginndatum","endedatum","haeufigkeit","schalthandlung"],"type":"object"},{"title":"START_DEFINITION_LEISTUNGSKURVE","description":"Schema zur Definition der Leistungskurve | Schema for defining the performance curve","properties":{"beginndatum":{"description":"Beginndatum der Leistungskurve | Start date of the performance curve","example":"2024-06-30T22:00:00Z","format":"date-time","type":"string"},"code":{"description":"Code für die Leistungskurve | Code for the performance curve","example":"ABC","type":"string"},"endedatum":{"description":"Enddatum der Leistungskurve | End date of the performance curve","example":"2024-08-30T22:00:00Z","format":"date-time","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"obererSchwellwert":{"description":"Oberer Schwellwert für die Leistungskurve | Upper threshold for the performance curve","example":50,"type":"number"}},"required":["id","eventName","code","beginndatum","endedatum","obererSchwellwert"],"type":"object"},{"title":"START_DEFINITION_ZAEHLZEIT","description":"Schema zur Definition der Zählzeit | Schema for defining the metering time","properties":{"beginndatum":{"description":"Beginndatum der Leistungskurve | Start date of the performance curve","example":"2024-06-30T22:00:00Z","format":"date-time","type":"string"},"code":{"description":"Code für die Leistungskurve | Code for the performance curve","example":"ABC","type":"string"},"endedatum":{"description":"Enddatum der Leistungskurve | End date of the performance curve","example":"2024-08-30T22:00:00Z","format":"date-time","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"haeufigkeit":{"description":"Häufigkeit der Zählzeit | Frequency of the metering time","example":"JAEHRLICH","type":"string"},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName","code","beginndatum","endedatum","haeufigkeit"],"type":"object"},{"title":"START_KUENDIGUNG","description":"Schema für die Kündigung eines Vertrags | Schema for the termination of a contract","properties":{"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"vertragsart":{"description":"Art des Vertrags | Type of contract","example":"ENERGIELIEFERVERTRAG","type":"string"},"vertragsende":{"description":"Ende des Vertrags | End of the contract","example":"2024-06-01T04:00:00Z","format":"date-time","type":"string"}},"required":["id","eventName","marktlokationsId","sparte","vertragsart","vertragsende","empfaenger","absender"],"type":"object"}]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"Extended Events","tags":["EXTENDED EVENTS"]}},"/inbound[SLIM]":{"post":{"deprecated":false,"description":"Erhalte Event vom Backend | Receive Event From Backend","operationId":"inboundSlim","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"description":"Generisches Schema für Events, die eine BelegID erfordern | Generic schema for events that require a DocumentID","properties":{"eventName":{"description":"Name des Events | Name of the event","example":"START_ABR_NN","type":"string","enum":["START_LIEFERBEGINN","START_ABR_NN","START_DEFINITION_SCHALTZEIT","START_DEFINITION_LEISTUNGSKURVE","START_DEFINITION_ZÄHLZEIT","START_KUENDIGUNG","START_ERHEBUNG_MESSWERTE","START_AEND_MALO_STRUKTUR_LF","START_AEND_NNA_MALO","START_AEND_ABR_BLINDARBEIT","START_AEND_PROGNOSEGRUNDLAGE","START_BILA_REL_AEND_VON_NB_MIT_ABHAENGIGK","START_N_BILA_REL_AEND_VON_NB","START_N_BILA_REL_AEND_VON_LF","START_N_BILA_REL_ANFR_ABR_BLINDARBEIT_AN_LF","START_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_LF","START_N_BILA_REL_ANFR_AN_MSB_OHNE_ABHAENGIGK","START_ANFR_AN_MSB_MIT_ABHAENGIGK","START_BESTELLUNG_ZAEHLZEITDEFINITION","START_BESTELLUNG_ANGEBOT_KONFIGURATION","START_BESTELLUNG_KONFIGURATION","START_VERSAND_STORNO_MSCONS","START_VERSAND_LIEFERSCHEIN","START_VERSAND_COMDIS","START_LIEFERENDE","START_UEBERSICHT_ZAEHLZEITDEF","START_UEBERSICHT_SCHALTZEITDEF","START_UEBERSICHT_LEISTUNGSKURVENDEF","START_ANFRAGE_STAMMDATEN_MALO","START_ANFRAGE_MESSWERTE","START_ANFRAGE_STAMMDATEN_TRANCHE","START_EOG","START_VERSAND_BEENDIGUNG_AGV","START_VERSAND_ANF_STORNO","START_PREISBLATT","START_LIEFERBEGINN","START_AUFTRAGSSTATUS","START_ANFRAGE_STAMMDATENAENDERUNG","START_UEBERM_DEFINITION"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"Slim Events","tags":["SLIM EVENTS"]}},"/SAP_START_LIEFERBEGINN":{"post":{"deprecated":false,"description":"Versand des Lieferbeginns - abhängig von Sparte, Transaktionsgrund und Energierichtung - wird eine der folgenden Prüfidentifkatoren versand 44001, 55001, 55077, 55600, 55601","operationId":"SAP_START_LIEFERBEGINN","parameters":[],"requestBody":{"content":{"application/json":{"examples":{"START_LIEFERBEGINN":{"summary":"START_LIEFERBEGINN Sparte Strom aus SAP","value":{"HEADER":{"ID":"00505688-E4A2-1EDF-A0C2-C81842E2515E","EVENTNAME":"START_LIEFERBEGINN","SENDER_ID":"4045458000000","SENDER_CODELIST":"293","RECEIVER_ID":"9903790000002","RECEIVER_CODELIST":"293"},"DATA":{"MDOC_GUID":"00505688-E4A2-1EDF-A0C2-C81842E2515E","HEADER":{"MDOC_TYPE":"SWTDOC","MDOC_STATUS":"","CREATED_BY":"MSKUPCH","CREATED_AT":20241004060230,"CHANGED_BY":"","CHANGED_AT":0},"VALUES":[{"OBJECT":"ADD_MARKET_PARTNER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SL-NWV","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"ANREDE","ATTRIBUTE_VALUE":"0002","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"HAUSNUMMER","ATTRIBUTE_VALUE":"49","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"1100000087","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"LANDESCODE","ATTRIBUTE_VALUE":"DE","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"NAME1","ATTRIBUTE_VALUE":"Glöppel","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"NAME2","ATTRIBUTE_VALUE":"Walter","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"ORT","ATTRIBUTE_VALUE":"Grevenbroich","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"POSTLEITZAHL","ATTRIBUTE_VALUE":"41515","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"GEWERBEKENNZEICHNUNG","ATTRIBUTE_VALUE":"true","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"STRASSE","ATTRIBUTE_VALUE":"Bahnstraße","ATTRIBUTE_TYPE":""},{"OBJECT":"INT_METERING_POINT","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"ta6JJFrEgF6YNm1GLezzSm","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"74018657187","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"ENERGIERICHTUNG","ATTRIBUTE_VALUE":"AUSSP","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"SPARTE","ATTRIBUTE_VALUE":"STROM","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"HAUSHALTSKUNDE","ATTRIBUTE_VALUE":"true","ATTRIBUTE_TYPE":""},{"OBJECT":"TRANSAKTION","ATTRIBUTE_NAME":"TRANSAKTIONSGRUND","ATTRIBUTE_VALUE":"E01","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"BILANZKREIS","ATTRIBUTE_VALUE":"11Y0-0000-0077-K","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"MESSTECHNISCHEEINORDNUNG","ATTRIBUTE_VALUE":"9991000002115","ATTRIBUTE_TYPE":""},{"OBJECT":"TRANSAKTION","ATTRIBUTE_NAME":"TRANSAKTIONSGRUNDERGAENZUNG","ATTRIBUTE_VALUE":"ZW4","ATTRIBUTE_TYPE":""},{"OBJECT":"RECEIVER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SL-CCV","ATTRIBUTE_TYPE":""},{"OBJECT":"SENDER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SN-CCN","ATTRIBUTE_TYPE":""}],"DATE_TYPES":[{"DATE_TYPE":"START_SUPPLY","DATE_TIME":20241031220000}],"REFERENCES":[{"MA_EVENT":"START_LIEFERBEGINN","DEXTASKID":"","MA_GUID":"","CREATED_AT":20241004060230,"CHANGED_AT":20241004060249,"STATUS":"PENDING"}],"ISUDOC":[]}}}},"schema":{"description":"Schema für Versand des Lieferbeginns - abhängig von Sparte, Transaktionsgrund und Energierichtung - wird eine der folgenden Prüfidentifkatoren versand 44001, 55001, 55077, 55600, 55601 ","properties":{"HEADER":{"type":"object","properties":{"ID":{"type":"string","example":"00505688-E4A2-1EDF-A0C2-C81842E2515E"},"EVENTNAME":{"type":"string","enum":["START_LIEFERBEGINN"],"example":"START_LIEFERBEGINN"},"SENDER_ID":{"type":"string","example":"4045458000000"},"SENDER_CODELIST":{"type":"string","example":"293"},"RECEIVER_ID":{"type":"string","example":"9903790000002"},"RECEIVER_CODELIST":{"type":"string","example":"293"}}},"DATA":{"type":"object","properties":{"MDOC_GUID":{"type":"string","example":"00505688-E4A2-1EDF-A0C2-C81842E2515E"},"HEADER":{"type":"object","properties":{"MDOC_TYPE":{"type":"string","example":"SWTDOC"},"MDOC_STATUS":{"type":"string","example":""},"CREATED_BY":{"type":"string","example":"MSKUPCH"},"CREATED_AT":{"type":"integer","example":20241004060230},"CHANGED_BY":{"type":"string","example":""},"CHANGED_AT":{"type":"integer","example":0}}},"VALUES":{"type":"array","items":{"oneOf":[{"type":"object","description":"ADD_MARKET_PARTNER - KEY","properties":{"OBJECT":{"type":"string","enum":["ADD_MARKET_PARTNER"],"example":"ADD_MARKET_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"SL-NWV"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - ANREDE","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["ANREDE"],"example":"ANREDE"},"ATTRIBUTE_VALUE":{"type":"string","example":"0002"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - HAUSNUMMER","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["HAUSNUMMER"],"example":"HAUSNUMMER"},"ATTRIBUTE_VALUE":{"type":"string","example":"49"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - KEY","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"1100000087"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - LANDESCODE","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["LANDESCODE"],"example":"LANDESCODE"},"ATTRIBUTE_VALUE":{"type":"string","example":"DE"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - NAME1","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["NAME1"],"example":"NAME1"},"ATTRIBUTE_VALUE":{"type":"string","example":"Glöppel"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - NAME2","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["NAME2"],"example":"NAME2"},"ATTRIBUTE_VALUE":{"type":"string","example":"Walter"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - ORT","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["ORT"],"example":"ORT"},"ATTRIBUTE_VALUE":{"type":"string","example":"Grevenbroich"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - POSTLEITZAHL","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["POSTLEITZAHL"],"example":"POSTLEITZAHL"},"ATTRIBUTE_VALUE":{"type":"string","example":"41515"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - GEWERBEKENNZEICHNUNG","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["GEWERBEKENNZEICHNUNG"],"example":"GEWERBEKENNZEICHNUNG"},"ATTRIBUTE_VALUE":{"type":"string","example":"true"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"BUSINESS_PARTNER - STRASSE","properties":{"OBJECT":{"type":"string","enum":["BUSINESS_PARTNER"],"example":"BUSINESS_PARTNER"},"ATTRIBUTE_NAME":{"type":"string","enum":["STRASSE"],"example":"STRASSE"},"ATTRIBUTE_VALUE":{"type":"string","example":"Bahnstraße"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"INT_METERING_POINT - KEY","properties":{"OBJECT":{"type":"string","enum":["INT_METERING_POINT"],"example":"INT_METERING_POINT"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"ta6JJFrEgF6YNm1GLezzSm"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - KEY","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"74018657187"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - ENERGIERICHTUNG","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["ENERGIERICHTUNG"],"example":"ENERGIERICHTUNG"},"ATTRIBUTE_VALUE":{"type":"string","example":"AUSSP"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - SPARTE","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["SPARTE"],"example":"SPARTE"},"ATTRIBUTE_VALUE":{"type":"string","example":"STROM"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - HAUSHALTSKUNDE","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["HAUSHALTSKUNDE"],"example":"HAUSHALTSKUNDE"},"ATTRIBUTE_VALUE":{"type":"string","example":"true"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"TRANSAKTION - TRANSAKTIONSGRUND","properties":{"OBJECT":{"type":"string","enum":["TRANSAKTION"],"example":"TRANSAKTION"},"ATTRIBUTE_NAME":{"type":"string","enum":["TRANSAKTIONSGRUND"],"example":"TRANSAKTIONSGRUND"},"ATTRIBUTE_VALUE":{"type":"string","example":"E01"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - BILANZKREIS","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["BILANZKREIS"],"example":"BILANZKREIS"},"ATTRIBUTE_VALUE":{"type":"string","example":"11Y0-0000-0077-K"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - MESSTECHNISCHEEINORDNUNG","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["MESSTECHNISCHEEINORDNUNG"],"example":"MESSTECHNISCHEEINORDNUNG"},"ATTRIBUTE_VALUE":{"type":"string","example":"X"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"MARKTLOKATION - NETZBETREIBER","properties":{"OBJECT":{"type":"string","enum":["MARKTLOKATION"],"example":"MARKTLOKATION"},"ATTRIBUTE_NAME":{"type":"string","enum":["NETZBETREIBER"],"example":"NETZBETREIBER"},"ATTRIBUTE_VALUE":{"type":"string","example":"1"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"TRANSAKTION - TRANSAKTIONSGRUNDERGAENZUNG","properties":{"OBJECT":{"type":"string","enum":["TRANSAKTION"],"example":"TRANSAKTION"},"ATTRIBUTE_NAME":{"type":"string","enum":["TRANSAKTIONSGRUNDERGAENZUNG"],"example":"TRANSAKTIONSGRUNDERGAENZUNG"},"ATTRIBUTE_VALUE":{"type":"string","example":"ZW4"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"RECEIVER - KEY","properties":{"OBJECT":{"type":"string","enum":["RECEIVER"],"example":"RECEIVER"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"SL-CCV"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}},{"type":"object","description":"SENDER - KEY","properties":{"OBJECT":{"type":"string","enum":["SENDER"],"example":"SENDER"},"ATTRIBUTE_NAME":{"type":"string","enum":["KEY"],"example":"KEY"},"ATTRIBUTE_VALUE":{"type":"string","example":"SN-CCN"},"ATTRIBUTE_TYPE":{"type":"string","example":""}}}]}},"DATE_TYPES":{"type":"array","items":{"oneOf":[{"type":"object","description":"START_SUPPLY","properties":{"DATE_TYPE":{"type":"string","example":"START_SUPPLY"},"DATE_TIME":{"type":"integer","example":20241031220000}}},{"type":"object","description":"END_SUPPLY","properties":{"DATE_TYPE":{"type":"string","example":"END_SUPPLY"},"DATE_TIME":{"type":"integer","example":20241031220000}}}]}},"REFERENCES":{"type":"array","items":{"type":"object","properties":{"MA_EVENT":{"type":"string","example":"START_LIEFERBEGINN"},"DEXTASKID":{"type":"string","example":""},"MA_GUID":{"type":"string","example":""},"CREATED_AT":{"type":"integer","example":20241004060230},"CHANGED_AT":{"type":"integer","example":20241004060249},"STATUS":{"type":"string","example":"PENDING"}}}},"ISUDOC":{"type":"array","items":{"type":"object","nullable":true}}}}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_LIEFERBEGINN","tags":["SAP EVENTS","LIEFERANT"]}},"/SAP_START_MALOIDENT":{"post":{"deprecated":false,"description":"Versand einer MaloIdent Anfrage via API-Webdienst","operationId":"SAP_START_MALOIDENT","parameters":[],"requestBody":{"content":{"application/json":{"examples":{"START_LIEFERBEGINN":{"summary":"START_LIEFERBEGINN Sparte Strom aus SAP","value":{"HEADER":{"ID":"00505688-E4A2-1EDF-A0C2-C81842E2515E","EVENTNAME":"START_LIEFERBEGINN","SENDER_ID":"4045458000000","SENDER_CODELIST":"293","RECEIVER_ID":"9903790000002","RECEIVER_CODELIST":"293"},"DATA":{"MDOC_GUID":"00505688-E4A2-1EDF-A0C2-C81842E2515E","HEADER":{"MDOC_TYPE":"SWTDOC","MDOC_STATUS":"","CREATED_BY":"MSKUPCH","CREATED_AT":20241004060230,"CHANGED_BY":"","CHANGED_AT":0},"VALUES":[{"OBJECT":"ADD_MARKET_PARTNER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SL-NWV","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"ANREDE","ATTRIBUTE_VALUE":"0002","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"HAUSNUMMER","ATTRIBUTE_VALUE":"49","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"1100000087","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"LANDESCODE","ATTRIBUTE_VALUE":"DE","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"NAME1","ATTRIBUTE_VALUE":"Glöppel","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"NAME2","ATTRIBUTE_VALUE":"Walter","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"ORT","ATTRIBUTE_VALUE":"Grevenbroich","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"POSTLEITZAHL","ATTRIBUTE_VALUE":"41515","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"GEWERBEKENNZEICHNUNG","ATTRIBUTE_VALUE":"true","ATTRIBUTE_TYPE":""},{"OBJECT":"BUSINESS_PARTNER","ATTRIBUTE_NAME":"STRASSE","ATTRIBUTE_VALUE":"Bahnstraße","ATTRIBUTE_TYPE":""},{"OBJECT":"INT_METERING_POINT","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"ta6JJFrEgF6YNm1GLezzSm","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"74018657187","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"ENERGIERICHTUNG","ATTRIBUTE_VALUE":"AUSSP","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"SPARTE","ATTRIBUTE_VALUE":"STROM","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"HAUSHALTSKUNDE","ATTRIBUTE_VALUE":"true","ATTRIBUTE_TYPE":""},{"OBJECT":"TRANSAKTION","ATTRIBUTE_NAME":"TRANSAKTIONSGRUND","ATTRIBUTE_VALUE":"E01","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"BILANZKREIS","ATTRIBUTE_VALUE":"11Y0-0000-0077-K","ATTRIBUTE_TYPE":""},{"OBJECT":"MARKTLOKATION","ATTRIBUTE_NAME":"MESSTECHNISCHEEINORDNUNG","ATTRIBUTE_VALUE":"9991000002115","ATTRIBUTE_TYPE":""},{"OBJECT":"TRANSAKTION","ATTRIBUTE_NAME":"TRANSAKTIONSGRUNDERGAENZUNG","ATTRIBUTE_VALUE":"ZW4","ATTRIBUTE_TYPE":""},{"OBJECT":"RECEIVER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SL-CCV","ATTRIBUTE_TYPE":""},{"OBJECT":"SENDER","ATTRIBUTE_NAME":"KEY","ATTRIBUTE_VALUE":"SN-CCN","ATTRIBUTE_TYPE":""}],"DATE_TYPES":[{"DATE_TYPE":"START_SUPPLY","DATE_TIME":20241031220000}],"REFERENCES":[{"MA_EVENT":"START_LIEFERBEGINN","DEXTASKID":"","MA_GUID":"","CREATED_AT":20241004060230,"CHANGED_AT":20241004060249,"STATUS":"PENDING"}],"ISUDOC":[]}}}},"schema":{"description":"Schema Versand einer MaloIdent Anfrage via API-Webdienst","properties":{"eventName":{"type":"string","enum":["START_MALOIDENT"]},"id":{"description":"BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend","example":110000000409,"type":"string"},"empfaenger":{"description":"Rollencodenummer des Empfängers | Role code number of the recipient","example":"9903790000002","type":"string"},"absender":{"description":"Rollencodenummer des Absenders | Role code number of the sender","example":"9800044300007","type":"string"},"marktlokationsId":{"description":"Marktlokations-ID | Market location ID","example":"50074561188","type":"string"},"transaktionsgrund":{"description":"Transaktionsgrund | transaction reason","example":"Z02","default":"Z02","type":"string"},"transaktionsgrundergaenzung":{"description":"Transaktionsgrundergänzung | transaction reason addition","example":"E03","default":"E03","type":"string"},"transaktionsgrundergaenzungBefristeteAnmeldung":{"description":"Transaktionsgrundergänzung | transaction reason addition","example":"E03","default":"E03","type":"string"},"sparte":{"description":"Sparte, z.B. Strom | Sector, e.g., electricity","example":"STROM","type":"string"},"energierichtung":{"description":"Energierichtung, z.B. AUSSP | Energy direction, e.g., AUSSP","example":"AUSSP","type":"string"},"bilanzkreis":{"description":"bilanzkreis","example":"bilanzkreis","type":"string"},"vertragsbeginn":{"description":"Beginn des Vertrags | Start of the contract","example":"2024-10-31T23:00:00Z","format":"date-time","type":"string"},"vertragsende":{"description":"Ende des Vertrags | End of the contract","example":"2024-06-01T04:00:00Z","format":"date-time","type":"string"},"haushaltskunde":{"description":"Haushaltskunde","example":true,"type":"boolean"},"gewerbekennzeichnung":{"description":"Gewerbekennzeichnung","example":true,"type":"boolean"},"verguetungEmpfaenger":{"description":"VerguetungEmpfaenger","example":"VerguetungEmpfaenger","type":"string"},"bildungTranchengroesse":{"description":"bildungTranchengroesse","example":"bildungTranchengroesse","type":"string"},"wert":{"description":"wert","example":"wert","type":"string"},"einheit":{"description":"einheit","example":"einheit","type":"string"},"anrede":{"description":"anrede","example":"HERR","type":"string"},"name1":{"description":"name1","example":"name1","type":"string"},"name2":{"description":"name2","example":"name2","type":"string"},"postleitzahl":{"description":"postleitzahl","example":"76229","type":"string"},"ort":{"description":"ort","example":"Karlsruhe","type":"string"},"strasse":{"description":"strasse","example":"Greschbachstraße","type":"string"},"hausnummer":{"description":"hausnummer","example":"5","type":"string"},"ortsteil":{"description":"ortsteil","example":"Ausbau","type":"string"},"landescode":{"description":"landescode","example":"DE","type":"string"}},"required":["id","eventName"],"type":"object"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","description":"Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call","properties":{"businessKey":{"description":"Einzigartige Kennung des Geschäftsprozesses | Unique identifier of the business process","format":"uuid","type":"string"},"message":{"description":"Nachricht mit Details zum ausgelösten Event | Message with details about the triggered event","example":"received event XXXXXXXXXXXX with id at 2024-08-08T12:58:22Z and started process with businessKey 4c7170ed-3518-41ee-8582-39ab65b00107","type":"string"}},"required":["businessKey","message"]}}},"description":"Erfolg | Success"},"400":{"content":{"application/json":{"schema":{"type":"object","description":"Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call","properties":{"errorCode":{"type":"string","description":"Error identifier","example":"400"},"message":{"type":"string","description":"Technische Meldung | Technische Meldung","example":"Validation Failed"}}}}},"description":"Fehler | Fail"}},"security":[],"summary":"START_LIEFERBEGINN","tags":["SAP EVENTS","LIEFERANT"]}}}}
=======
{"openapi":"3.1.0","info":{"title":"Schnittstellen der MACO APP","description":"Folgende Schnittstellen bietet die MACO APP einem Backend für das Auslösen von Prozessen.  \n\n<details>\n<summary>Changelog</summary>\n\n- **Version 1.2.2** - *10. Januar 2025* - _Autor: C. Lösche_\n  - Beispiele ergänzt für START_LIEFERBEGINN, START_KUENDIGUNG, START_LIEFERENDE\n  - Hinzugefügtes Schemas: `ECS_MALOIDENT`\n\n- **Version 1.2.1** - *07. Januar 2025* - _Autor: DAS_\n  - Falsches `data` Root Element entfernt\n  - Hinzugefügtes Schemas: `START_MALOIDENT`\n\n- **Version 1.2.0** - *16. Dezember 2024* - _Autor: DAS_\n  - Entfernung alter Event Schemas     \n  - Hinzugefügte Schemas: `START_LIEFERBEGINN`, `START_KUENDIGUNG`, `START_BESTELLUNG_KONFIGURATION`, `START_STAMMDATENAENDERUNG_MALO_AN_LF`, `START_STAMMDATENAENDERUNG_MALO_AN_MSB`, `START_LIEFERENDE`, `START_AUFHEBUNG_ZUK_ZUORDNUNG_LF`, `START_AUFHEBUNG_ZUK_ZUORDNUNG_MSB`, `START_ABR_NN`, `START_VERSAND_ABR_BILA`, `START_VERSAND_BEARB_MELDUNG`.\n\n- **Version 1.0.2** - *04. Oktober 2024* - _Autor: DAS_\n  - Update START_LIEFERBEGINN und START_LIEFERENDE\n\n- **Version 1.0.1** - *08. August 2024* - _Autor: DAS_\n\n- Erweiterung der API um zusätzliche Schemas und Beispiele.\n- Hinzugefügte Schemas: `START_LIEFERBEGINN_STROM`, `START_LIEFERBEGINN_GAS`, `START_ABR_NN`, `START_DEFINITION_SCHALTZEIT`, `START_DEFINITION_LEISTUNGSKURVE`, `START_DEFINITION_ZAEHLZEIT`, `START_KUENDIGUNG`.\n\n- **Version 1.0.0** - *01. August 2024* - _Autor: DAS_\n\n- Initiale Veröffentlichung der API mit dem `START_SPERRAUFTRAG`-Schema.\n\n</details>\n","version":"1.2.1","license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://api.macoapp.de","description":"Fake Env"}],"tags":[{"name":"TRIGGER","description":"Trigger Events aus dem Backend"}],"paths":{"/inbound":{"post":{"deprecated":false,"description":"Triggert den Versand von EDIFACT Nachrichten an Marktpartner durch die MACO APP. Die Anfrage wird identifiziert durch den Eventnamen z.B. START_LIEFERBEGINN. Zusätzlich ist eine eindeutige ID prozessId aus dem Backend mit zu übergeben, mit der die spätere Antwort vom Marktpartner wieder an das Backend übergeben werden kann.","operationId":"inbound","parameters":[],"requestBody":{"content":{"application/json":{"examples":{"START_MALOIDENT":{"summary":"START_MALOIDENT - Versand einer MaloIdent Anfrage (LF)","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"57685676748","energierichtung":"AUSSP","lokationsadresse":{"postleitzahl":"12117","ort":"Berlin","strasse":"Reinhardtstraße","hausnummer":"32","adresszusatz":"Ausbau","landescode":"DE"},"katasterinformation":{"gemarkung_flur":"Musterstadt","flurstueck":"123","flurstueckNummer":"456"},"geokoordinaten":{"breitengrad":"52.5200","laengengrad":"13.4050","ostwert":"123456","nordwert":"654321","zone":"UTMZone31","hochwert":"1234567","rechtswert":"7654321"}}],"TRANCHE":[{"boTyp":"TRANCHE","versionStruktur":"1","tranchenId":"57685676742"}],"MESSLOKATION":[{"boTyp":"MESSLOKATION","versionStruktur":"1","messlokationsId":"DE00014545768S0000000000000003054"}],"ZAEHLER":[{"boTyp":"ZAEHLER","versionStruktur":"1","zaehlernummer":"1SM-8465929523"}],"ENERGIELIEFERVERTRAG":[{"boTyp":"VERTRAG","versionStruktur":"1","vertragsart":"ENERGIELIEFERVERTRAG","vertragspartner2":[{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Prof.Dr.","name1":"Becker","name2":"Michael","gewerbekennzeichnung":false,"geschaeftspartnerrolle":["KUNDE"],"externeReferenzen":[{"exRefName":"V567345345","exRefWert":"V567345345"}]}]}]},"transaktionsdaten":{"ausfuehrungsdatum":"2023-08-02T22:00:00Z","absender":{"rollencodenummer":"9904000000005"},"empfaenger":{"rollencodenummer":"9900936000002"}},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_MALOIDENT"}}},"START_KUENDIGUNG":{"oneOf":[{"summary":"START_KUENDIGUNG - Kündigung (LF) Strom DTM+93","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"50754496000","sparte":"STROM"}]},"transaktionsdaten":{"transaktionsgrund":"E03","transaktionsgrundergaenzung":"ZW4","absender":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9903526000002","rollencodetyp":"BDEW"},"empfaenger":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9979052000006","rollencodetyp":"BDEW"},"kategorie":"E35","vertragsende":"2025-10-31T23:00:00Z"},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_KUENDIGUNG"}}},{"summary":"START_KUENDIGUNG - Kündigung (LF) Strom DTM+93","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"50754496000","sparte":"STROM"}]},"transaktionsdaten":{"transaktionsgrund":"E03","transaktionsgrundergaenzung":"ZW4","absender":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9903526000002","rollencodetyp":"BDEW"},"empfaenger":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9979052000006","rollencodetyp":"BDEW"},"kategorie":"E35","endezumtermin":"2025-10-31T23:00:00Z"},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_KUENDIGUNG"}}},{"summary":"START_KUENDIGUNG - Kündigung (LF) Gas","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"50754496000","sparte":"GAS","lokationsadresse":{"postleitzahl":"07549","ort":"Gera","strasse":"Musterstraße","hausnummer":"5","landescode":"DE"}}],"ZAEHLER":[{"boTyp":"ZAEHLER","versionStruktur":"1","zaehlernummer":"7AMX1706001745"}],"ENERGIELIEFERVERTRAG":[{"boTyp":"VERTRAG","versionsStruktur":"1","vertragspartner2":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","geschaeftspartnerrolle":"KUNDE","name1":"Muster","name2":"Mann","externeReferenzen":{"exRefName":"Kundennummer beim Altlieferanten","exRefWert":"123456789"}}}]},"transaktionsdaten":{"sparte":"STROM","transaktionsgrund":"E03","absender":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9803526000002","rollencodetyp":"DVGW"},"empfaenger":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9800683000008","rollencodetyp":"DVGW"},"kategorie":"E35","endezumtermin":"2025-04-30T23:00:00Z"},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_KUENDIGUNG"}}}]},"START_LIEFERBEGINN":{"oneOf":[{"summary":"START_LIEFERBEGINN - Anmeldung verbr Marktlokation (LF) Strom","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"50754496000","erforderlichesProduktpaket":[{"produktpaketId":1,"produkt":[{"produktCode":"9991000002082","wertedetails":"11Y0-0000-0077-K"},{"produktCode":"9991000002008","codeProdukteigenschaft":"9991000002115"}],"umsetzungsgradvorgabe":"ZUORDNUNG_NUR_WENN_PRODUKTPAKET_UMSETZBAR"}],"marktlokationsTyp":[{"typ":"STANDARD_MARKTLOKATION"}]}],"NETZNUTZUNGSVERTRAG":[{"boTyp":"VERTRAG","versionStruktur":"1","vertragsart":"NETZNUTZUNGSVERTRAG","sparte":"STROM","vertragskonditionen":{"haushaltskunde":true}}],"ENERGIELIEFERVERTRAG":[{"boTyp":"VERTRAG","versionStruktur":"1","vertragsart":"ENERGIELIEFERVERTRAG","sparte":"STROM","vertragspartner2":[{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Herr","name1":"Glöppel","name2":"Walter","gewerbekennzeichnung":false,"geschaeftspartnerrolle":["KUNDE"]}],"korrespondenzpartner":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","name1":"Glöppel","gewerbekennzeichnung":false,"partneradresse":{"postleitzahl":"41515","ort":"Grevenbroich","strasse":"Bahnstraße","hausnummer":"49","landescode":"DE"}},"enFG":[{"grundlageVerringerungUmlagen":"ERFUELLT_VORAUSSETZUNG_NACH_ENFG","grund":["ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN"]}]}]},"transaktionsdaten":{"transaktionsgrund":"E01","transaktionsgrundergaenzung":"ZW4","sparte":"STROM","vertragsbeginn":"2025-10-31T23:00:00Z","absender":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9903526000002","rollencodetyp":"BDEW"},"empfaenger":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9900683000008","rollencodetyp":"BDEW"},"kategorie":"E01"},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_LIEFERBEGINN"}}},{"summary":"START_LIEFERBEGINN - Anmeldung ruhende Marktlokation (LF) Strom befristet","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"50754496001","erforderlichesProduktpaket":[{"produktpaketId":1,"produkt":[{"produktCode":"9991000002082","wertedetails":"11Y0-0000-0077-K"},{"produktCode":"9991000002008","codeProdukteigenschaft":"9991000002115"}],"umsetzungsgradvorgabe":"ZUORDNUNG_NUR_WENN_PRODUKTPAKET_UMSETZBAR"}],"marktlokationsTyp":[{"typ":"RUHENDE_MARKTLOKATION"}]}],"NETZNUTZUNGSVERTRAG":[{"boTyp":"VERTRAG","versionStruktur":"1","vertragsart":"NETZNUTZUNGSVERTRAG","sparte":"STROM","vertragskonditionen":{"haushaltskunde":true}}],"ENERGIELIEFERVERTRAG":[{"boTyp":"VERTRAG","versionStruktur":"1","vertragsart":"ENERGIELIEFERVERTRAG","sparte":"STROM","vertragspartner2":[{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","anrede":"Herr","name1":"Glöppel","name2":"Walter","gewerbekennzeichnung":false,"geschaeftspartnerrolle":["KUNDE"]}],"korrespondenzpartner":{"boTyp":"GESCHAEFTSPARTNER","versionStruktur":"1","name1":"Glöppel","gewerbekennzeichnung":false,"partneradresse":{"postleitzahl":"41515","ort":"Grevenbroich","strasse":"Bahnstraße","hausnummer":"49","landescode":"DE"}},"enFG":[{"grundlageVerringerungUmlagen":"ERFUELLT_VORAUSSETZUNG_NACH_ENFG","grund":["ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN"]}]}]},"transaktionsdaten":{"transaktionsgrund":"E01","transaktionsgrundergaenzung":"ZW4","transaktionsgrundergaenzungBefristeteAnmeldung":"E03","sparte":"STROM","vertragsbeginn":"2025-10-31T23:00:00Z","vertragsende":"2025-12-31T23:00:00Z","absender":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9903526000002","rollencodetyp":"BDEW"},"empfaenger":{"boTyp":"MARKTTEILNEHMER","versionStruktur":"1","rollencodenummer":"9900683000008","rollencodetyp":"BDEW"},"kategorie":"E01"},"zusatzdaten":{"prozessId":"00505688-E4A2-1EDF-A0C2-C81842E2515E","eventname":"START_LIEFERBEGINN"}}}]},"START_LIEFERENDE":{"oneOf":[{"summary":"START_LIEFERENDE - Lieferende verbr MaLo Strom LF an NB","value":{"stammdaten":{"MARKTLOKATION":[{"boTyp":"MARKTLOKATION","versionStruktur":"1","marktlokationsId":"57685676748","sparte":"ST
[...]
