openapi: 3.1.0
info:
  title: MACO APP - erforderliche ERP Schnittstellen | MACO APP - needed ERP interfaces
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  description: |
    Übersicht der erforderlichen BO4E- und Prozessschnittstellen, die die MACO APP für die Ausführung der Marktprozesse benötigt. | Overview of the necessary BO4E and process interfaces that the MACO APP requires to execute market processes.

    <details>
    <summary>Changelog</summary>
    **Version 1.0.5** - *18. September 2024* - _Autor: DAS_ - Update Default Command auf SAP_ statt NOCODB_ - Update Default Beispiel MaloId auf 50074561188
    **Version 1.0.4** - *13. September 2024* - _Autor: Tu Quy Nguyen_ - Update Formatierungen
    **Version 1.0.3** - *28. August 2024* - _Autor: Tu Quy Nguyen_ - Aktualisierung Parameter LESEN Schnittstellen
    **Version 1.0.2** - *20. August 2024* - _Autor: Tu Quy Nguyen_ - Schema ergänzt für START_N_BILA_REL_AEND_VON_NB, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_MESSWERTUEBERMITTLUNG, START_MALOIDENT, START_LIEFERENDE, START_KUENDIGUNG
    **Version 1.0.1** - *08. August 2024* - _Autor: DAS_
    - Hinzufügen von mehrsprachigen Beschreibungen und Changelog. - Anpassung der Schema-Beschreibungen in Deutsch und Englisch.
    **Version 1.0** - *01. August 2024* - _Autor: DAS_
    - Initiale Version der API-Dokumentation.

    </details>
  version: 1.0.5
servers:
  - url: 'https://api.macoapp.de'
    description: Mock-Umgebung | Mock environment
tags:
  - name: LESEN | READ
    description: Lesender Zugriff auf Geschäftsobjekte | Reading access to business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: AKTUALISIEREN | UPDATE
    description: Aktualisierung bestehender Geschäftsobjekte | Updating existing business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: ERSTELLEN | CREATE
    description: Erstellen von Geschäftsobjekten | Creating business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: LÖSCHEN | DELETE
    description: Löschen von Geschäftsobjekten | Deleting business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: PROZESSDATEN | PROCESSING DATA
    description: Auslösen von Prozessen im ERP System | Triggering processes in the ERP system
  - name: EVENTDATEN | EVENT DATA
    description: Lesen von Eventdaten im ERP System | Reading event data in the ERP system
security: []
paths:
  /LESEN_KOMMUNIKATIONSDATEN_BASIS:
    get:
      description: Lesen der Kommunikationsdaten des Serviceanbieters (Parameter1) zum Zeitpunkt (Parameter2) | Reading the communication data of the service provider (Parameter1) at the time (Parameter2)
      operationId: LESEN_KOMMUNIKATIONSDATEN_BASIS
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: LESEN_KOMMUNIKATIONSDATEN_BASIS
            example: SAP_LESEN_KOMMUNIKATIONSDATEN_BASIS
            type: string
        - description: ILN Nummer | ILN number
          in: query
          name: parameter1
          required: true
          schema:
            example: '9903790000002'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  boTyp:
                    default: KOMMUNIKATIONSDATEN
                    type: string
                  gueltigkeit:
                    format: date-time
                    type: string
                  kommunikationsDatenBlattInaktiv:
                    type: boolean
                  kommunikationsangaben:
                    items:
                      $ref: '#/paths/~1LOESCHEN_KOMMUNIKATIONSDATEN_BASIS/post/requestBody/content/application~1json/schema'
                    type: array
                  marktteilnehmer:
                    $ref: '#/paths/~1LOESCHEN_KOMMUNIKATIONSDATEN_BASIS/post/requestBody/content/application~1json/schema'
                  versionStruktur:
                    default: '1'
                    type: string
                required:
                  - boTyp
                  - versionStruktur
                type: object
          description: Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of communication data
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: LESEN_KOMMUNIKATIONSDATEN_BASIS
      tags:
        - LESEN | READ
  /AKTUALISIEREN_LOKATIONSBUENDEL_BASIS:
    post:
      description: Ändern eines Lokationsbündels mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a location bundle using location ID (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
            example: NOCODB_AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Stichtag | Key date
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: Stichtag | Key date
          in: query
          name: parameter3
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: OBIS | OBIS
          in: query
          name: parameter4
          required: true
          schema:
            example: '123456789'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Aktualisieren des Lokationsbündels | Successful updating of the location bundle
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: AKTUALISIEREN_LOKATIONSBUENDEL_BASIS
      tags:
        - AKTUALISIEREN | UPDATE
  /LESEN_NETZNUTZUNGSVERTRAG_BASIS:
    get:
      description: Ändert einen Liefervertrag mittels LokationsId  (Parameter1)  zum Zeitpunkt (Parameter2) | Changes a delivery contract using LocationId (Parameter1)  at time (Parameter2)
      operationId: LESEN_NETZNUTZUNGSVERTRAG_BASIS
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: LESEN_NETZNUTZUNGSVERTRAG_BASIS
            example: LESEN_NETZNUTZUNGSVERTRAG_BASIS
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Stichtag | Key date
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Lesen der Marktlokation | Successful reading of the market location
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: integer
                    description: Error code
      summary: LESEN_NETZNUTZUNGSVERTRAG_BASIS
      tags:
        - LESEN | READ
  /ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE:
    post:
      description: Schreiben einer Energiemenge über eine Lokation (Parameter1) zu einem Zeitpunkt (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4) | Writing an energy quantity for a location (Parameter1) at a point in time (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
            example: NOCODB_ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (ab) | Date (from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-05-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: Datum (bis) | Date (until)
          in: query
          name: parameter3
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: OBIS Kennzahl | OBIS code
          in: query
          name: parameter4
          required: false
          schema:
            example: '1-1:1.9.0'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Schreiben der Energiemenge | Successful writing of the energy quantity
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: ERSTELLEN_ENERGIEMENGE_ENERGIEMENGE
      tags:
        - ERSTELLEN | CREATE
  /AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG:
    post:
      description: Lesen einer MaLo mittels LokationsId  (Parameter1)  zum Zeitpunkt (Parameter2) | Reading a MaLo using LocationId (Parameter1)  at time (Parameter2)
      operationId: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
            example: NOCODB_AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
            type: string
        - description: ILN Nummer | ILN number
          in: query
          name: parameter1
          required: true
          schema:
            example: '9903790000002'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1LOESCHEN_KOMMUNIKATIONSDATEN_BASIS/post/requestBody/content/application~1json/schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_KOMMUNIKATIONSDATEN_BASIS/get/responses/200/content/application~1json/schema'
          description: Erfolgreiches Aktualisieren der Kommunikationsdaten | Successful updating of communication data
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: AKTUALISIEREN_PROZESSDATEN_KUENDIGUNG
      tags:
        - AKTUALISIEREN | UPDATE
  /AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS:
    post:
      description: Aktualisieren der Kommunikationsdaten des Serviceanbieters (Parameter1)  zum Zeitpunkt (Parameter2) | Updating the service provider’s communication data (Parameter1)  at time (Parameter2)
      operationId: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
            example: NOCODB_AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Lesen des Energieliefervertrages | Successful reading of energy delivery contract
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: AKTUALISIEREN_ENERGIELIEFERVERTRAG_BASIS
      tags:
        - AKTUALISIEREN | UPDATE
  /LESEN_ENERGIEMENGE_ENERGIEMENGE:
    get:
      description: Lesen einer Energiemenge über eine Lokation (Parameter1) in einer Range (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4 optional) | Reading an energy quantity for a location (Parameter1) in a range (Parameter2/Parameter3) and an OBIS code (Parameter4 optional)
      operationId: LESEN_ENERGIEMENGE_ENERGIEMENGE
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: LESEN_ENERGIEMENGE_ENERGIEMENGE
            example: SAP_LESEN_ENERGIEMENGE_ENERGIEMENGE
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (ab) | Date (from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-05-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: Datum (bis) | Date (until)
          in: query
          name: parameter3
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: OBIS Kennzahl | OBIS code
          in: query
          name: parameter4
          required: false
          schema:
            example: '1-1:1.9.0'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Lesen der Energiemenge | Successful reading of the energy quantity
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: LESEN_ENERGIEMENGE_ENERGIEMENGE
      tags:
        - LESEN | READ
  /ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND:
    post:
      description: Schreiben eines Zählerstands über eine Lokation (Parameter1) zu einem Zeitpunkt (Parameter2/Parameter3) und einer OBIS Kennzahl (Parameter4) | Writing a meter reading for a location (Parameter1) at a point in time (Parameter2/Parameter3) and an OBIS code (Parameter4)
      operationId: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
          name: command
          required: true
          schema:
            default: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
            example: NOCODB_ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (ab) | Date (from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-05-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: Datum (bis) | Date (until)
          in: query
          name: parameter3
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
        - description: OBIS Kennzahl | OBIS code
          in: query
          name: parameter4
          required: false
          schema:
            example: '1-1:1.9.0'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Schreiben des Zählerstands | Successful writing of the meter reading
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: ERSTELLEN_ENERGIEMENGE_ZAEHLERSTAND
      tags:
        - ERSTELLEN | CREATE
  /ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS:
    post:
      description: Erstellen des Energieliefervertrages einer Lokation (Parameter1) zum Zeitpunkt (Parameter2) | Create the energy delivery contract of a location (Parameter1) at the time (Parameter2)
      operationId: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
            example: NOCODB_ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                boTyp:
                  type: string
                  default: VERTRAG
                versionStruktur:
                  type: string
                  default: '1'
                sparte:
                  $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/sparte'
                vertragsart:
                  type: string
                vertragsnummer:
                  type: string
                beschreibung:
                  type: string
                lokationsId:
                  type: string
                lokationsTyp:
                  $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema/properties/lokationsTyp'
                vertragsstatus:
                  enum:
                    - IN_ARBEIT
                    - UEBERMITTELT
                    - ANGENOMMEN
                    - AKTIV
                    - ABGELEHNT
                    - WIDERRUFEN
                    - STORNIERT
                    - GEKUENDIGT
                    - BEENDET
                  type: string
                vertragsbeginn:
                  type: string
                  format: date-time
                vertragsende:
                  type: string
                  format: date-time
                gemeinderabatt:
                  type: integer
                vertragskonditionen:
                  properties:
                    abrechnungUeberNna:
                      type: boolean
                    abrechnungsintervall:
                      type: integer
                    beauftragungMsb:
                      enum:
                        - VERTRAG_AN_MSB
                        - VERTRAGSBEENDIGUNG_MSB
                      type: string
                    beinhaltetSingulaerGenutzteBetriebsmittel:
                      type: boolean
                    gemeinderabatt:
                      properties:
                        bemessungsgrundlage:
                          format: float
                          type: number
                        einheit:
                          type: string
                        typ:
                          type: string
                        wert:
                          format: float
                          type: number
                      type: object
                    geplanteTurnusablesung:
                      $ref: '#/paths/~1LESEN_NETZNUTZUNGSVERTRAG_BASIS/get/responses/200/content/application~1json/schema/properties/vertragskonditionen/properties/kuendigungsfrist'
                    haushaltskunde:
                      type: boolean
                    kuendigungsfrist:
                      properties:
                        ableseZeitraum:
                          type: string
                        abrechnungsZeitraum:
                          type: string
                        dauer:
                          type: integer
                        einheit:
                          enum:
                            - SEKUNDE
                            - MINUTE
                            - STUNDE
                            - VIERTEL_STUNDE
                            - TAG
                            - WOCHE
                            - MONAT
                            - QUARTAL
                            - HALBJAHR
                            - JAHR
                          type: string
                        enddatum:
                          format: date-time
                          type: string
                        startdatum:
                          format: date-time
                          type: string
                        zeiteinheit:
                          $ref: '#/paths/~1LESEN_NETZNUTZUNGSVERTRAG_BASIS/get/responses/200/content/application~1json/schema/properties/vertragskonditionen/properties/kuendigungsfrist/properties/einheit'
                        zeitraumText:
                          type: string
                      type: object
                    kuendigungstermin:
                      type: string
                    naechstenetznutzungsabrechnung:
                      type: string
                    netznutzungsabrechnung:
                      $ref: '#/paths/~1LESEN_NETZNUTZUNGSVERTRAG_BASIS/get/responses/200/content/application~1json/schema/properties/vertragskonditionen/properties/kuendigungsfrist'
                    netznutzungsabrechnungIntervall:
                      type: integer
                    netznutzungsabrechnungsgrundlage:
                      enum:
                        - LIEFERSCHEIN
                        - ABWEICHENDE_GRUNDLAGE
                      type: string
                    netznutzungsabrechnungsvariante:
                      enum:
                        - ARBEITSPREIS_GRUNDPREIS
                        - ARBEITSPREIS_LEISTUNGSPREIS
                      type: string
                    netznutzungsvertrag:
                      enum:
                        - KUNDEN_NB
                        - LIEFERANTEN_NB
                      type: string
                    netznutzungszahler:
                      enum:
                        - KUNDE
                        - LIEFERANT
                      type: string
                    startAbrechnungsjahr:
                      format: date-time
                      type: string
                    vertragslaufzeit:
                      $ref: '#/paths/~1LESEN_NETZNUTZUNGSVERTRAG_BASIS/get/responses/200/content/application~1json/schema/properties/vertragskonditionen/properties/kuendigungsfrist'
                  type: object
                korrespondenzpartner:
                  $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/endkunde'
                abrechnungUeberNna:
                  type: boolean
                datenqualitaet:
                  $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema/properties/datenqualitaet'
                zeitraumId:
                  type: integer
                vertragspartner1:
                  type: array
                  items:
                    $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/endkunde'
                vertragspartner2:
                  type: array
                  items:
                    $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/endkunde'
                enFG:
                  type: array
                  items:
                    properties:
                      grund:
                        items:
                          enum:
                            - ENFG_STROMSPEICHER_UND_VERLUSTENERGIE
                            - ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN
                            - ENFG_UMLAGEERHEBUNG_BEI_ANLAGEN_ZUR_VERSTROMUNG_VON_KUPPELGASEN
                            - ENFG_HERSTELLUNG_VON_GRUENEN_WASSERSTOFF
                            - ENFG_STROMKOSTENINTENSIVE_UNTERNEHMEN
                            - ENFG_HERSTELLUNG_VON_WASSERSTOFF_IN_STROMKOSTENINTENSIVEN_UNTERNEHMEN
                            - ENFG_SCHIENENBAHNEN
                            - ENFG_ELEKTRISCHE_BETRIEBENE_BUSSEN_IM_LINIENVERKEHR
                            - ENFG_LANDSTROMANLAGEN
                          type: string
                        type: array
                      grundlageVerringerungUmlagen:
                        enum:
                          - ERFUELLT_VORAUSSETZUNG_NACH_ENFG
                          - ERFUELLT_NICHT_VORAUSSETZUNG_NACH_ENFG
                          - KEINE_ANGABE
                        type: string
                    type: object
              required:
                - boTyp
                - versionStruktur
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/responses/200/content/application~1json/schema'
          description: Erfolgreiches Erstellen des Energieliefervertrages | Successful creating of energy delivery contract
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS
      tags:
        - ERSTELLEN | CREATE
  /ERSTELLEN_PROZESSDATEN_LIEFERENDE:
    post:
      description: Beenden einer Liefersituation zum gegebenen Datum (Parameter1) an der gegebenen marktlokationsId (Parameter2) | Start a delivery end on the given date (Parameter1)  at the given market location ID (Parameter2)
      operationId: ERSTELLEN_PROZESSDATEN_LIEFERENDE
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: ERSTELLEN_PROZESSDATEN_LIEFERENDE
            example: NOCODB_ERSTELLEN_PROZESSDATEN_LIEFERENDE
            type: string
        - description: marktlokationsId | market location identifier
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      requestBody:
        content:
          application/json:
            examples:
              'PI 55004 - ROLLE NB : DATEN AUS ANFRAGE LF':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '74018657187'
                        sparte: STROM
                        energierichtung: AUSSP
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsende: '2024-06-30T22:00:00Z'
                        lokationsId: '74018657187'
                        lokationsTyp: MALO
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        marktlokationsId: '74018657187'
                  transaktionsdaten:
                    datenaustauschreferenz: '117398'
                    sparte: STROM
                    transaktionsgrund: E01
                    vorgangsnummer: '1043400522'
                    pruefidentifikator: '55004'
                    absender:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9903790000002'
                      rollencodetyp: BDEW
                    empfaenger:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9900321000005'
                      rollencodetyp: BDEW
                    dokumentennummer: '12345'
                    kategorie: E02
                    nachrichtendatum: '2024-04-01T07:40:00Z'
                    nachrichtenreferenznummer: '796205'
                    freitext:
                      freitext1: ABC
                  zusatzdaten: null
              'PI 55005 - ROLLE LF : DATEN AUS ANTWORT NB':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '50263461490'
                        sparte: STROM
                        energierichtung: AUSSP
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsende: '2024-04-30T22:00:00Z'
                        lokationsId: '50263461490'
                        lokationsTyp: MALO
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        marktlokationsId: '50263461490'
                        bilanzierungsende: '2024-04-30T22:00:00Z'
                  transaktionsdaten:
                    datenaustauschreferenz: '10000159359739'
                    sparte: STROM
                    transaktionsgrund: ZT4
                    vorgangsnummer: BE08461C62B11EEE99D02638E374580A
                    pruefidentifikator: '55005'
                    absender:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9900321000005'
                      rollencodetyp: BDEW
                      ansprechpartner:
                        boTyp: ANSPRECHPARTNER
                        versionStruktur: '1'
                        nachname: Ansprechpartner GPKE SWBK Netz
                        eMailAdresse: marktpartnerwechsel.swbk@energis-netzgesellschaft.de
                    empfaenger:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9903790000002'
                      rollencodetyp: BDEW
                    dokumentennummer: '10000159359739'
                    kategorie: E02
                    nachrichtendatum: '2024-04-01T08:52:00Z'
                    nachrichtenreferenznummer: '10000159359739'
                    anfragereferenznummer: PCL_5923100909360499050790000005011
                    antwortstatus: A06
                    antwortstatusCodeliste: E_0401
                  zusatzdaten: null
              'PI 55007 - ROLLE LF : DATEN AUS ANTWORT NB':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '50263791178'
                        energierichtung: AUSSP
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsende: '2024-04-30T22:00:00Z'
                        lokationsId: '50263791178'
                        lokationsTyp: MALO
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        marktlokationsId: '50263791178'
                        bilanzierungsende: '2024-04-30T22:00:00Z'
                  transaktionsdaten:
                    datenaustauschreferenz: '100806646839'
                    sparte: STROM
                    transaktionsgrund: Z33
                    vorgangsnummer: 9901064000005P010011008066468391
                    pruefidentifikator: '55007'
                    absender:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9900321000005'
                      rollencodetyp: BDEW
                    empfaenger:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9903790000002'
                      rollencodetyp: BDEW
                    dokumentennummer: '100806646839'
                    kategorie: E02
                    nachrichtendatum: '2024-04-01T12:14:00Z'
                    nachrichtenreferenznummer: '100806646839'
              'PI 55008 - ROLLE NB : DATEN AUS ANFRAGE LF':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '74018657187'
                        sparte: STROM
                        energierichtung: AUSSP
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsende: '2024-06-30T22:00:00Z'
                        lokationsId: '74018657187'
                        lokationsTyp: MALO
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        marktlokationsId: '74018657187'
                        bilanzierungsende: '2024-06-30T22:00:00Z'
                  transaktionsdaten:
                    datenaustauschreferenz: '745100'
                    sparte: STROM
                    transaktionsgrund: ZQ7
                    vorgangsnummer: '310913210'
                    pruefidentifikator: '55008'
                    absender:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9903790000002'
                      rollencodetyp: BDEW
                    empfaenger:
                      boTyp: MARKTTEILNEHMER
                      versionStruktur: '1'
                      rollencodenummer: '9900321000005'
                      rollencodetyp: BDEW
                    dokumentennummer: 711412BGM
                    kategorie: E02
                    nachrichtendatum: '2024-04-03T12:31:00Z'
                    nachrichtenreferenznummer: '711412'
                    anfragereferenznummer: ABC1234567
                    antwortstatus: A10
                    antwortstatusCodeliste: E_0502
                  zusatzdaten: null
            schema:
              type: object
              properties:
                stammdaten:
                  type: object
                  properties:
                    BILANZIERUNG:
                      type: array
                      items:
                        properties:
                          abwicklungsmodell:
                            enum:
                              - MODELL_1_BILANZIERUNG_AN_MARKTLOKATION
                              - MODELL_2_BILANZIERUNG_IM_BILANZIERUNGSGEBIET
                            type: string
                          aggregationsverantwortung:
                            enum:
                              - UENB
                              - VNB
                            type: string
                          bilanzierungsbeginn:
                            format: date-time
                            type: string
                          bilanzierungsende:
                            format: date-time
                            type: string
                          bilanzkreis:
                            type: string
                          boTyp:
                            default: BILANZIERUNG
                            type: string
                          datenqualitaet:
                            $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema/properties/datenqualitaet'
                          detailsPrognosegrundlage:
                            items:
                              enum:
                                - SLP_SEP
                                - TLP_TEP
                                - TEP
                              type: string
                            type: array
                          fallgruppenzuordnung:
                            enum:
                              - GABI_RLMmT
                              - GABI_RLMoT
                              - GABI_RLMNEV
                            type: string
                          grundWahlrechtPrognosegrundlage:
                            $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/BILANZIERUNG/items/properties/wahlrechtPrognosegrundlage'
                          jahresverbrauchsprognose:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/aufteilungsmenge'
                          kundenwert:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/aufteilungsmenge'
                          lastprofile:
                            items:
                              properties:
                                bezeichnung:
                                  type: string
                                einspeisung:
                                  type: boolean
                                herausgeber:
                                  type: string
                                profilart:
                                  enum:
                                    - ART_STANDARDLASTPROFIL
                                    - ART_TAGESPARAMETERABHAENGIGES_LASTPROFIL
                                    - ART_LASTPROFIL
                                  type: string
                                profilschar:
                                  type: string
                                tagesparameter:
                                  properties:
                                    dienstanbieter:
                                      type: string
                                    herausgeber:
                                      enum:
                                        - NB
                                        - BDEW
                                        - TUM
                                      type: string
                                    klimazone:
                                      type: string
                                    temperaturmessstelle:
                                      type: string
                                  type: object
                                verfahren:
                                  enum:
                                    - SYNTHETISCH
                                    - ANALYTISCH
                                  type: string
                              type: object
                            type: array
                          lastprofileBilanzierungsbeteiligter:
                            items:
                              $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/BILANZIERUNG/items/properties/lastprofile/items'
                            type: array
                          marktlokationsId:
                            type: string
                          prognosegrundlage:
                            enum:
                              - WERTE
                              - PROFILE
                            type: string
                          temperaturarbeit:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/aufteilungsmenge'
                          verbrauchsaufteilung:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/aufteilungsmenge'
                          versionStruktur:
                            default: '1'
                            type: string
                          vorjahresverbrauch:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/aufteilungsmenge'
                          wahlrechtPrognosegrundlage:
                            enum:
                              - DURCH_LF
                              - DURCH_LF_NICHT_GEGEBEN
                              - NICHT_WEGEN_GROSSEN_VERBRAUCHS
                              - NICHT_WEGEN_EIGENVERBRAUCH
                              - NICHT_WEGEN_TAGES_VERBRAUCH
                              - NICHT_WEGEN_ENWG
                            type: string
                          zeitraumId:
                            type: integer
                          zeitreihentyp:
                            type: string
                        required:
                          - boTyp
                          - versionStruktur
                        type: object
                    MARKTLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    MESSLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MESSLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    NETZNUTZUNGSVERTRAG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
                    MESSSTELLENBETRIEBSVERTRAG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
                    ENERGIEMENGE:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
                    ZAEHLER:
                      type: array
                      items:
                        properties:
                          baujahr:
                            description: DTM+Z03
                            type: string
                          befestigungsart:
                            enum:
                              - STECKTECHNIK
                              - DREIPUNKT
                              - HUTSCHIENE
                              - EINSTUTZEN
                              - ZWEISTUTZEN
                            type: string
                          boTyp:
                            default: ZAEHLER
                            type: string
                          eichungBis:
                            format: date-time
                            type: string
                          fernschaltung:
                            enum:
                              - VORHANDEN
                              - NICHT_VORHANDEN
                            type: string
                          gateway:
                            type: string
                          geraete:
                            items:
                              $ref: '#/paths/~1AKTUALISIEREN_MESSLOKATION_BASIS/post/requestBody/content/application~1json/schema/properties/geraete/items'
                            type: array
                          geraetemerkmal:
                            enum:
                              - EINTARIF
                              - ZWEITARIF
                              - MEHRTARIF
                              - GAS_G2P5
                              - GAS_G4
                              - GAS_G6
                              - GAS_G10
                              - GAS_G16
                              - GAS_G25
                              - GAS_G40
                              - GAS_G65
                              - GAS_G100
                              - GAS_G160
                              - GAS_G250
                              - GAS_G350
                              - GAS_G400
                              - GAS_G4000
                              - GAS_G650
                              - GAS_G6500
                              - GAS_G1000
                              - GAS_G10000
                              - GAS_G12500
                              - GAS_G1600
                              - GAS_G16000
                              - GAS_G2500
                              - IMPULSGEBER_G4_G100
                              - IMPULSGEBER_G100
                              - MODEM_GSM
                              - MODEM_GPRS
                              - MODEM_FUNK
                              - MODEM_GSM_O_LG
                              - MODEM_GSM_M_LG
                              - MODEM_FESTNETZ
                              - MODEM_GPRS_M_LG
                              - PLC_COM
                              - ETHERNET_KOM
                              - DSL_KOM
                              - LTE_KOM
                              - RUNDSTEUEREMPFAENGER
                              - TARIFSCHALTGERAET
                              - ZUSTANDS_MU
                              - TEMPERATUR_MU
                              - KOMPAKT_MU
                              - SYSTEM_MU
                              - UNBESTIMMT
                              - WASSER_MWZW
                              - WASSER_WZWW
                              - WASSER_WZ01
                              - WASSER_WZ02
                              - WASSER_WZ03
                              - WASSER_WZ04
                              - WASSER_WZ05
                              - WASSER_WZ06
                              - WASSER_WZ07
                              - WASSER_WZ08
                              - WASSER_WZ09
                              - WASSER_WZ10
                              - WASSER_VWZ04
                              - WASSER_VWZ05
                              - WASSER_VWZ06
                              - WASSER_VWZ07
                              - WASSER_VWZ10
                              - DICHTEMENGENUMWERTER
                              - TEMPERATURMENGENUMWERTER
                              - ZUSTANDSMENGENUMWERTER
                              - BLOCKSTROMWANDLER
                              - MESSWANDLERSATZ_IMS_MME
                              - KOMBIMESSWANDLER
                              - SPANNUNGSWANDLER
                            type: string
                          herstellungsdatum:
                            format: date-time
                            type: string
                          marktlokationsId:
                            type: string
                          mengenumwertertyp:
                            enum:
                              - DICHTEMENGENUMWERTER
                              - TEMPERATURMENGENUMWERTER
                              - ZUSTANDSMENGENUMWERTER
                            type: string
                          messlokationsId:
                            type: string
                          messwerterfassung:
                            enum:
                              - FERNAUSLESBAR
                              - MANUELL_AUSGELESENE
                            type: string
                          serialnummer:
                            type: string
                          sparte:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/sparte'
                          tarifart:
                            enum:
                              - EINTARIF
                              - ZWEITARIF
                              - MEHRTARIF
                              - SMART_METER
                              - LEISTUNGSGEMESSEN
                            type: string
                          versionStruktur:
                            default: '1'
                            type: string
                          volumenerfassung:
                            $ref: '#/paths/~1LESEN_MESSLOKATION_BASIS/get/responses/200/content/application~1json/schema/properties/geraete/items/properties/volumenerfassung'
                          zaehlerauspraegung:
                            enum:
                              - EINRICHTUNGSZAEHLER
                              - ZWEIRICHTUNGSZAEHLER
                            type: string
                          zaehlergroesse:
                            $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/ZAEHLER/items/properties/geraetemerkmal'
                          zaehlerhersteller:
                            $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/endkunde'
                          zaehlerkonstante:
                            format: float
                            type: number
                          zaehlernummer:
                            type: string
                          zaehlertyp:
                            enum:
                              - DREHSTROMZAEHLER
                              - BALGENGASZAEHLER
                              - DREHKOLBENZAEHLER
                              - SMARTMETER
                              - LEISTUNGSZAEHLER
                              - MAXIMUMZAEHLER
                              - TURBINENRADGASZAEHLER
                              - ULTRASCHALLGASZAEHLER
                              - WECHSELSTROMZAEHLER
                              - WIRBELGASZAEHLER
                              - MESSDATENREGISTRIERGERAET
                              - ELEKTRONISCHERHAUSHALTSZAEHLER
                              - SONDERAUSSTATTUNG
                              - WASSERZAEHLER
                              - MODERNEMESSEINRICHTUNG
                            type: string
                          zaehlertypspezifikation:
                            enum:
                              - EDL40
                              - EDL21
                              - SONSTIGER_EHZ
                              - MME_STANDARD
                              - MME_MEDA
                            type: string
                          zaehlwerke:
                            items:
                              $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema/properties/zaehlwerke/items'
                            type: array
                        required:
                          - boTyp
                          - versionStruktur
                        type: object
                    TRANCHE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema'
                    NETZLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1LESEN_NETZLOKATION_BASIS/get/responses/200/content/application~1json/schema'
                    STEUERBARE_RESSOURCE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS/post/requestBody/content/application~1json/schema'
                    TECHNISCHE_RESSOURCE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS/post/requestBody/content/application~1json/schema'
                    LOKATIONSBUENDEL:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    AD_HOC_STEUERKANAL:
                      type: array
                      items:
                        properties:
                          IPAdresseCLSDevice:
                            properties:
                              IPAdresseCLSDevice1:
                                type: string
                              IPAdresseCLSDevice2:
                                type: string
                              IPAdresseCLSDevice3:
                                type: string
                              IPAdresseCLSDevice4:
                                type: string
                              IPAdresseCLSDevice5:
                                type: string
                            type: object
                          aussteller:
                            $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/WERTE_NACH_TYP2/items/properties/aussteller'
                          boTyp:
                            default: AD_HOC_STEUERKANAL
                            type: string
                          konfigurationsprodukt:
                            type: string
                          versionStruktur:
                            default: '1'
                            type: string
                          zertifikatsNutzer:
                            $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/WERTE_NACH_TYP2/items/properties/zertifikatsNutzer'
                          zieladresse:
                            $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/WERTE_NACH_TYP2/items/properties/zieladresse'
                        required:
                          - boTyp
                          - versionStruktur
                        type: object
                    WERTE_NACH_TYP2:
                      type: array
                      items:
                        properties:
                          aenderungsmoeglichkeitKonfiguration:
                            enum:
                              - ERFORDERLICH
                              - NICHT_ERFORDERLICH
                            type: string
                          aussteller:
                            properties:
                              aussteller1:
                                type: string
                              aussteller2:
                                type: string
                              aussteller3:
                                type: string
                              aussteller4:
                                type: string
                              aussteller5:
                                type: string
                            type: object
                          boTyp:
                            default: WERTE_NACH_TYP2
                            type: string
                          konfigurationsprodukt:
                            type: string
                          messprodukt:
                            type: string
                          schwellwerte:
                            items:
                              properties:
                                konfigurationsprodukt:
                                  type: string
                                obererSchwellwert:
                                  format: float
                                  type: number
                                untererSchwellwert:
                                  format: float
                                  type: number
                              type: object
                            type: array
                          versionStruktur:
                            default: '1'
                            type: string
                          zertifikatsNutzer:
                            properties:
                              zertifikatsNutzer1:
                                type: string
                              zertifikatsNutzer2:
                                type: string
                              zertifikatsNutzer3:
                                type: string
                              zertifikatsNutzer4:
                                type: string
                              zertifikatsNutzer5:
                                type: string
                            type: object
                          zieladresse:
                            properties:
                              zieladresse1:
                                type: string
                              zieladresse2:
                                type: string
                              zieladresse3:
                                type: string
                              zieladresse4:
                                type: string
                              zieladresse5:
                                type: string
                            type: object
                        required:
                          - boTyp
                          - versionStruktur
                        type: object
                    RUHENDE_MARKTLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    MARKTLOKATION_KUNDENANLAGE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    VERWENDUNGSZEITRAUM:
                      type: array
                      items:
                        properties:
                          boTyp:
                            default: VERWENDUNGSZEITRAUM
                            type: string
                          qualitaet:
                            enum:
                              - IM_SYSTEM_VORHANDENE_DATEN
                              - ERWARTETE_DATEN
                              - GUELTIGE_DATEN
                              - KEINE_DATEN
                              - IM_SYSTEM_KEINE_DATEN_VORHANDEN
                              - KEINE_DATEN_ERWARTET
                            type: string
                          versionStruktur:
                            default: '1'
                            type: string
                          verwendungAb:
                            format: date-time
                            type: string
                          verwendungBis:
                            format: date-time
                            type: string
                          zeitraumId:
                            type: integer
                        required:
                          - boTyp
                          - versionStruktur
                        type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Erfolgsmeldung auf Prozessdaten API Aufruf | Success message on process data API call
                properties:
                  messages:
                    description: Fachliche Rückmeldungen zur Anzeige in der Oberfläche | Professional feedback on the display in the user interface
                    type: array
                    items:
                      type: object
                      properties:
                        objectId:
                          type: string
                          example: DE63653316530AEOJQLMHUW55UC6J5513
                        objectType:
                          type: string
                          example: Messlokation
                        message:
                          type: string
                          example: Messlokation DE63653316530AEOJQLMHUW55UC6J5513 wurde der Marktlokation 84043719589 zugeordnet
                  message:
                    type: string
                    description: Technische Meldung | Technische Meldung
                    example: meterlocation assigned.
          description: Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of communication data
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: ERSTELLEN_PROZESSDATEN_LIEFERENDE
      tags:
        - PROZESSDATEN | PROCESSING DATA
  /ERSTELLEN_PROZESSDATEN_LIEFERBEGINN:
    post:
      description: Starten eines Lieferbeginns zum gegebenen Datum (Parameter1) an der gegeben marktlokationsId (Parameter2) | Start a delivery start on the given date (Parameter1)  at the given market location ID (Parameter2)
      operationId: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
            example: NOCODB_ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
            type: string
        - description: marktlokationsId | market location identifier
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      requestBody:
        content:
          application/json:
            examples:
              'PI 55001 - ROLLE NB : DATEN AUS ANFRAGE LF':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '50074561192'
                        sparte: STROM
                        energierichtung: AUSSP
                    MESSLOKATION:
                      - boTyp: MESSLOKATION
                        versionStruktur: '1'
                        sparte: STROM
                        ablesekartenempfaenger:
                          boTyp: GESCHAEFTSPARTNER
                          versionStruktur: '1'
                          name1: Test2312312
                          gewerbekennzeichnung: true
                          geschaeftspartnerrolle:
                            - ABLESEKARTENEMPFAENGER
                          partneradresse:
                            postleitzahl: '11111'
                            ort: Dummyort
                            strasse: Dummyweg
                            landescode: DE
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsbeginn: '2024-12-31T23:00:00Z'
                        vertragskonditionen:
                          haushaltskunde: true
                          netznutzungsvertrag: LIEFERANTEN_NB
                          netznutzungszahler: LIEFERANT
                        gemeinderabatt: 0
                    ENERGIELIEFERVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: ENERGIELIEFERVERTRAG
                        sparte: STROM
                        vertragspartner2:
                          - boTyp: GESCHAEFTSPARTNER
                            versionStruktur: '1'
                            anrede: Dr.
                            name1: Mustermann
                            name2: Max
                            gewerbekennzeichnung: false
                            geschaeftspartnerrolle:
                              - KUNDE
                        korrespondenzpartner:
                          boTyp: GESCHAEFTSPARTNER
                          versionStruktur: '1'
                          name1: Test2312312
                          gewerbekennzeichnung: false
                          partneradresse:
                            postleitzahl: '00000'
                            ort: Dummyort
                            strasse: Dummystrasse
                            landescode: DE
                        enFG:
                          - grundlageVerringerungUmlagen: KEINE_ANGABE
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        lastprofile:
                          - bezeichnung: H00
                            verfahren: SYNTHETISCH
                            profilart: ART_STANDARDLASTPROFIL
                            einspeisung: false
                            herausgeber: NB
                        bilanzkreis: Test2312312
                        jahresverbrauchsprognose:
                          wert: 2000
                          einheit: KWH
              'PI 55002 - ROLLE LF : DATEN AUS ANTWORT NB':
                value:
                  stammdaten:
                    MARKTLOKATION:
                      - boTyp: MARKTLOKATION
                        versionStruktur: '1'
                        marktlokationsId: '50754496956'
                        sparte: STROM
                        energierichtung: AUSSP
                        netzebene: NSP
                        bilanzierungsgebiet: 11YW-STU-NETZE-R
                        lokationsadresse:
                          postleitzahl: '70569'
                          ort: Stuttgart
                          strasse: Schwarzwaldstr.
                          hausnummer: '102'
                          landescode: DE
                          ortsteil: Kaltental
                        marktrollen:
                          - boTyp: MARKTTEILNEHMER
                            versionStruktur: '1'
                            rollencodenummer: '4045399000077'
                            marktrolle: UENB
                            weiterverpflichtet: false
                            messstellenbetreiberEigenschaft: GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER
                        regelzone: 10YDE-RWENET---I
                        zaehlwerke:
                          - obisKennzahl: '1-1:1.9.0'
                            verwendungszwecke:
                              - marktrolle: LF
                                zweck:
                                  - ENDKUNDENABRECHNUNG
                                  - NETZNUTZUNGSABRECHNUNG
                                  - MEHRMINDERMENGENABRECHNUNG
                            verbrauchsart: KL
                            unterbrechbarkeit: NUV
                            wertegranularitaet: JAEHRLICH
                        messtechnischeEinordnung: KME_MME
                        netznutzungsabrechnungsdaten:
                          - artikelId: 1-02-0-002
                            artikelIdTyp: ARTIKELID
                            gemeinderabatt: 0
                          - artikelId: 1-06-7-004
                            artikelIdTyp: ARTIKELID
                            anzahl: 1
                            gemeinderabatt: 0
                          - artikelId: 1-08-4-004
                            artikelIdTyp: ARTIKELID
                            gemeinderabatt: 0
                          - artikelId: 1-10-1
                            artikelIdTyp: GRUPPENARTIKELID
                            gemeinderabatt: 0
                          - artikelId: 1-10-2
                            artikelIdTyp: GRUPPENARTIKELID
                            gemeinderabatt: 0
                          - artikelId: 1-10-4
                            artikelIdTyp: GRUPPENARTIKELID
                            gemeinderabatt: 0
                    MESSLOKATION:
                      - boTyp: MESSLOKATION
                        versionStruktur: '1'
                        messlokationsId: DE0009697056900614312080040415184
                        sparte: STROM
                        netzebenemessung: NSP
                        ablesekartenempfaenger:
                          boTyp: GESCHAEFTSPARTNER
                          versionStruktur: '1'
                          name1: Schmidgall
                          name2: Sandra-Martina
                          gewerbekennzeichnung: false
                          geschaeftspartnerrolle:
                            - ABLESEKARTENEMPFAENGER
                          partneradresse:
                            postleitzahl: '70569'
                            ort: Stuttgart
                            strasse: Schwarzwaldstr.
                            hausnummer: '102'
                            landescode: DE
                            ortsteil: Kaltental
                        marktrollen:
                          - boTyp: MARKTTEILNEHMER
                            versionStruktur: '1'
                            rollencodenummer: '9977764000009'
                            marktrolle: MSB
                            weiterverpflichtet: false
                            messstellenbetreiberEigenschaft: GRUNDZUSTAENDIGER_MESSSTELLENBETREIBER
                          - boTyp: MARKTTEILNEHMER
                            versionStruktur: '1'
                            rollencodenummer: '9977764000009'
                            marktrolle: GMSB
                    NETZNUTZUNGSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: NETZNUTZUNGSVERTRAG
                        sparte: STROM
                        vertragsbeginn: '2024-05-30T22:00:00Z'
                        vertragskonditionen:
                          netznutzungsabrechnung:
                            abrechnungsZeitraum: '03020401'
                          netznutzungsabrechnungIntervall: 12
                          haushaltskunde: true
                          netznutzungsvertrag: LIEFERANTEN_NB
                          netznutzungszahler: LIEFERANT
                          netznutzungsabrechnungsvariante: ARBEITSPREIS_GRUNDPREIS
                          netznutzungsabrechnungsgrundlage: LIEFERSCHEIN
                          naechstenetznutzungsabrechnung: '2025'
                        lokationsId: '50754496956'
                        lokationsTyp: MALO
                    MESSSTELLENBETRIEBSVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: MESSSTELLENBETRIEBSVERTRAG
                        sparte: STROM
                        vertragskonditionen:
                          geplanteTurnusablesung:
                            ableseZeitraum: '03020401'
                          abrechnungUeberNna: true
                        lokationsId: DE0009697056900614312080040415184
                        lokationsTyp: MELO
                        vertragsbeginn: '2024-05-30T22:00:00Z'
                    ENERGIELIEFERVERTRAG:
                      - boTyp: VERTRAG
                        versionStruktur: '1'
                        vertragsart: ENERGIELIEFERVERTRAG
                        sparte: STROM
                        vertragspartner2:
                          - boTyp: GESCHAEFTSPARTNER
                            versionStruktur: '1'
                            name1: Müller
                            name2: Michaela
                            gewerbekennzeichnung: false
                            geschaeftspartnerrolle:
                              - KUNDE
                            partneradresse:
                              postleitzahl: '70569'
                              ort: Stuttgart
                              strasse: Schwarzwaldstr.
                              hausnummer: '102'
                              landescode: DE
                              ortsteil: Kaltental
                        korrespondenzpartner:
                          boTyp: GESCHAEFTSPARTNER
                          versionStruktur: '1'
                          name1: Müller
                          name2: Michaela
                          gewerbekennzeichnung: false
                          partneradresse:
                            postleitzahl: '70569'
                            ort: Stuttgart
                            strasse: Schwarzwaldstr.
                            hausnummer: '102'
                            landescode: DE
                            ortsteil: Kaltental
                        enFG:
                          - grundlageVerringerungUmlagen: KEINE_ANGABE
                    BILANZIERUNG:
                      - boTyp: BILANZIERUNG
                        versionStruktur: '1'
                        lastprofile:
                          - bezeichnung: H00
                            verfahren: SYNTHETISCH
                            profilart: ART_STANDARDLASTPROFIL
                            einspeisung: false
                            herausgeber: NB
                        bilanzkreis: Test2312312
                        jahresverbrauchsprognose:
                          wert: 1200
                          einheit: KWH
            schema:
              type: object
              properties:
                stammdaten:
                  type: object
                  properties:
                    BILANZIERUNG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/BILANZIERUNG/items'
                    MARKTLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    MESSLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MESSLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    NETZNUTZUNGSVERTRAG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
                    MESSSTELLENBETRIEBSVERTRAG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
                    ENERGIELIEFERVERTRAG:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
                    ENERGIEMENGE:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_ENERGIEMENGE_LASTGANG/post/requestBody/content/application~1json/schema'
                    ZAEHLER:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/ZAEHLER/items'
                    TRANCHE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_TRANCHE_BASIS/post/requestBody/content/application~1json/schema'
                    NETZLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1LESEN_NETZLOKATION_BASIS/get/responses/200/content/application~1json/schema'
                    STEUERBARE_RESSOURCE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_STEUERBARE_RESSOURCE_BASIS/post/requestBody/content/application~1json/schema'
                    TECHNISCHE_RESSOURCE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_TECHNISCHE_RESSOURCE_BASIS/post/requestBody/content/application~1json/schema'
                    LOKATIONSBUENDEL:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_NETZLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    AD_HOC_STEUERKANAL:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/AD_HOC_STEUERKANAL/items'
                    WERTE_NACH_TYP2:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/WERTE_NACH_TYP2/items'
                    RUHENDE_MARKTLOKATION:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    MARKTLOKATION_KUNDENANLAGE:
                      type: array
                      items:
                        $ref: '#/paths/~1AKTUALISIEREN_MARKTLOKATION_BASIS/post/requestBody/content/application~1json/schema'
                    VERWENDUNGSZEITRAUM:
                      type: array
                      items:
                        $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/requestBody/content/application~1json/schema/properties/stammdaten/properties/VERWENDUNGSZEITRAUM/items'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_PROZESSDATEN_LIEFERENDE/post/responses/200/content/application~1json/schema'
          description: Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of communication data
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: ERSTELLEN_PROZESSDATEN_LIEFERBEGINN
      tags:
        - PROZESSDATEN | PROCESSING DATA
  /LESEN_AVIS_BASIS:
    get:
      description: Lesen des Avises mittels Avisnummer (Parameter1) zum Zeitpunkt (Parameter2) | Reading the avis via avisnumber (Parameter1) at the time (Parameter2)
      operationId: LESEN_AVIS_BASIS
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: LESEN_AVIS_BASIS
            example: SAP_LESEN_AVIS_BASIS
            type: string
        - description: avisNummer | avis Number
          in: query
          name: parameter1
          required: true
          schema:
            example: '123456'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  avisNummer:
                    type: string
                  avisTyp:
                    enum:
                      - ABGELEHNTE_FORDERUNG
                      - ZAHLUNGSAVIS
                    type: string
                  boTyp:
                    default: AVIS
                    type: string
                  positionen:
                    items:
                      properties:
                        abweichung:
                          items:
                            properties:
                              abschlagsrechnungen:
                                items:
                                  type: string
                                type: array
                              abweichungsgrund:
                                enum:
                                  - PREIS_RECHENREGEL_FALSCH
                                  - FALSCHER_ABRECHNUNGSZEITRAUM
                                  - UNBEKANNTE_MARKTLOKATION_MESSLOKATION
                                  - SONSTIGER_ABWEICHUNGSGRUND
                                  - DOPPELTE_RECHNUNG
                                  - ABRECHNUNGSBEGINN_UNGLEICH_VERTRAGSBEGINN
                                  - ABRECHNUNGSENDE_UNGLEICH_VERTRAGSENDE
                                  - BETRAG_DER_ABSCHLAGSRECHNUNG_FALSCH
                                  - VORAUSBEZAHLTER_BETRAG_FALSCH
                                  - ARTIKEL_NICHT_VEREINBART
                                  - NETZNUTZUNGSMESSWERTE_ENERGIEMENGEN_FEHLEN
                                  - RECHNUNGSNUMMER_BEREITS_ERHALTEN
                                  - NETZNUTZUNGSMESSWERTE_ENERGIEMENGEN_FALSCH
                                  - ZEITLICHE_MENGENANGABE_FEHLERHAFT
                                  - FALSCHER_BILANZIERUNGSBEGINN
                                  - FALSCHES_NETZNUTZUNGSENDE
                                  - BILANZIERTE_MENGE_FEHLT
                                  - BILANZIERTE_MENGE_FALSCH
                                  - NETZNUTZUNGSABRECHNUNG_FEHLT
                                  - REVERSE_CHARGE_ANWENDUNG_FEHLT_ODER_FEHLERHAFT
                                  - ALLOKATIONSLISTE_FEHLT
                                  - MEHR_MINDERMENGE_FALSCH
                                  - UNGUELTIGES_RECHNUNGSDATUM
                                  - ZEITINTERVALL_DER_BILANZIERTEN_MENGE_INKONSISTENT
                                  - RECHNUNGSEMPFAENGER_WIDERSPRICHT_DER_STEUERRECHTLICHEN_EINSCHAETZUNG_DES_RECHNUNGSSTELLERS
                                  - ANGEGEBENE_QUOTES_AN_MARKTLOKATION_NICHT_VORHANDEN
                                  - RECHNUNGSABWICKLUNG_NICHT_VEREINBART
                                  - COMDIS_WIRD_ABGELEHNT
                                type: string
                              abweichungsgrundBemerkung:
                                type: string
                              abweichungsgrundBemerkung1:
                                type: string
                              abweichungsgrundBemerkung2:
                                type: string
                              abweichungsgrundBemerkung3:
                                type: string
                              abweichungsgrundBemerkung4:
                                type: string
                              abweichungsgrundBemerkung5:
                                type: string
                              abweichungsgrundCode:
                                type: string
                              abweichungsgrundCodeliste:
                                type: string
                              fehlendePositionen1:
                                type: string
                              fehlendePositionen2:
                                type: string
                              fehlendePositionen3:
                                type: string
                              fehlendePositionen4:
                                type: string
                              fehlendePositionen5:
                                type: string
                              referenz:
                                type: string
                              zugehoerigeBestellung:
                                type: string
                              zugehoerigeRechnung:
                                type: string
                            type: object
                          type: array
                        gesamtBrutto:
                          $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/200/content/application~1json/schema/properties/zuZahlen'
                        istSelbstausgestellt:
                          type: boolean
                        istStorno:
                          type: boolean
                        positionen:
                          items:
                            properties:
                              abweichung:
                                items:
                                  $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/200/content/application~1json/schema/properties/positionen/items/properties/abweichung/items'
                                type: array
                              positionsnummer:
                                type: integer
                            type: object
                          type: array
                        rechnungsDatum:
                          format: date-time
                          type: string
                        rechnungsNummer:
                          type: string
                        referenz:
                          type: string
                        zuZahlen:
                          $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/200/content/application~1json/schema/properties/zuZahlen'
                      type: object
                    type: array
                  versionStruktur:
                    default: '1'
                    type: string
                  zuZahlen:
                    properties:
                      waehrung:
                        type: string
                      wert:
                        format: float
                        type: number
                    type: object
                required:
                  - boTyp
                  - versionStruktur
                type: object
          description: Erfolgreiches Lesen des Avises | Successful reading of energy delivery contract
        '400':
          content:
            application/json:
              schema:
                type: object
                description: Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call
                properties:
                  errorCode:
                    type: string
                    description: Error identifier
                    example: '400'
                  message:
                    type: string
                    description: Technische Meldung | Technische Meldung
                    example: Validation Failed
                  errors:
                    type: array
                    description: Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 5432
                        field:
                          type: string
                          example: first_name
                        message:
                          type: string
                          example: First name cannot have fancy characters
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: LESEN_AVIS_BASIS
      tags:
        - LESEN | READ
  /AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS:
    post:
      description: Lesen der Kommunikationsdaten des Serviceanbieters (Parameter1)  zum Zeitpunkt (Parameter2) | Reading the communication data of the service provider (parameter 1)  at the time (parameter 2)
      operationId: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
      parameters:
        - description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          in: query
          name: command
          schema:
            default: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
            example: NOCODB_AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
            type: string
        - description: LokationsId | Location ID
          in: query
          name: parameter1
          required: true
          schema:
            example: '74018657187'
            type: string
        - description: Datum (Gültig ab) | Date (Valid from)
          in: query
          name: parameter2
          required: true
          schema:
            example: '2024-06-28T12:18:00Z'
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1ERSTELLEN_ENERGIELIEFERVERTRAG_BASIS/post/requestBody/content/application~1json/schema'
          description: Erfolgreiches Lesen des Energieliefervertrages | Successful reading of energy delivery contract
        '400':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Fehlerhafte Anfrage | Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_AVIS_BASIS/get/responses/400/content/application~1json/schema'
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
      summary: AKTUALISEREN_TECHNISCHE_RESSOURCE_BASIS
      tags:
        - AKTUALISIEREN | UPDATE
  /AKTUALISIEREN_TRANCHE_BASIS:
    post:
      description: Ändern einer Tranche mittels LokationsId (Parameter1) zum Zeitpunkt (Parameter2) | Changing a tranche using location ID (Parameter1) at the time (Parameter2)
      operationId: AKTUALISIEREN_TRANCHE_BASIS
      parameters:
        - description: Name der Operation | Name of the operation
          in: query
[...]
