openapi: 3.1.0
info:
  title: MACO APP - erforderliche ERP Schnittstellen | MACO APP - needed ERP interfaces
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  description: |
    Übersicht der erforderlichen BO4E- und Prozessschnittstellen, die die MACO APP für die Ausführung der Marktprozesse benötigt. | Overview of the necessary BO4E and process interfaces that the MACO APP requires to execute market processes.

    <details>
    <summary>Changelog</summary>
    **Version 1.0.5** - *18. September 2024* - _Autor: DAS_ - Update Default Command auf SAP_ statt NOCODB_ - Update Default Beispiel MaloId auf 50074561188
    **Version 1.0.4** - *13. September 2024* - _Autor: Tu Quy Nguyen_ - Update Formatierungen
    **Version 1.0.3** - *28. August 2024* - _Autor: Tu Quy Nguyen_ - Aktualisierung Parameter LESEN Schnittstellen
    **Version 1.0.2** - *20. August 2024* - _Autor: Tu Quy Nguyen_ - Schema ergänzt für START_N_BILA_REL_AEND_VON_NB, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_N_BILA_REL_AEND_VON_LF, START_MESSWERTUEBERMITTLUNG, START_MALOIDENT, START_LIEFERENDE, START_KUENDIGUNG
    **Version 1.0.1** - *08. August 2024* - _Autor: DAS_
    - Hinzufügen von mehrsprachigen Beschreibungen und Changelog. - Anpassung der Schema-Beschreibungen in Deutsch und Englisch.
    **Version 1.0** - *01. August 2024* - _Autor: DAS_
    - Initiale Version der API-Dokumentation.

    </details>
  version: 1.0.5
servers:
  - url: 'https://api.macoapp.de'
    description: Mock-Umgebung | Mock environment
tags:
  - name: LESEN | READ
    description: Lesender Zugriff auf Geschäftsobjekte | Reading access to business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: AKTUALISIEREN | UPDATE
    description: Aktualisierung bestehender Geschäftsobjekte | Updating existing business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: ERSTELLEN | CREATE
    description: Erstellen von Geschäftsobjekten | Creating business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: LÖSCHEN | DELETE
    description: Löschen von Geschäftsobjekten | Deleting business objects
    externalDocs:
      description: BO4E JSON Schema
      url: 'https://github.com/conuti-gmbh/bo4e-schema'
  - name: PROZESSDATEN | PROCESSING DATA
    description: Auslösen von Prozessen im ERP System | Triggering processes in the ERP system
  - name: EVENTDATEN | EVENT DATA
    description: Lesen von Eventdaten im ERP System | Reading event data in the ERP system
security: []
paths:
  /LESEN_EVENT_START_KUENDIGUNG:
    post:
      tags:
        - EVENTDATEN | EVENT DATA
      summary: LESEN_EVENT_START_KUENDIGUNG
      description: Lesen der Belegdaten zur Id (Parameter1) mit dem Datum (Parameter2) | Reading data from id (Parameter1) at the given date (Parameter2)
      operationId: LESEN_EVENT_START_KUENDIGUNG
      parameters:
        - name: command
          in: query
          description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          schema:
            type: string
            default: LESEN_EVENT_START_KUENDIGUNG
            example: SAP_LESEN_EVENT_START_KUENDIGUNG
        - name: parameter1
          description: BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend
          in: query
          required: true
          schema:
            type: string
            example: '110000000605'
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: '2024-06-28T12:18:00Z'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Schema für Lieferende | Scheme for termination
              properties:
                marktlokationsId:
                  type: string
                  default: '74018657187'
                sparte:
                  type: string
                  enum:
                    - STROM
                    - GAS
                    - FERNWAERME
                    - NAHWAERME
                    - WASSER
                    - ABWASSER
                zaehlernummer:
                  type: string
                  default: '123456789'
                vertragsart:
                  type: string
                  default: ENERGIELIEFERVERTRAG
                absender:
                  type: string
                  default: '9900321000005'
                empfaenger:
                  type: string
                  default: '9900321000005'
      responses:
        '200':
          description: Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of communication data
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_EVENT_START_KUENDIGUNG/post/requestBody/content/application~1json/schema.yml'
        '400':
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  statusCode:
                    type: integer
                required:
                  - error
                  - message
                  - statusCode
        '422':
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_EVENT_START_KUENDIGUNG/post/responses/400/content/application~1json/schema.yml'
  /LESEN_EVENT_START_LIEFERBEGINN:
    post:
      tags:
        - EVENTDATEN | EVENT DATA
      summary: LESEN_EVENT_START_LIEFERBEGINN
      description: Lesen der Belegdaten zur Id (Parameter1) mit dem Datum (Parameter2) | Reading data from id (Parameter1) at the given date (Parameter2)
      operationId: LESEN_EVENT_START_LIEFERBEGINN
      parameters:
        - name: command
          in: query
          description: Name der Operation | Name of the operation (MACO APP interal assignment between process and interface)
          schema:
            type: string
            default: LESEN_EVENT_START_LIEFERBEGINN
            example: SAP_LESEN_EVENT_START_LIEFERBEGINN
        - name: parameter1
          description: BelegId des Datensatzes in der Tabelle im Backend | DocumentId of the data record in the table in the backend
          in: query
          required: true
          schema:
            type: string
            example: '110000000605'
        - name: parameter2
          description: Datum (Gültig ab) | Date (Valid from)
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: '2024-06-28T12:18:00Z'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Schema für Lieferbeginn | Schema for the delivery start
              properties:
                id:
                  type: string
                  example: '110000000605'
                marktlokationsId:
                  type: string
                  default: '74018657187'
                sparte:
                  $ref: '#/paths/~1LESEN_EVENT_START_KUENDIGUNG/post/requestBody/content/application~1json/schema/properties/sparte.yml'
                energierichtung:
                  type: string
                  enum:
                    - AUSSP
                    - EINSP
                verguetungEmpfaenger:
                  type: string
                  enum:
                    - KUNDE
                    - LIEFERANT
                bilanzkreis:
                  type: string
                  default: 11X----123456
                vertragsbeginn:
                  type: string
                  default: '2024-04-01T07:40:00Z'
                vertragsende:
                  type: string
                  default: '2024-04-01T07:40:00Z'
                haushaltskunde:
                  type: boolean
                gewerbekennzeichnung:
                  type: boolean
                anrede:
                  type: string
                  default: Musteranrede
                name1:
                  type: string
                  default: Mustername1
                name2:
                  type: string
                  default: Mustername2
                postleitzahl:
                  type: string
                  default: '12345'
                ort:
                  type: string
                  default: Musterort
                strasse:
                  type: string
                  default: Musterstrasse
                hausnummer:
                  type: string
                  default: 11a
                landescode:
                  type: string
                  default: DE
                ortsteil:
                  type: string
                  default: Musterortsteil
                empfaenger:
                  type: string
                  default: '9900321000005'
                transaktionsgrund:
                  type: string
                  default: E01
                transaktionsgrundergaenzung:
                  type: string
                transaktionsgrundergaenzungBefristeteAnmeldung:
                  type: string
                absender:
                  type: string
                  default: '9900321000005'
      responses:
        '200':
          description: Erfolgreiches Lesen der Kommunikationsdaten | Successful reading of communication data
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_EVENT_START_LIEFERBEGINN/post/requestBody/content/application~1json/schema.yml'
        '400':
          description: Fehlerhafte Anfrage | Bad Request
          content:
            application/json:
              schema:
                type: object
                description: Fehlermeldung auf Prozessdaten API Aufruf | Error message on process data API call
                properties:
                  errorCode:
                    type: string
                    description: Error identifier
                    example: '400'
                  message:
                    type: string
                    description: Technische Meldung | Technische Meldung
                    example: Validation Failed
                  errors:
                    type: array
                    description: Sammlung von Fehlercodes in einem Bucket | Collection of error codes in a bucket
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 5432
                        field:
                          type: string
                          example: first_name
                        message:
                          type: string
                          example: First name cannot have fancy characters
        '422':
          description: Nicht verarbeitbare Anfrage | Unprocessable Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1LESEN_EVENT_START_LIEFERBEGINN/post/responses/400/content/application~1json/schema.yml'
