openapi: 3.1.0
info:
  title: Trigger Event API
  description: |
    API zum Auslösen von ausgehenden Prozessen in der MACO APP | API for triggering outbound maco processes in the MACO APP

    <details>
    <summary>Changelog</summary>
    
    - **Version 1.0.2** - *04. Oktober 2024* - _Autor: DAS_
      - Update START_LIEFERBEGINN und START_LIEFERENDE
    
    **Version 1.0.1** - *08. August 2024* - _Autor: DAS_

    - Erweiterung der API um zusätzliche Schemas und Beispiele.
    - Hinzugefügte Schemas: `START_LIEFERBEGINN_STROM`, `START_LIEFERBEGINN_GAS`, `START_ABR_NN`, `START_DEFINITION_SCHALTZEIT`, `START_DEFINITION_LEISTUNGSKURVE`, `START_DEFINITION_ZAEHLZEIT`, `START_KUENDIGUNG`.

    **Version 1.0.0** - *01. August 2024* - _Autor: DAS_

    - Initiale Veröffentlichung der API mit dem `START_SPERRAUFTRAG`-Schema.

    </details>
  version: 1.0.2
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.macoapp.de
    description: Fake Env
tags:
  - name: SLIM EVENTS
    description: Trigger Event mit Angabe vom Typ und einer BelegId, mit der Daten im ERP nachgelesen werden können. | Trigger event with specification of the type and a document ID where data can be read in the backend.
  - name: SAP EVENTS
    description: Trigger Events aus dem CONVISTA SAP Adapter.      
  - name: EXTENDED EVENTS
    description: | 
      Trigger Events, die alle notwendigen Informationen enthalten, ohne Daten nachlesen zu müssen. | Trigger events that contain all necessary information.
      *Die erweiterten Events dokumentieren welche Parameter ein Event eines bestimmten Type enthalten kann und mindestens muss* | *The extended events document which parameters an event of a certain type can and at least must contain.*
  - name: LIEFERANT
    description: Trigger Events aus dem Backend in der Rolle Lieferant         
paths:
  $ref: paths/_index.yml

components:
  schemas:
    $ref: "../_schemas/openapi.yml#/components/schemas"